@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

html{
	overflow: hidden;
}




/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

#Pc{
	background:#fff;
}
#Pc #GlobalHeader .FunctionNav,
#Pc #Side,
#Pc #Main .pagetop{
	display:none !important;
}
#Pc #Container{
	min-width:100%;
}

#Pc #GlobalHeader,
#Pc #GlobalFooter{
	display:none;
}

#Pc #Content{
	background:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	
	background:none;
	
	margin:0;
}

#Pc #Main {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	float:left;
	background:none;
	margin:0;
	padding:0;
}


#Pc #Main .section {
	margin:0;
}
