@charset "utf-8";
/* SMP用 */

#Smp{
	-webkit-text-size-adjust:none;
}


/*-----------------------------------------------------
device
-------------------------------------------------------*/
#Smp .pc{display:none !important;}
#Smp .smp{display:block !important;}


/*-----------------------------------------------------
Ccontainer
-------------------------------------------------------*/
#Smp #Container{
	width:100%;
	margin:0 auto 0 auto;
}


/*-----------------------------------------------------
GlobalHeader
-------------------------------------------------------*/
#Smp #GlobalHeader{
	width:100%;
	height:22px;
	position:relative;
	overflow:hidden;
	padding:8px 0 10px 0;
	background:url("../../images/common/header_bg.gif") repeat-x 0 0;
}

/* h1,logo
---------------------*/
#Smp #GlobalHeader p.logo,
#Smp #GlobalHeader h1{
	width:132px;
	float:left;
	display:inline;
	margin:0 0 0 15px;
}
#Smp #GlobalHeader p.logo img,
#Smp #GlobalHeader h1 img{
	width:132px;
}

/* FunctionNav
---------------------*/
#Smp #GlobalHeader .FunctionNav{
	display:inline;
	float:right;
	margin:2px 15px 0 0;
}
#Smp #GlobalHeader .FunctionNav ul{
	overflow:hidden;
}
#Smp #GlobalHeader .FunctionNav ul li{
	width:16px;
	height:16px;
	overflow:hidden;
	float:left;
	display:inline;
	margin:0 0 0 15px;
	background-size:16px 16px;
	background-repeat:no-repeat;
	background-position:0 0;
}
#Smp #GlobalHeader .FunctionNav ul li a{
	width:16px;
	height:16px;
	overflow:hidden;
	display:block;
	text-indent:-999px;
}

/* ico */
#Smp #GlobalHeader .FunctionNav ul li.site{background-image:url("../../images/smp/header_nav_ico01.png");}
#Smp #GlobalHeader .FunctionNav ul li.set{background-image:url("../../images/smp/header_nav_ico02.png");}
#Smp #GlobalHeader .FunctionNav ul li.help{background-image:url("../../images/smp/header_nav_ico03.png");}
#Smp #GlobalHeader .FunctionNav ul li.logout{background-image:url("../../images/smp/header_nav_ico04.png");}

/*-----------------------------------------------------
Content
-------------------------------------------------------*/
#Smp #Content{
	width:100%;
	overflow:hidden;
	padding:0 0 0 0;
	background:#FFFFFF;
}

/*-------------------------------------
Main
---------------------------------------*/
#Smp #Main{
	width:100%;
	position:relative;
}

/* section
---------------------*/
#Smp #Main .section{
	width:auto;
	overflow:hidden;
}

/* section-inside
---------------------*/
#Smp #Main .section .section-inside{
	margin:10px;
}

/* head-line01
---------------------*/
#Smp #Main .head-line01{
	color:#fff;
	padding:5px 0;
	font-size:125%;
	font-weight:bold;
	text-align:center;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#6eaae9),to(#6586c3));
	background-image:-webkit-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-moz-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-ms-linear-gradient(top,#6eaae9,#6586c3);
	background-image:-o-linear-gradient(top,#6eaae9,#6586c3);
	-pie-background:linear-gradient(top,#6eaae9,#6586c3);
}
#Smp #Main .head-line01 .btn-back{
	position:absolute;
	left:2px;
	top:2px;
	text-indent:-9999px;
	background:url(../../images/smp/btn_back.png) no-repeat;
	background-size:50px 31px;
	display:block;
	width:50px;
	height:31px;
}

/* head-line02
---------------------*/
#Smp #Main .head-line02{
	background:#E8F1F8;
	border-bottom:2px solid #4D97D6;
	padding:5px 10px 5px 10px;
	font-size:100%;
}

/* load
---------------------*/
#Smp #Main p.load{
	margin:10px 0 10px 0;
	padding:0 10px 0 10px;
}

/* alert
---------------------*/
#Smp #Main .alert,
#Smp #Modal .alert{
	clear:both;
	overflow:hidden;
	margin:0 10px 15px 10px;
	padding:8px 15px 8px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
#Smp #Modal .alert{
	margin:0 0px 15px 0px;
}
#Smp #Main .alert p,
#Smp #Modal .alert p{
	float:none;
	margin-left:37px;
}


/* input
---------------------*/
#Smp #Main input[type=text],
#Smp #Main input[type=password],
#Smp #Main textarea{
	padding:3px 5px 3px 5px;
	font-size:100%;
}

/*-------------------------------------
Side
---------------------------------------*/
#Smp #Side{
	width:100%;
	background:url("../../images/common/side_bg.gif") repeat 0 0;
}

/* GlobalNav
---------------------*/
#Smp #GlobalNav{
	width:100%;
	overflow:hidden;
	border-top:1px solid #a4b4c4;
}
#Smp #GlobalNav li,
#Smp #GlobalNav dt{
	width:100%;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #a4b4c4;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f0f7ff),to(#e4edfd));
	background-image:-webkit-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-moz-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-ms-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-o-linear-gradient(top,#f0f7ff,#e4edfd);
	-pie-background-image:linear-gradient(top,#f0f7ff,#e4edfd);
}
#Smp #GlobalNav li.active,
#Smp #GlobalNav .active dt{
	border-top:1px solid #a8ccf2;
	border-bottom:1px solid #4978af;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#5288C7),to(#45ABEB));
	background-image:-webkit-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-moz-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-ms-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-o-linear-gradient(top,#5288C7,#45ABEB);
	-pie-background-image:linear-gradient(top,#5288C7,#45ABEB);
}

#Smp #GlobalNav li a,
#Smp #GlobalNav dt a{
	display:block;
	padding:10px 0 10px 0;
	color:#343c47;
	cursor:pointer;
	text-decoration:none;
	background-size:9px 13px;
	background-repeat:no-repeat;
	background-position:97% 50%;
	background-image:url("../../images/smp/nav_ico_arrow.gif");
}
#Smp #GlobalNav .active dt a{
	color:#FFFFFF;
}
#Smp #GlobalNav li.active a,
#Smp #GlobalNav li a.active{
	color:#FFFFFF;
	background-image:url("../../images/smp/nav_ico_arrow_on.gif");
}
#Smp #GlobalNav li a span,
#Smp #GlobalNav dt a span,
#Smp #GlobalNav dd a span{
	display:block;
	padding:0 0 0 35px;
	background-size:17px 15px;
	background-repeat:no-repeat;
	background-position:10px 49%;
}

#Smp #GlobalNav li.main a span,
#Smp #GlobalNav li a.main span,
#Smp #GlobalNav li.main-sub a span,
#Smp #GlobalNav li a.main-sub span{
    background-image:url("../../images/smp/side_ico_main.png");
}
#Smp #GlobalNav li.list a span,
#Smp #GlobalNav li a.list span{
    background-image:url("../../images/smp/side_ico_list.png");
}
#Smp #GlobalNav li.news a span,
#Smp #GlobalNav li a.news span{
    background-image:url("../../images/smp/side_ico_news.png");
}
#Smp #GlobalNav li.category a span,
#Smp #GlobalNav li a.category span{
    background-image:url("../../images/smp/side_ico_category.png");
}
#Smp #GlobalNav li.account a span,
#Smp #GlobalNav li a.account span{
    background-image:url("../../images/smp/side_ico_account.png");
}
#Smp #GlobalNav li.media a span,
#Smp #GlobalNav li a.media span{
    background-image:url("../../images/smp/side_ico_media.png");
}

#Smp #GlobalNav li.main.active a span,
#Smp #GlobalNav li a.main.active span,
#Smp #GlobalNav li.main-sub.active a span,
#Smp #GlobalNav li a.main-sub.active span{
    background-image:url("../../images/smp/side_ico_main_on.png");
}
#Smp #GlobalNav li.list.active a span,
#Smp #GlobalNav li a.list.active span{
    background-image:url("../../images/smp/side_ico_list_on.png");
}
#Smp #GlobalNav li.news.active a span,
#Smp #GlobalNav li a.news.active span{
    background-image:url("../../images/smp/side_ico_news_on.png");
}
#Smp #GlobalNav li.category.active a span,
#Smp #GlobalNav li a.category.active span{
    background-image:url("../../images/smp/side_ico_category_on.png");
}
#Smp #GlobalNav li.account.active a span,
#Smp #GlobalNav li a.account.active span{
    background-image:url("../../images/smp/side_ico_account_on.png");
}
#Smp #GlobalNav li.media.active a span,
#Smp #GlobalNav li a.media.active span{
    background-image:url("../../images/smp/side_ico_media_on.png");
}


#Smp #GlobalNav dd{
	display:none;
}
#Smp #GlobalNav .active dd{
	display:block;
}

#Smp #GlobalNav dt a{
	background-size:26px 26px;
	background-position:99% 50%;
	background-image:url("../../images/smp/nav_ico_arrow_slide.png");
}
#Smp #GlobalNav .active dt a{
	background-image:url("../../images/smp/nav_ico_arrow_slide_on.png");
}

#Smp #GlobalNav dt a span{
	background-size:17px 15px;
	background-image:url("../../images/smp/side_ico.png");
}
#Smp #GlobalNav .active dt a span{
	background-image:url("../../images/smp/side_ico_on.png");
}
#Smp #GlobalNav dd p{
	width:100%;
	border-top:1px solid #6d747d;
	border-bottom:1px solid #393f48;
	background:url("../../images/common/globalnav_bg.gif") repeat 0 0;
}  
#Smp #GlobalNav dd p.active{
	background:url("../../images/common/globalnav_bg_on.gif") repeat 0 0;
}
#Smp #GlobalNav dd p a{
	width:100%;
	display:block;
	padding:7px 0 7px 0;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	background-size:9px 13px;
	background-repeat:no-repeat;
	background-position:97% 50%;
	background-image:url("../../images/smp/nav_ico_arrow_sub.gif");
}
#Smp #GlobalNav dd p a.active {
    text-decoration: underline;
}

#Smp #GlobalNav dd a span,
#Smp #GlobalNav dd a span{
    background-image:url("../../images/smp/side_ico_on.png");
}
#Smp #GlobalNav dd.main a span,
#Smp #GlobalNav dd a.main span{
    background-image:url("../../images/smp/side_ico_main_on.png");
}
#Smp #GlobalNav dd.list a span,
#Smp #GlobalNav dd a.list span{
    background-image:url("../../images/smp/side_ico_list_on.png");
}
#Smp #GlobalNav dd.news a span,
#Smp #GlobalNav dd a.news span{
    background-image:url("../../images/smp/side_ico_news_on.png");
}
#Smp #GlobalNav dd.category a span,
#Smp #GlobalNav dd a.category span{
    background-image:url("../../images/smp/side_ico_category_on.png");
}
#Smp #GlobalNav dd.account a span,
#Smp #GlobalNav dd a.account span{
    background-image:url("../../images/smp/side_ico_account_on.png");
}
#Smp #GlobalNav dd.media a span,
#Smp #GlobalNav dd a.media span{
    background-image:url("../../images/smp/side_ico_media_on.png");
}


/*-----------------------------------------------------
GlobalFooter
-------------------------------------------------------*/
#Smp #GlobalFooter{
	width:100%;
	height:40px;
	background:url("../../images/common/footer_bg.gif") repeat-x 0 0;
}

#Smp #GlobalFooter p.copyright{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#FFFFFF;
}



/*-----------------------------------------------------
Modal
-------------------------------------------------------*/
#Smp #Modal .box{
	min-width:300px;
	width:95%;
}
#Smp #Modal .box-inside{
	padding:20px 20px;
}
#Smp #Modal.passchange-alert .box div.btn{
	width:230px;
	margin:auto;
	overflow:hidden;
}
#Smp #Modal.passchange-alert .box div.btn p{
	float:left;
	margin:0 5px;
}

#Smp #Modal p.btn-type01,
#Smp #Modal p.btn-type01 input,
#Smp #Modal p.btn-type01 span,
#Smp #Modal p.btn-type02,
#Smp #Modal p.btn-type02 input,
#Smp #Modal p.btn-type02 span{
	width:100px;
	height:30px;
	line-height:30px;
}

#Smp #Main p.btn-type01,
#Smp #Main p.btn-type01 input,
#Smp #Main p.btn-type01 span,
#Smp #Main p.btn-type02,
#Smp #Main p.btn-type02 input,
#Smp #Main p.btn-type02 span{
	width:120px;
	height:30px;
	line-height:30px;
}
#Smp #Main p.btn-type01 input,
#Smp #Main p.btn-type01 span,
#Smp #Main p.btn-type02 input,
#Smp #Main p.btn-type02 span,
#Smp #Modal p.btn-type01 input,
#Smp #Modal p.btn-type01 span,
#Smp #Modal p.btn-type02 input,
#Smp #Modal p.btn-type02 span{
	font-size:117%;
}