@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4rh2hk');
  src:  url('fonts/icomoon.eot?4rh2hk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4rh2hk') format('truetype'),
    url('fonts/icomoon.woff?4rh2hk') format('woff'),
    url('fonts/icomoon.svg?4rh2hk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-item:before,
.icon-shopping-bag:before {
  content: "\e90e";
}
.icon-times:before {
  content: "\e90d";
}
.icon-add:before,
.icon-plus:before {
  content: "\e90c";
}
.icon-news:before,
.icon-bullhorn:before {
  content: "\e900";
}
.icon-delete:before,
.icon-trash:before {
  content: "\e901";
}
.icon-account:before,
.icon-user:before {
  content: "\e902";
}
.icon-group:before,
.icon-users:before {
  content: "\e90b";
}
.icon-setting:before,
.icon-cog:before {
  content: "\e903";
}
.icon-sing-out:before {
  content: "\e904";
}
.icon-desktop:before {
  content: "\e905";
}
.icon-category:before,
.icon-folder-open:before {
  content: "\e906";
}
.icon-edit:before,
.icon-pencil:before {
  content: "\e907";
}
.icon-main:before,
.icon-home:before {
  content: "\e908";
}
.icon-media:before,
.icon-image:before {
  content: "\e909";
}
.icon-list:before {
  content: "\e90a";
}
