@charset "utf-8";

/* pager-foot
---------------------*/
#Main .section .pager-foot{
	width:100%;
	overflow:hidden;
	margin:0 0 20px 0;
	padding:0 0 10px 0;
}
/* btn */
#Main .section .pager-foot p.btn-type03{
	float:left;
}
/* pager */
#Main .section .pager-foot div.pager{
	float:right;
	display:inline;
	margin-top:8px;
}
#Main .section .pager-foot div.pager ul{
	overflow:hidden;
	margin:0 2px 0 0;
	text-align:center;
}
#Main .section .pager-foot div.pager ul li{
	float:left;
	display:inline;
}
#Main .section .pager-foot div.pager ul li.first,
#Main .section .pager-foot div.pager ul li.prev,
#Main .section .pager-foot div.pager ul li.next,
#Main .section .pager-foot div.pager ul li.last{
	margin:3px 5px 3px 5px;
}
#Main .section .pager-foot div.pager ul li.first,
#Main .section .pager-foot div.pager ul li.prev{
	padding:0 0 0 10px;
	background:url("../../images/common/pager_prev.gif") no-repeat 0 55%;
}
#Main .section .pager-foot div.pager ul li.next,
#Main .section .pager-foot div.pager ul li.last{
	padding:0 10px 0 0;
	background:url("../../images/common/pager_next.gif") no-repeat 100% 55%;
}
#Main .section .pager-foot div.pager ul li.count{
	width:26px;
	height:26x;
	margin:0 3px 0 3px;
	border:1px solid #cbd9e3;
	padding-right: 1px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
#Main .section .pager-foot div.pager ul li.count a,
#Main .section .pager-foot div.pager ul li.count span{
	width:25px;
	height:25px;
	display:block;
	text-align:center;
	line-height:25px;
	text-decoration:none;
	color:#5879bc;
	border:1px solid #FFFFFF;
	background:#FFFFFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	
	box-shadow:0 1px 3px #e9e8e8;
	-moz-box-shadow:0 1px 3px #e9e8e8;
	-webkit-box-shadow:0 1px 3px #e9e8e8;
	-o-box-shadow:0 1px 3px #e9e8e8;
	-ms-box-shadow:0 1px 3px #e9e8e8;
	
	background-image:url("../../css/svg4ie9.php?t=FFFFFF&b=ebf0f8");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFFFFF),to(#ebf0f8));
	background-image:-webkit-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-moz-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-ms-linear-gradient(top,#FFFFFF,#ebf0f8);
	background-image:-o-linear-gradient(top,#FFFFFF,#ebf0f8);
	-pie-background:linear-gradient(top,#FFFFFF,#ebf0f8);
}
#Main .section .pager-foot div.pager ul li.count a:hover{
	border:1px solid #6996d4;
	background:#FFFFFF;
}
#Main .section .pager-foot div.pager ul li.count.active{
	border:1px solid #6180c0;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
#Main .section .pager-foot div.pager ul li.count.active span{
	color:#FFFFFF;
	border:1px solid #6180c0;
	background:#6180c0;
	
	background-image:url("../../css/svg4ie9.php?t=6180c0&b=6180c0");
	-pie-background:linear-gradient(top,#6180c0,#6180c0);
}
#Main .section .pager-foot div.pager ul li.count.cut,
#Main .section .pager-foot div.pager ul li.count.cut span {
	border:none;
	background: none;
	background-image: none;
	box-shadow : none;
	color:#333;
	font-size:0.8em !important;
}