@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture li.popup01{
	width:366px;
	top:65px;
	left:157px;
}
#Main div.capture li.popup02{
	width:403px;
	top:586px;
	left:157px;
}