@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}

/* att
---------------------*/
#Main div.blueblock div.in-aside p.att{
	padding:0 15px;
}

/* ul
---------------------*/
#Main div.blueblock div.in-aside div.in-aside-whblock ul li{
	width:495px;
	overflow:hidden;
}
#Main div.blueblock div.in-aside div.in-aside-whblock ul li span{
	width:4.5em;
	float:left;
	color:#5879bc;
	text-decoration:underline;
}

/* arw
---------------------*/
#Main div.blueblock p.arw{
	padding:30px 0 40px;
	background:url(../images/common/content-in-arw_bg.gif) no-repeat 50% 100%;
}
#Main div.blueblock p.arw span{
	display:block;
	padding:5px 0;
	text-align:center;
	background:url(../images/common/content_blueblock_bg_loop.gif) repeat-y 50% 0;
}

/* p
---------------------*/
#Main div.blueblock p.line{
	margin:15px 0 0;
	padding:15px 0 0;	
	background:url(../images/common/content_bg_dotted_blue.gif) repeat-x 0 0;
}