@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture{
	width:520px;
}
#Main div.capture01 li.popup01{
	width:76px;
	top:121px;
	left:61px;
}
#Main div.capture01 li.popup02{
	width:248px;
	top:63px;
	left:265px;
}