@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main h2{
	margin:0 0 40px;
}
#Main p.att{
	font-size:100%;
}
/* .capture
---------------------*/
#Main div.capture{
	width:520px;
}
#Main div.capture01 li.popup01{
	width:112px;
	top:30px;
	left:360px;
}
#Main div.capture01 li.popup02{
	width:75px;
	top:87px;
	left:26px;
}
#Main div.capture02 li.popup01{
	width:75px;
	top:32px;
	left:392px;
}
#Main div.capture03 li.popup01{
	width:75px;
	top:167px;
	left:138px;
}
#Main div.capture04 li.popup01{
	width:146px;
	top:45px;
	left:116px;
}
#Main div.capture04 li.popup02{
	width:214px;
	top:249px;
	left:88px;
}
#Main div.capture04 li.popup03{
	width:75px;
	top:389px;
	left:265px;
}