@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}
/* capture
---------------------*/
#Main div.capture li.popup01{
	width:75px;
	top:190px;
	left:334px;
}