@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .list
---------------------*/
#Main div.list ul li strong{
	width:7.5em;
	float:left;
	display:inline;
}
#Main div.list ul li div{
	margin:0 0 0 7.5em;
}