@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}
/* capture
---------------------*/
#Main div.capture li.popup01{
	width:226px;
	top:309px;
	left:59px;
}
#Main div.capture li.popup02{
	width:140px;
	top:355px;
	left:454px;
}