@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}
/* capture
---------------------*/
#Main div.capture01 li.popup01{
	width:75px;
	top:214px;
	left:352px;
}
#Main div.capture02 li.popup01{
	width:184px;
	top:102px;
	left:317px;
}