.gaiyo a:hover {
  opacity: .8;
}


/* .page-content-mv h2 {
  padding: 110px 0 105px 0;
} */

.page-content-mv h2 {
  padding-bottom: 116px;
}

.page-content-mv .sub-ttl {
  margin-top: 25px;
}

.content-intro {
  padding: 81px;
  background: #009944;
  margin-top: -217px;
  position: relative;
  -moz-box-shadow: 0px 20px 20px rgb(243, 243, 243);
  -webkit-box-shadow: 0px 20px 20px rgb(243, 243, 243);
  box-shadow: 0px 20px 20px rgba(218, 216, 216, 0.38);
}

.content-intro p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 3;
}

.advantage-menu-list {
  display: inline-block;
  margin-top: 30px;
}

.advantage-menu-list li {
  width: 224px;
  margin-right: 10px;
  float: left;
  text-align: center;
}

.advantage-menu-list li:last-child {
  margin-right: 0;
}

.advantage-menu-list li a {
  width: 100%;
  padding: 28px 0 30px;
}

.advantage-menu-list li span {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
  display: block;
}

.advantage-menu-list .menu-01 {
  border-bottom: 5px solid #ee7600;
}

.advantage-menu-list .menu-01 span {
  color: #ee7600;
}

.advantage-menu-list .menu-02 {
  border-bottom: 5px solid #de309c;
}

.advantage-menu-list .menu-02 span {
  color: #de309c;
}

.advantage-menu-list .menu-03 {
  border-bottom: 5px solid #029a44;
}

.advantage-menu-list .menu-03 span {
  color: #029a44;
}

.advantage-menu-list .menu-04 {
  border-bottom: 5px solid #1c91d3;
}

.advantage-menu-list .menu-04 span {
  color: #1c91d3;
}

.advantage-menu-list .menu-05 {
  border-bottom: 5px solid #a447a1;
}

.advantage-menu-list .menu-05 span {
  color: #a447a1;
}

.advantage-menu-list li p {
  font-size: 14px;
  line-height: 1.6;
}

.advantage-item-list {
  max-width: 1920px;
  margin: 0 auto;
  padding: 87px 0 207px;
}

.advantage-item-list .item-list {
  display: block;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 0;
  margin-bottom: 60px;
  line-height: 1.5;
}

.advantage-item-list .item-list h4 {
  padding: 27px 0 30px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.advantage-item-list .item-list .advan-desc {
  line-height: 1.65;
  font-size: 16px;
}

.advantage-item-list .odd-item {
  margin-right: 4.4%;
}

.advantage-item-list .even-item {
  margin-left: 4.4%;
}

.advantage-item-list .item-01 {
  background-color: #fdf1e5;
}

.advantage-item-list .item-02 {
  background-color: #fceaf3;
}

.advantage-item-list .item-03 {
  background-color: #e5f5ec;
}

.advantage-item-list .item-04 {
  background-color: #e5f5fb;
}

.advantage-item-list .item-05 {
  background-color: #f3e6f2;
}

.advantage-item-list .advan-text {
  width: 50%;
  padding: 8.5% 0 0 0;
  float: left;
}

.advantage-item-list .advan-img {
  width: 50%;
  margin-right: -4.6%;
  float: right;
}

.advantage-item-list .advan-img img {
  width: 100%;
}

.advantage-item-list .item-list:last-child {
  margin-bottom: 0;
}

.advantage-item-list .item-05 .advan-text {
  padding-top: 3%;
}

.advantage-item-list .even-item .advan-text {
  float: right;
  width: 50%;
  padding: 6% 0 0 0;
}

.advantage-item-list .even-item .advan-img {
  float: left;
  margin: 0 0 0 -4.6%;
  width: 50%;
}

.content-wrap {
  position: relative;
}

.content-wrap .content-intro {
  padding: 98px 170px 104px 170px;
  background: #009944;
  position: absolute;
  top: -99px;
  width: 820px;
  margin-top: 0px;
}

.content-wrap .content-intro .inner-ttl {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}

.content-wrap .content-intro .inner-desc {
  text-align: left;
  line-height: 2.2;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
  .advantage-menu-list li {
    width: 200px;
  }
  .advantage-item-list .item-list {
    padding: 60px 0;
  }
  .advantage-item-list {
    padding: 87px 0 180px;
  }
  .content-wrap .content-intro {
    padding: 53px 170px 50px 170px;
    background: #009944;
    position: absolute;
    top: -98px;
    width: 704px;
  }
  .advantage-item-list .item-list h4 {
    font-size: 24px;
    letter-spacing: 0;
    padding: 20px 0 20px;
  }
  .advantage-item-list .advan-text {
    padding: 8.333vw 0 0 0;
  }
  .advantage-item-list .even-item .advan-text {
    padding: 6vw 0 0 0;
  }
  .advantage-item-list .item-05 .advan-text {
    padding-top: 1vw;
  }
  .advantage-item-list .item-01 h3 img {
    width: 424px;
  }
  .advantage-item-list .item-02 h3 img {
    width: 452px;
  }
  .advantage-item-list .item-03 h3 img {
    width: 518px;
  }
  .advantage-item-list .item-04 h3 img {
    width: 424px;
  }
  .advantage-item-list .item-05 h3 img {
    width: 441px;
  }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
  .advantage .l-inner {
    width: 84%;
    min-width: 84%;
    margin: 0 auto;
  }
  .page-content-mv h2 img {
    width: 74vw;
  }
  .page-content-mv h2 {
    padding: 16.4vw 0 16.5vw 0;
  }
  .advantage .page-content-mv .sub-ttl {
    margin-top: 6vw;
    letter-spacing: 0.2vw;
  }
  .content-intro {
    padding: 9vw;
    background: #009944;
    margin-top: -12.667vw;
    position: relative;
    -moz-box-shadow: 0px 2.667vw 2.667vw rgb(243, 243, 243);
    -webkit-box-shadow: 0px 2.667vw 2.667vw rgb(243, 243, 243);
    box-shadow: 0px 2.667vw 2.667vw rgba(218, 216, 216, 0.38);
  }
  .content-intro p {
    color: #ffffff;
    font-size: 3.2vw;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.2vw;
  }
  .advantage-menu-list {
    margin-top: 4vw;
  }
  .advantage-menu-list li {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
  .advantage-menu-list .menu-01 {
    border-bottom: 0.667vw solid #ee7600;
  }
  .advantage-menu-list .menu-02 {
    border-bottom: 0.667vw solid #de309c;
  }
  .advantage-menu-list .menu-03 {
    border-bottom: 0.667vw solid #029a44;
  }
  .advantage-menu-list .menu-04 {
    border-bottom: 0.667vw solid #1c91d3;
  }
  .advantage-menu-list .menu-05 {
    border-bottom: 0.667vw solid #a447a1;
  }
  .advantage-menu-list li a {
    width: 100%;
    padding: 4.267vw 0 3.333vw;
  }
  .advantage-menu-list li span {
    display: inline-block;
    font-size: 4vw;
    margin: 0;
    padding: 0 3.333vw 0.4vw 0;
  }
  .advantage-menu-list li p {
    display: inline-block;
    font-size: 3.2vw;
  }
  .advantage-item-list {
    max-width: 100%;
    width: 100%;
    padding: 9.333vw 0 90.667vw;
  }
  .advantage .item-list .l-inner {
    width: 100%;
  }
  .advantage-item-list .item-list {
    margin: 0 0 5.333vw 0;
    padding: 0;
  }
  .advantage-item-list .advan-img {
    width: 100vw;
    margin-right: 0;
    float: initial;
    padding-left: 0;
  }
  .advantage-item-list .item-01,
  .advantage-item-list .item-02,
  .advantage-item-list .item-03,
  .advantage-item-list .item-04,
  .advantage-item-list .item-05 {
    background-color: initial;
  }
  .advantage-item-list .advan-text {
    width: auto;
    padding: 9.333vw 8vw 8.8vw;
  }
  .advantage-item-list .item-05 .advan-text {
    padding-top: 9.333vw
  }
  .advantage-item-list .item-01 .advan-text {
    background-color: #fefaf3;
  }
  .advantage-item-list .item-02 .advan-text {
    background-color: #fceaf3;
  }
  .advantage-item-list .item-03 .advan-text {
    background-color: #f3fbf7;
  }
  .advantage-item-list .item-04 .advan-text {
    background-color: #e5f5fb;
  }
  .advantage-item-list .item-05 .advan-text {
    background-color: #f3e6f2;
  }
  .advantage-item-list .item-list h4 {
    font-size: 5.6vw;
    padding: 2.667vw 0 4vw;
    letter-spacing: -0.067vw;
  }
  .advantage-item-list .item-list .advan-desc {
    line-height: 1.65;
    font-size: 3.2vw;
  }
  .advantage-item-list .even-item .advan-img {
    width: 100vw;
    float: initial;
    margin-left: 0;
    padding-right: 0;
  }
  .advantage-item-list .even-item .advan-text {
    width: auto;
    float: initial;
    padding: 9.333vw 8vw;
  }
  .advantage-item-list #item-02 .advan-text {
    padding-top: 9.333vw;
  }
  .advantage-item-list .even-item {
    margin-left: 0;
  }
  .content-wrap .content-intro {
    width: 69.8vw;
    padding: 9.333vw 7vw;
    top: -82vw;
  }
  .advantage-item-list .item-01 h3 img {
    width: 73.733vw;
  }
  .advantage-item-list .item-02 h3 img {
    width: 80.4vw;
  }
  .advantage-item-list .item-03 h3 img {
    width: 83.467vw;
  }
  .advantage-item-list .item-04 h3 img {
    width: 74vw;
  }
  .advantage-item-list .item-05 h3 img {
    width: 80.267vw;
  }
  .content-wrap .content-intro .inner-ttl {
    margin-bottom: 3.333vw;
    font-size: 5.6vw;
    line-height: 1.3;
  }
  .content-wrap .content-intro .inner-desc {
    line-height: 2;
    text-align: justify;
  }
}

@media screen and (max-width:320px) {
  .content-wrap .content-intro {
    width: 71.8vw;
    padding: 9.333vw 6vw;
    top: -82vw;
  }
}