@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  color: #2a2c31;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
}

/*IE9*/
*::selection {
  background-color: transparent;
}
*::-moz-selection {
  background-color: transparent;
}
* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;      /*IE10*/
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"], textarea, [contenteditable] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.l-container {
  width: 100%;
  margin: 0 auto;
}
.l-inner {
  width: 1160px;
  min-width: 1160px;
  margin: 0 auto;
}
a {
  color: #2a2c31;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
br {
  line-height: 0;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* text gradient */
.txt-gradient01 {
  color: #3d64ee;
  background: -webkit-linear-gradient(-45deg, #3d64ee, #1db1eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient02 {
  color: #e9711f;
  background: -webkit-linear-gradient(-45deg, #e9711f, #eab31e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient08 {
  color: #e8328d;
  background: -webkit-linear-gradient(-45deg, #e8328d, #ff70e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient03 {
  color: #1aaf53;
  background: -webkit-linear-gradient(-45deg, #1aaf53, #9bcc16);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient04 {
  color: #f4cb36;
  background: -webkit-linear-gradient(-45deg, #f4cb36, #b4c82e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient06 {
  color: #e8328d;
  background: -webkit-linear-gradient(-45deg, #e8328d, #ff70e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient05 {
  color: #bac127;
  background: -webkit-linear-gradient(-45deg, #bac127, #7cc53b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gradient07 {
  color: #b552b9;
  background: -webkit-linear-gradient(-45deg, #b552b9, #794ad9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* background gradient */
.bg-gradient01 {
  background: linear-gradient(to right, #3d64ee 0%, #1db1eb 75%);
}
.bg-gradient02 {
  background: linear-gradient(to right, #e9711f 0%, #eab31e 75%);
}
.bg-gradient03 {
  background: linear-gradient(to right, #1aaf53 0%, #9bcc16 75%);
}
.bg-gradient04 {
  background: linear-gradient(to right, #f4cb36 0%, #b4c82e 75%);
}
.bg-gradient05 {
  background: linear-gradient(to right, #bac127 0%, #7cc53b 40%);
}
.bg-gradient06 {
  background: linear-gradient(to right, #e8328d 0%, #ff70e2 75%);
}
.bg-gradient07 {
  background: linear-gradient(to right, #b552b9 0%, #794ad9 75%);
}

/* gradient border */
.border01, .border02, .border03, .border04, .border05, .border06, .border07,.border08 {
  padding: 10px;
  border-left: 4px solid #3d64ee;
  border-right: 4px solid #1db1eb;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #3d64ee 0%, #1db1eb 100%), linear-gradient(to right, #3d64ee 0%, #1db1eb 100%);
}
.border02 {
  border-left: 4px solid #e9711f;
  border-right: 4px solid #eab31e;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #e9711f 0%, #eab31e 100%), linear-gradient(to right, #e9711f 0%, #eab31e 100%);
}
.border03 {
  border-left: 4px solid #1aaf53;
  border-right: 4px solid #9bcc16;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #1aaf53 0%, #9bcc16 100%), linear-gradient(to right, #1aaf53 0%, #9bcc16 100%);
}
.border04 {
  border-left: 4px solid #f4cb36;
  border-right: 4px solid #b4c82e;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #f4cb36 0%, #b4c82e 100%), linear-gradient(to right, #f4cb36 0%, #b4c82e 100%);
}
.border05 {
  border-left: 4px solid #7cc53b;
  border-right: 4px solid #bac127;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #7cc53b 0%, #bac127 100%), linear-gradient(to right, #7cc53b 0%, #bac127 100%);
}
.border06 {
  border-left: 4px solid #e8328d;
  border-right: 4px solid #ff70e2;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #e8328d 0%, #ff70e2 100%), linear-gradient(to right, #e8328d 0%, #ff70e2 100%);
}
.border07 {
  border-left: 4px solid #b552b9;
  border-right: 4px solid #794ad9;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #b552b9 0%, #794ad9 100%), linear-gradient(to right, #b552b9 0%, #794ad9 100%);
}
.border08 {
  border-left: 4px solid #ff70e2;
  border-right: 4px solid #e8328d;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #ff70e2 0%, #e8328d 100%), linear-gradient(to right, #ff70e2 0%, #e8328d 100%);
}
.m-ttl {
  font-weight: 500;
}
.wrap {
  width: auto;
  max-width: 1840px;
  margin: 0 auto;
  padding: 35px 10px 0 10px;
}
.header-logo {
  float: left;
}
.header-content {
  float: right;
  text-align: right;
}
#gnav ul li {
  float: left;
  text-align: left;
}
#gnav ul li a {
  font-size: 16px;
  font-weight: 500;
  padding: 27px 5px;
  color: #222222;
  position: relative;
  margin: 0 5px;

}
#gnav .headermenu li:hover>a {
  color: #009944;
}
#gnav .headermenu li>a:after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  width: 0;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-out;
}
#gnav .headermenu li>a.active {
  color: #009944;
}
#gnav .headermenu li:hover>a:after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  width: 100%;
  color: #009944;
  border-bottom: 3px solid #009944;
}
#gnav ul li.contact-btn {
  margin-left: 30px;
}
#gnav ul li.contact-btn a {
  background-color: #009944;
  color: #fff;
  border-radius: 50px;
  padding: 25px 0;
  width: 226px;
  text-align: center;
  border: 2px solid transparent;
  transition: .5s;
}
#gnav ul li.contact-btn a:hover {
  color: #009944;
  background: transparent;
  border: 2px solid #009944;
}
#gnav ul li.mega-menu {
  float: left;
}
#gnav ul li.mega-menu #gnav ul li.mega-menu:hover a {
  color: #009944;
  transition: .4s;
}
#gnav ul li.mega-menu .service-top::before {
  bottom: -15px;
  opacity: 0;
  left: 45%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-bottom-color: transparent;
  border-width: 10px;
}
#gnav ul li.mega-menu:hover .service-top::before {
  bottom: -35px;
  opacity: 1;
  left: 45%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-bottom-color: rgba(24, 162, 85, 0.85);
  border-width: 10px;
  -webkit-transition: opacity .4s linear;
  -moz-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
}
#gnav .service-dropdown {
  width: 100%;
  top: 105px;
  left: 0;
  z-index: 999;
  position: absolute;
  min-width: 1160px;
}
#gnav .service-dropdown a {
  padding: 0;
}
#gnav .mega-menu .mega-menu-content {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: .4s;
  -webkit-transition: .4s;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  pointer-events: none;
  opacity: 0;
}
#gnav .mega-menu .mega-menu-content.show {
  position: absolute;
  top: 0;
  z-index: 999;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: inherit;
  opacity: 1;
}
#gnav .mega-menu-content .l-inner {
  padding: 40px 0 80px 0px;
}
#gnav .mega-menu-content .list {
  margin-top: 35px;
  background-color: rgba(24, 162, 85, 0.85);
  width: 100%;
}
#gnav .mega-menu-content li {
  width: 31.035%;
  float: left;
  margin-top: 40px;
  margin-right: 40px;
  position: relative;
}
#gnav .mega-menu-content li:nth-child(3n) {
  margin-right: 0;
}
#gnav .mega-menu-content li a {
  padding: 0;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  border: none;
}
#gnav .mega-menu-content li a img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#gnav .mega-menu-content li a:hover {
  opacity: 0.8;
}
#gnav .mega-menu-content li a h2 {
  font-size: 18px;
  line-height: 1.2;
  padding: 14px 0;
}
#gnav .headermenu li:last-child>a:after, #gnav .headermenu .service-submenu li>a:after, #gnav .headermenu .service-submenu li:hover>a:after {
  display: none;
}
#gnav .headermenu .service-submenu li a, #gnav .headermenu .service-submenu li:hover>a {
  border: none;
}

/* page-content-mv
-----------------------------------------------------------------*/
.page-content-mv {
  background: url('/assets/img/service/mv_service.png') no-repeat top left #ffffff;
  background-size: auto;
  max-width: 1760px;
  margin: 0 auto;
}
.page-content-mv h2 {
  text-align: center;
  padding: 74px 0 123px 0;
}
.page-content-mv h2 img {
  margin: 0 auto;
}
.page-content-mv .sub-ttl {
  font-size: 16px;
  margin-top: 50px;
  letter-spacing: 1.5px;
  display: block;
}
.content-photo {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}
.content-photo.sp {
  display: none;
}
.content-photo.pc {
  display: block;
}
.content-intro h3 {
  position: relative;
}
.content-intro h3:before, .related-service h3:before {
  position: absolute;
  top: 47%;
  right: 21%;
  left: 0;
  content: "";
  width: 48px;
  height: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}
.content-intro h3:after, .related-service h3:after {
  position: absolute;
  top: 47%;
  right: 0;
  left: 21%;
  content: "";
  width: 48px;
  height: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}
.related-service h3 {
  position: relative;
}
.related-service h3:before, .related-service h3:after {
  width: 4px;
  height: 36px;
  top: -6px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #3d64ee, #1db1eb) 1 100%;
  transform: rotate(-90deg);
  transform-origin: (0, 0);
}

/* pagination
-----------------------------------------------------------------*/
.pagination {
  text-align: center;
  margin-top: 27px;
}
.pagination ul {
  position: relative;
  display: inline-block;
}
.pagination ul:before {
  content: "";
  position: absolute;
  left: -14px;
  margin-left: 0;
  top: 22px;
  border: 2px solid transparent;
  width: 8px;
  height: 8px;
  border-bottom-color: #009944;
  border-left-color: #009944;
  border-radius: 3px;
  transform: rotate(45deg);
}
.pagination ul:after {
  content: "";
  position: absolute;
  right: -14px;
  margin-left: 0;
  top: 22px;
  border: 2px solid transparent;
  width: 8px;
  height: 8px;
  border-bottom-color: #009944;
  border-left-color: #009944;
  border-radius: 3px;
  transform: rotate(-136deg);
}
.pagination li {
  float: left;
  line-height: 52px;
  margin: 0 5px;
}
.pagination li a, .pagination li span {
  width: auto;
  color: #009944;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #009944;
  font-weight: bold;
  width: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 50px;
  transition: .5s;
}
.pagination li a:hover {
  color: #ffffff;
  background: #009944;
}
.pagination li span {
  display: block;
  color: #ffffff;
  background: #009944;
}
.pagination .prev, .pagination .next {
  color: #222222;
  border: none;
  background: none;
  margin: 0 30px 0 0;
  letter-spacing: 2px;
}
.pagination li .prev:hover, .pagination li .next:hover {
  color: #009944;
  background: none;
}
.pagination .next {
  margin: 0 0 0 30px;
}

/* breadcrumbs
-----------------------------------------------------------------*/
.breadcrumbs {
  border-top: 1px solid #e0e4e2;
  border-bottom: 1px solid #e0e4e2;
}
.breadcrumbs li {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  margin-right: 42px;
  padding: 28px 0;
  letter-spacing: 1px;
}
.breadcrumbs li a {
  position: relative;
}
.breadcrumbs li a:after {
  content: "";
  position: absolute;
  right: -25px;
  margin-left: 0;
  top: 4px;
  border: 1.5px solid transparent;
  width: 5px;
  height: 5px;
  border-top-color: #bdbdbd;
  border-right-color: #bdbdbd;
  border-radius: 1px;
  transform: rotate(45deg);
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs li a {
  color: #009944;
}

/* footer
-----------------------------------------------------------------*/
.sec-footer {
  padding: 80px 0 0 0;
}
.sec-footer .footer-menulist {
  padding-bottom: 78px;
}
.sec-footer .footer-menulist ul {
  position: relative;
  float: left;
  vertical-align: top;
  border-right: 1px solid #d7dfdb;
}
.sec-footer .footer-menulist .link-list img {
  width: 16px;
  height: 16px;
  padding-left: 12px;
}
.sec-footer .footer-menulist ul:nth-of-type(1) {
  width: 160px;
  padding-right: 100px;
}
.sec-footer .footer-menulist ul:nth-of-type(2) {
  width: 150px;
  padding: 0 90px 0 78px;
}
.sec-footer .footer-menulist ul:nth-of-type(3) {
  width: 161px;
  padding: 0 90px 0 74px;
}
.sec-footer .footer-menulist ul:nth-of-type(4) {
  width: 185px;
  padding-left: 65px;
}
.sec-footer .footer-menulist ul li {
  padding-bottom: 27px;
  position: relative;
}
.sec-footer .footer-menulist ul:last-child {
  border-right: none;
}
.sec-footer .footer-menulist ul:last-child:after {
  background: none;
}
.sec-footer .footer-menulist ul li:last-child {
  padding-bottom: 0;
}
.sec-footer .footer-menulist ul li.list {
  padding-bottom: 35px;
}
.sec-footer .footer-menulist ul li a {
  display: block;
  font-size: 14px;
  color: #8a8e8c;
}
.sec-footer .footer-menulist ul li.list a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.sec-footer .l-container {
  width: 90%;
  max-width: 1760px;
  margin: 0 auto;      /* min-width: 1280px; */
}
.sec-footer .l-social {
  padding: 80px 0 74px;
  background: url(../img/common/bg_footer.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.sec-footer .social-ttl {
  display: inline-block;
  width: 214px;
  padding: 12px 23px;
  border-radius: 19px;
  background-color: #31ae6d;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}
.sec-footer .l-social .social-content {
  border-bottom: 1px solid #5ebd88;
}
.sec-footer .l-social .social-item {
  float: left;
  width: 22.42%;
  margin: 0 3.4% 3.6% 0;
}
.sec-footer .l-social .social-item-01, .sec-footer .l-social .social-item:last-child {
  margin-right: 0;
}
.sec-footer .l-social .social-no {
  margin: 30px 0 24px;
}
.sec-footer .l-social .social-no p {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.4;
}
.sec-footer .l-social .social-ico .map {
  width: 27px;
}
.sec-footer .l-social .social-ico .facebook {
  width: 10px;
}
.sec-footer .l-social .social-ico .twitter {
  width: 22px;
}
.sec-footer .l-social .social-ico .instragram {
  width: 23px;
}
.sec-footer .l-social .social-ico .tiktok {
  width: 20px;
}
.sec-footer .l-social .social-ico .ico-01 {
  margin-right: 22px;
}
.sec-footer .copyright {
  margin-top: 60px;
}
.sec-footer .copyright .footer-logo {
  float: left;
}
.sec-footer .copyright .footer-phno {
  float: left;
  padding-left: 40px;
}
.sec-footer .copyright .footer-phno p {
  position: relative;
  padding-left: 55px;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.sec-footer .copyright .footer-phno p:before {
  content: '';
  position: absolute;
  width: 46px;
  height: 30px;
  background: url(../img/common/ico_phone.png) no-repeat center/cover;
  left: 0;
  top: 19px;
}
.sec-footer .copyright .footer-phno p span {
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  display: block;
  letter-spacing: 3px;
}
.sec-footer .copyright .footer-copyright {
  float: right;
  padding-top: 18px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

/* common btn  */
.common-btn {
  text-align: center;
}
.common-btn a {
  width: 256px;
  padding: 24px 0 26px;
  background-color: transparent;
  color: #009944;
  border: 2px solid;
  display: inline-block;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
}
.common-btn a:hover {
  color: #ffffff;
  background-color: #009944;
  border: 2px solid #009944;
}

/* page top */
#page-top {
  position: fixed;
  right: 77px;
  z-index: 9;
  font-size: 50px;
  color: #0c7aad;
  cursor: pointer;
  bottom: 80px;
}

/* ttl-profile */
.ttl-profile {
  display: block;
  width: 100%;
  padding-bottom: 40px;
}
.ttl-profile span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffdd29;
  color: #fff;
  padding: 8px 17px;
  text-align: center;
}
.breadcrumbs li.profile a {
  color: #000000;
}

/* news tab section */
.tab-content.current {
  display: inherit;
}
.tab-content {
  display: none;
}
.tabs li.current {
  color: #009944;
  background: #ffffff;
}
.tabs li.current button {
  color: #009944;
}
.news-list-content ul.tabs li.current {
  background: #009944;
}
.news-list-content ul.tabs li.current button {
  color: #fff;
}

/* media query -> pc
=================================================================*/
@media only screen and (min-width:769px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  .content-photo.sp {
    display: none;
  }
  .content-photo.pc {
    display: block;
  }
}

@media only screen and (min-width:768px) and (max-width:1350px) {
  .header-logo h1 {
    width: 250px;
  }
  .header-logo a img {
    width: 100%;
  }
}

/* media query -> tablet
=================================================================*/
@media only screen and (min-width:768px) and (max-width:1280px) {
  html {
    font-size: 1.25vw;
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  .content-photo.pc {
    display: block;
  }
  .content-photo.sp {
    display: none;
  }
  .l-contact_time .tel-sp {
    display: none;
  }
  section, footer, #header, .sec-contact {
    min-width: 1160px;
  }
  .l-inner {
    width: 90%;
    min-width: auto;
    margin: 0 auto;
  }
  .header-logo h1 {
    width: 220px;
  }
  .header-logo a img {
    width: 100%;
  }
  .wrap {
    width: 98%;
    max-width: 100%;
    margin: 0 auto;
  }
  #gnav ul li.mega-menu:hover .service-top::before {
    z-index: 999;
  }
  #gnav ul {
    float: right;
  }
  #gnav ul li.contact-btn{
    margin-left: 15px;
  }
  #gnav ul li.contact-btn a {
    background-color: #009944;
    color: #fff;
    border-radius: 50px;
    padding: 1.8vw 0;
    width: 15vw;
    text-align: center;
    border: 2px solid transparent;
    transition: .5s;
  }
  #gnav .mega-menu-content .list {
    background-color: rgba(24, 162, 85, 0.85);
    width: 100%;
  }
  #gnav ul li.mega-menu .mega-menu-content .l-inner {
    float: none;
  }
  #gnav ul li.mega-menu .mega-menu-content li {
    margin-top: 36px;
    margin-right: 36px;
  }
  #gnav ul li.mega-menu .mega-menu-content li:nth-child(3n) {
    margin-right: 0;
  }
  .mega-menu-content li a img {
    width: 100%;
  }
  /* footer
    ------------------------------------------------------------------*/
  .sec-footer .footer-menulist ul:nth-of-type(1) {
    padding-right: 70px;
  }
  .sec-footer .footer-menulist ul:nth-of-type(2) {
    padding: 0 45px 0 70px;
  }
  .sec-footer .footer-menulist ul:nth-of-type(3) {
    padding: 0 70px 0 70px;
  }
  .sec-footer .footer-menulist ul:nth-of-type(4) {
    padding-left: 55px;
  }
  .sec-footer .l-social .social-item-01 {
    margin-right: 0;
  }
  .sec-footer .social-ttl {
    width: 200px;
    padding: 12px 14px;
    font-size: 12px;
  }
}

/* media query -> sp
=================================================================*/
@media screen and (max-width:767px) {
  body {
    letter-spacing: 0.133vw;
  }
  html {
    font-size: 3.2vw;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .content-photo.pc {
    display: none;
  }
  .content-photo.sp {
    display: block;
  }
  .breadcrumbs {
    display: none;
  }
  section, footer {
    min-width: auto;
  }
  .l-inner {
    width: 85%;
    min-width: 85%;
    margin: 0 auto;
  }
  img {
    width: auto;
    height: auto;
  }
  .wrap {
    width: auto;
    max-width: 100%;
    padding: 4.667vw 4vw;
  }
  .header-logo {
    padding-top: 1vw;
    padding-right: 13.333vw;
    position: relative;
    z-index: 999;
  }
  .header-logo h1 img {
    width: 33.067vw;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 6.5vw;
    right: 4vw;
    z-index: 999;
  }
  .bar1, .bar2, .bar3, .close-bar1, .close-bar2 {
    width: 7.467vw;
    height: 0.800vw;
    background-color: #c4c5c6;
    margin-bottom: 1.733vw;
    transition: 0.4s;
    border-radius: 0.2vw;
  }
  .bar3 {
    margin-bottom: 0;
  }
  .menu-icon.is-active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2.067vw, 1.333vw);
    transform: rotate(-45deg) translate(-2.067vw, 1.333vw);
    background-color: #18a356;
  }
  .menu-icon.is-active .bar2 {
    opacity: 0;
  }
  .menu-icon.is-active .bar3 {
    -webkit-transform: rotate(45deg) translate(-2.2vw, -1.600vw);
    transform: rotate(45deg) translate(-2.2vw, -1.600vw);
    background-color: #18a356;
  }
  .gnav-sp {
    display: none;
    position: absolute;
    z-index: 99;
    background: #ffffff url(/assets/img/common/bg_menu_sp.jpg) bottom right/63.200vw no-repeat;
    width: 100%;
    top: 17.733vw;
    padding: 24vw 0 40vw;
  }
  .gnav-sp-list li {
    text-align: center;
  }
  .gnav-sp-list li a {
    display: inline-block;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    font-size: 4.267vw;
    color: #009944;
    margin-bottom: 11.333vw;
    text-align: center;
  }
  .gnav-sp-list li:nth-of-type(5) a {
    margin-bottom: 13.333vw;
  }
  .gnav-sp-list li:last-child a {
    font-size: 4vw;
    background-color: #009944;
    border-radius: 8vw;
    padding: 6vw 0;
    margin: 0 auto;
    width: 61.600vw;
    color: #fff;
  }
  .header-contact a {
    font-size: 2.667vw;
    font-weight: 500;
    background-color: #009944;
    padding: 3.333vw 8vw;
    color: #fff;
    border-radius: 4.667vw;
  }
  .service-nav {
    display: none;
    margin: 0 auto;
    padding: 30vw 0;
    width: 100%;
    top: 0;
    background-color: rgba(24, 162, 85, 0.85);
    z-index: 9999;
    position: absolute;
  }
  .service-nav-inner {
    padding: 0 30px;
  }
  .close-bar1, .close-bar2 {
    background-color: #ffffff;
  }
  .close-bar1 {
    -webkit-transform: rotate(-45deg) translate(-1.5vw, 1.5vw);
    transform: rotate(-45deg) translate(-1.5vw, 1.5vw);
  }
  .close-bar2 {
    -webkit-transform: rotate(45deg) translate(-0.2vw, -0.4vw);
    transform: rotate(45deg) translate(-0.2vw, -0.4vw);
  }
  #close {
    position: absolute;
    top: 7vw;
    right: 4vw;
  }
  .mega-menu-content li {
    width: 48%;
    margin-top: 6.667vw;
    margin-right: 2.7vw;
    float: left;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
  }
  .mega-menu-content li:nth-child(-n+2) {
    margin-top: 0;
  }
  .mega-menu-content li:nth-child(2n) {
    margin-right: 0;
  }
  .mega-menu-content li .ttl-service-intro {
    padding: 2.400vw 0;
    font-size: 3.200vw;
  }
  .mega-menu-content li a {
    text-align: center;
  }
  .mega-menu-content li a img {
    width: 100%;
  }
  .mega-menu-content li a h2 {
    font-size: 3.2vw;
    padding: 2.5vw;
  }
  .common-btn span {
    width: 55.200vw;
    padding: 4.133vw 0;
    border: 0.267vw solid;
    border-radius: 6vw;
    font-size: 3.2vw;
  }
  .common-btn.btn01 a {
    border: 1.5px solid #fff;
  }
  .common-btn a {
    width: 55.8vw;
    padding: 4.5vw 0;
    font-size: 3.2vw;
    border: 1.5px solid #009944;
    border-radius: 50px;
  }
  #page-top {
    width: 50px;
    height: 50px;
    right: 5vw;
  }
  #page-top img {
    display: none;
    width: auto;
    max-width: 100%;
  }

  /* gradient border */
  .border01, .border02, .border03, .border04, .border05, .border06, .border07 {
    padding: 4px 0;
    border-left: 0.533vw solid #3d64ee;
    border-right: 0.533vw solid #1db1eb;
    background-size: 100% 0.533vw;
  }
  .border02 {
    border-left: 0.533vw solid #e9711f;
    border-right: 0.533vw solid #eab31e;
  }
  .border03 {
    border-left: 0.533vw solid #1aaf53;
    border-right: 0.533vw solid #9bcc16;
  }
  .border04 {
    border-left: 0.533vw solid #f4cb36;
    border-right: 0.533vw solid #b4c82e;
  }
  .border05 {
    border-left: 0.533vw solid #7cc53b;
    border-right: 0.533vw solid #bac127;
  }
  .border06 {
    border-left: 0.533vw solid #e8328d;
    border-right: 0.533vw solid #ff70e2;
  }
  .border07 {
    border-left: 0.533vw solid #b552b9;
    border-right: 0.533vw solid #794ad9;
  }

  /* page-content-mv
    -----------------------------------------------------------------*/
  .page-content-mv {
    background: url('/assets/img/service/mv_service_sp.png') no-repeat top left #ffffff;
    background-size: contain;
    max-width: 100%;
    margin: 0 auto;
  }
  .page-content-mv h2 {
    text-align: center;
    padding: 20vw 0 28.5vw 0;
  }
  .page-content-mv h2 img {
    width: 41.6vw;
  }
  .page-content-mv .sub-ttl {
    font-size: 2.933vw;
    margin-top: 6.333vw;
    display: block;
  }
  .content-intro h3:before, .content-intro h3:after {
    width: 6.667vw;
    height: 0.667vw;
    right: 49%;
  }
  .content-intro h3:after {
    right: 0;
    left: 49%;
  }
  .related-service h3:before, .related-service h3:after {
    width: 0.667vw;
    height: 6.667vw;
    top: 0;
    right: 49%;
  }
  .related-service h3:after {
    right: 0;
    left: 49%;
  }

  /* pagination
    -----------------------------------------------------------------*/
  .pagination {
    margin-top: 9vw;
  }
  .pagination ul:before {
    width: 1.6vw;
    height: 1.6vw;
    left: -4vw;
    top: 3vw;
    border: 0.5vw solid transparent;
    border-bottom-color: #009944;
    border-left-color: #009944;
    border-radius: 1px;
  }
  .pagination ul:after {
    width: 1.6vw;
    height: 1.6vw;
    right: -4vw;
    top: 3vw;
    border: 0.5vw solid transparent;
    border-bottom-color: #009944;
    border-left-color: #009944;
    border-radius: 1px;
  }
  .pagination li {
    line-height: 8.267vw;
    margin: 0 0.8vw;
  }
  .pagination li:first-child, .pagination li:last-child {
    margin: 0;
  }
  .pagination li a, .pagination li span {
    font-size: 2.667vw;
    width: 8.267vw;
    line-height: 8.267vw;
    vertical-align: inherit;
  }
  .pagination .prev {
    margin: 0 5.333vw 0 0;
  }
  .pagination .next {
    margin: 0 0 0 5.333vw;
  }

  /* footer
    -----------------------------------------------------------------*/
  .sec-footer {
    padding: 12.8vw 0 7.733vw 0;
    border-top: 0.133vw solid #dedede;
  }
  .sec-footer .footer-menulist {
    padding-bottom: 8.667vw;
  }
  .sec-footer .footer-menulist ul {
    float: none;
    border: none;
  }
  .sec-footer .footer-menulist ul li.list {
    padding-bottom: 0px;
    display: inline-block;
    width: 100%;
    border-bottom: 0.133vw solid #dedede;
  }
  .sec-footer .footer-menulist ul li.list a {
    padding: 6.667vw 0;
  }
  .sec-footer .footer-menulist ul:first-child li.list a {
    padding-top: 0;
  }
  .sec-footer .footer-menulist ul.acd-child li {
    border-bottom: 0;
    display: inline-block;
    width: 100%;
  }
  .sec-footer .footer-menulist ul:nth-of-type(1), .sec-footer .footer-menulist ul:nth-of-type(2), .sec-footer .footer-menulist ul:nth-of-type(3), .sec-footer .footer-menulist ul:nth-of-type(4) {
    width: 100%;
    padding: 0;
  }
  .sec-footer .footer-menulist ul .acd-parent {
    position: relative;
  }
  .sec-footer .footer-menulist ul .acd-child {
    display: none;
  }
  .sec-footer .footer-menulist ul .list-02 .link:after {
    content: '';
    position: absolute;
    width: 2.400vw;
    height: 4.267vw;
    background: url(../img/common/ico_arrow_03_sp.png) no-repeat center/cover;
    right: 0.4vw;
  }
  .sec-footer .footer-menulist ul .acd-parent .link:after {
    content: '';
    position: absolute;
    width: 4.267vw;
    height: 4.267vw;
    background: url(../img/common/ico_plus.png) no-repeat center/cover;
    right: 0;
  }
  .sec-footer .footer-menulist ul .acd-parent.open .link:after {
    content: '';
    position: absolute;
    width: 4.267vw;
    height: 0.400vw;
    background: url(../img/common/ico_minus.png) no-repeat center/cover;
    right: 0;
    top: 2vw;
  }
  .sec-footer .footer-menulist ul:nth-child(2n) .acd-parent.open .link:after {
    top: 9vw;
  }
  .sec-footer .footer-menulist ul li {
    padding-bottom: 0;
    position: relative;
  }
  .sec-footer .footer-menulist ul:after {
    background: none;
    width: 0;
    height: 0;
  }
  .sec-footer .footer-menulist ul:last-child:after {
    background: none;
  }
  .sec-footer .footer-menulist ul.acd-child li a {
    padding: 0 0 7.333vw 4vw;
    font-size: 3.2vw;
    color: #8a8e8c;
    display: block;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: none;
  }
  .sec-footer .footer-menulist ul .list-03 {
    display: inline-block;
    width: 49%;
    padding-top: 8vw;
  }
  .sec-footer .footer-menulist ul .list-03 a {
    font-size: 3.2vw;
    color: #8a8e8c;
    font-weight: 500;
  }
  .sec-footer .footer-menulist ul li.list a.link {
    width: 100%;
    font-size: 4vw;
    margin: 0;
    letter-spacing: 0;
    font-weight: 600;
  }
  .sec-footer .l-container {
    max-width: 92vw;
  }
  .sec-footer .l-social {
    padding: 8vw 0 13.067vw;
    background-color: #009844;
    border-radius: 0.8vw;
    background-image: none;
    border-radius: 7px;
  }
  .sec-footer .social-ttl {
    width: 28vw;
    padding: 3.87vw 3.333vw 3.87vw 4.403vw;
    font-size: 2.933vw;
    letter-spacing: 0.133vw;
    text-align: left;
    border-radius: 5.333vw;
    background: #23a155;
  }
  .sec-footer .social-ttl br {
    display: none;
  }
  .sec-footer .social-ttl.management {
    padding: 1.5vw 3.333vw 1.5vw 4.403vw;
    line-height: 1.3;
  }
  .sec-footer .l-social .social-item:nth-child(6n) span {
    padding: 2vw 3.87vw;
    line-height: 1.15;
  }
  .sec-footer .l-social .social-content {
    border-bottom: 0;
  }
  .sec-footer .l-social .social-item:first-child {
    width: 100%;
  }
  .sec-footer .l-social .social-item:first-child .social-ttl {
    width: 90%;
  }
  .sec-footer .l-social .social-item {
    width: 35.733vw;
    margin: 0 5vw 5.333vw 0;
  }
  .sec-footer .l-social .social-item-02 {
    margin-right: 0;
  }
  .sec-footer .l-social .social-item:nth-child(6n), .sec-footer .l-social .social-item:last-child {
    margin-bottom: 0;
  }
  .sec-footer .l-social .social-no {
    margin: 5.333vw 3.733vw;
  }
  .sec-footer .l-social .social-no p {
    font-size: 2.8vw;
    margin-bottom: 3.2vw;
  }
  .sec-footer .l-social .social-ico {
    padding: 0 3.7vw;
  }
  .sec-footer .l-social .social-ico .map {
    width: 6vw;
  }
  .sec-footer .l-social .social-ico .facebook {
    width: 2.4vw;
  }
  .sec-footer .l-social .social-ico .twitter {
    width: 5vw;
  }
  .sec-footer .l-social .social-ico .instragram {
    width: 5.467vw;
  }
  .sec-footer .l-social .social-ico .ico-01 {
    margin-right: 3.333vw;
  }
  .sec-footer .copyright {
    margin-top: 10vw;
  }
  .sec-footer .copyright .footer-logo {
    width: 28.267vw;
  }
  .sec-footer .copyright .footer-logo img {
    width: 100%;
  }
  .sec-footer .copyright .footer-phno {
    padding-left: 3vw;
  }
  .sec-footer .copyright .footer-phno p {
    padding-left: 0;
    padding-right: 9.733vw;
    font-size: 4.6vw;
  }
  .sec-footer .copyright .footer-phno p:before {
    background: none;
  }
  .sec-footer .copyright .footer-phno p:after {
    content: '';
    position: absolute;
    width: 6.267vw;
    height: 5.333vw;
    background: url(../img/common/ico_map.png) no-repeat center/cover;
    right: 0;
    top: 1vw;
  }
  .sec-footer .copyright .footer-phno p span {
    font-size: 1.733vw;
    letter-spacing: 0.267vw;
  }
  .sec-footer .footer-copyright {
    float: none;
    padding-top: 7.467vw;
    font-size: 2.667vw;
    color: #000000;
    text-align: center;
    font-weight: 600;
  }
  .sec-content {
    width: 100%;
    border: none;
  }
  .sec-content_in {
    width: auto;
  }

  /* ttl-profile */
  .ttl-profile span {
    font-size: 3.2vw;
    letter-spacing: 0.267vw;
    padding: 1.467vw 2vw;
  }
  .ttl-profile {
    padding-bottom: 1.6vw;
  }
}
