/* contact
-----------------------------------------------------------------*/

.contact .err-msg {
    color: #d43131;
    font-size: 14px;
    display: block;
    text-align: left;
    padding: 15px 0 0 125px;
}

.contact-bg {
    background: #f4f6f5;
}

.contact .contact-img img {
    max-width: 100%;
    margin: 0 auto;
}

.contact .contact-txt {
    padding: 119px 0 71px;
    letter-spacing: 1.4px;
}

.contact .contact-ph-fax {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 99px;
}

.contact .contact-ph-fax>div {
    width: 560px;
    border-top: 4px solid #009944;
    background: #fff;
    text-align: center;
    padding: 42px 0 56px;
    border-radius: 5px;
}

.contact .contact-ph-fax>div:first-child {
    margin-right: 40px;
}

.contact .contact-ph-fax>div .txt {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.contact .contact-ph-fax>div .ph-no a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 25px 0;
    color: #009944;
    font-size: 48px;
    font-weight: bold;
    pointer-events: none;
}

.contact .contact-ph-fax>div .ph-no a span {
    display: flex;
    padding-right: 14px;
}

.contact .contact-ph-fax .contact-ph .ph-no span {
    padding-top: 10px;
}

.contact .contact-ph-fax>div .time {
    font-size: 14px;
    letter-spacing: 2.1px;
    font-weight: 500;
}

.contact .contact-tit-img {
    margin-bottom: 39px;
    text-align: center;
}

.contact .contact-tit-img img {
    margin: 0 auto;
}

.contact .form-tbl th {
    width: 422px;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    padding-top: 19px;
    letter-spacing: 1.8px;
}

.contact .form-tbl th span.require {
    background-color: #d43131;
    color: #fff;
    border: none;
}

.contact .form-tbl th span {
    padding: 7px 32px;
    margin-right: 98px;
    margin-top: -5px;
    border-radius: 5px;
    font-size: 12px;
    float: right;
    border: 1px solid #222;
    color: #222;
    font-weight: normal;
}

.contact .form-tbl td {
    width: 745px;
    padding-bottom: 43px;
}

.contact .form-tbl td span,
.contact .form-error {
    display: block;
    padding: 18px 0 0 0;
    font-size: 14px;
    color: #d43131;
}

.contact .form-tbl tr:nth-child(2) td {
    padding-bottom: 29px;
}

.contact .form-tbl tr:nth-child(3) td {
    padding-bottom: 32px;
}

.contact .form-tbl tr:nth-child(4) td {
    padding-bottom: 30px;
}

.contact .form-tbl tr:nth-child(5) td {
    padding-bottom: 30px;
}

.contact .form-tbl td input {
    width: 96.5%;
    padding: 16px 0 18px 3.5%;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #dfe0e0;
}

.contact .form-tbl td select {
    width: 445px;
    padding: 16px 22px 14px 24px;
    font-size: 16px;
    letter-spacing: 1.4px;
    border: 1px solid #dfe0e0;
    color: #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* background: transparent; */
    background: #fff url("../../assets/img/contact/select_arr.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 24px;
}

.contact .form-tbl td option:first {
    color: #999;
}

.contact .form-tbl td textarea {
    width: 96.5%;
    padding: 13px 0 56px 3.5%;
    border: 1px solid #dfe0e0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    letter-spacing: 0.9px;
    resize: none;
}

.contact .form-tbl td input::placeholder,
.contact .form-tbl td textarea::placeholder {
    color: #2a2c31;
    opacity: 0.5;
}

.contact .contact-privacy-txt {
    padding-top: 40px;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 2.2;
}

.contact .contact-privacy {
    width: 775px;
    padding: 44px 63px 0 58px;
    margin: 30px auto 50px;
    height: 212px;
    border: 1px solid #dfe0e0;
    overflow-y: scroll;
}

.contact .contact-privacy::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

.contact .contact-privacy h4 {
    padding-bottom: 25px;
    font-weight: normal;
    font-size: 22px;
}

.contact .contact-privacy .contact-privacy-txt01 {
    padding-bottom: 35px;
}

.contact .contact-privacy p {
    font-size: 14px;
    line-height: 2;
}

.contact .contact-privacy p span {
    padding-right: 5px;
}

.contact .contact-privacy .contact-privacy-list {
    margin-left: 35px;
}

.contact .contact-privacy .privacy-list {
    margin-left: 20px;
}

.contact .contact-privacy .contact-privacy-list li {
    font-size: 14px;
    line-height: 2;
}

.contact .contact-privacy p:last-child {
    padding-bottom: 44px;
}

.contact .contact-submits a {
    display: block;
    width: 296px;
    padding: 26px 0 24px;
    margin: 0 auto;
    background: transparent;
    border: 2px solid #009944;
    font-size: 16px;
    border-radius: 62px;
    color: #009944;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1.7px;
    transition: .5s;
}

.contact .contact-submits a:hover {
    color: #ffffff;
    background-color: #009944;
    border: 2px solid #009944;
}

.contact-agree {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.contact-agree input[type=checkbox] {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    line-height: 30px;
    cursor: pointer;
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    -webkit-appearance: none;
    outline: none;
    vertical-align: top;
}

.contact-agree input[type=checkbox]::before {
    content: "";
    position: absolute;
    top: 42%;
    left: -3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: -7px;
    background: #FFF;
    border: 1px solid #ccc;
}

.contact-agree input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    left: 2px;
    width: 16px;
    height: 7px;
    margin-top: -2px;
    border-left: 2px solid #009944;
    border-bottom: 2px solid #009944;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.contact-submits {
    padding-bottom: 129px;
    margin: 39px 0 0 0;
}


/* confirm
-----------------------------------------------------------------*/

.confirm .page-content-mv h2 {
    padding-bottom: 124px;
}

.confirm .contact-tit-img {
    margin-bottom: 66px;
    text-align: center;
}

.confirm {
    max-width: 1920px;
    margin: 0 auto;
    background: url(/assets/img/contact/mv_confirm.png) no-repeat top left;
    background-size: auto;
}

.confirm .form-tbl tr:nth-child(1) td {
    padding-bottom: 60px;
}

.confirm .form-tbl tr:nth-child(2) td {
    padding-bottom: 58px;
}

.confirm .form-tbl tr:nth-child(3) td {
    padding-bottom: 56px;
}

.confirm .form-tbl tr:nth-child(4) td {
    padding-bottom: 56px;
}

.confirm .form-tbl tr:nth-child(5) td {
    padding-bottom: 62px;
}

.confirm .contact-privacy-txt {
    padding-top: 67px;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 2.2;
}

.confirm .page-content-mv {
    max-width: 1760px;
    margin: 0 auto;
    background: none;
    background-size: auto;
}

.confirm .contact-bg {
    background: none;
}

.confirm .form-tbl th {
    padding-top: 0;
}

.confirm .contact-submits {
    display: flex;
    padding-bottom: 129px;
    margin: 32px auto 0;
    width: 530px;
}

.contact.confirm .contact-submits a.btnback {
    width: 210px;
    border: 1px solid #dfe0e0;
    color: #2a2c31;
    margin-right: 20px;
    transition: .5s;
}

.contact.confirm .contact-submits a.btnback:hover {
    color: #ffffff;
}


/* complete
-----------------------------------------------------------------*/

.complete .contact-tit-img img {
    margin: 0 auto;
}

.complete .complete-tit {
    padding-top: 25px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.9px;
}

.complete .complete-tit span {
    color: #009944;
}

.complete .complete-txt {
    padding: 35px 0 53px;
    text-align: center;
    line-height: 2.2;
    letter-spacing: 1.5px;
}

.complete .complete-btn a {
    display: block;
    width: 292px;
    padding: 24px 6px 24px 0px;
    margin: 0 auto;
    background: transparent;
    border: 2px solid #009944;
    font-size: 16px;
    border-radius: 62px;
    color: #009944;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-align: center;
    transition: .5s;
}

.complete .complete-btn a:hover {
    color: #ffffff;
    background-color: #009944;
    border: 2px solid #009944;
}

.complete .complete-btn {
    padding-bottom: 143px;
}


/* media query -> tablet
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    .contact .err-msg {
        padding: 15px 0 0 98px;
    }
}


/* media query -> sp
=================================================================*/

@media screen and (max-width:767px) {
    .contact .err-msg {
        color: #d43131;
        font-size: 3.467vw;
        display: block;
        text-align: left;
        padding: 2.667vw 0 0 8vw;
    }
    .contact .contact-txt {
        padding: 10vw 0 8.667vw;
        font-size: 3.467vw;
        line-height: 1.5;
    }
    .contact .contact-ph-fax {
        display: block;
        margin-bottom: 10.667vw;
        justify-content: inherit;
        align-items: inherit;
    }
    .contact .contact-ph-fax>div {
        width: 95%;
        padding: 6vw 2vw 8vw;
        border-top: 2px solid #009944;
        border-radius: 3px;
    }
    .contact .contact-ph-fax>div .txt {
        font-size: 3.733vw;
    }
    .contact .contact-ph-fax>div .ph-no a {
        padding: 6vw 0 5.333vw 0;
        font-size: 9.133vw;
        pointer-events: auto;
    }
    .contact .contact-ph-fax>div .ph-no a span {
        display: flex;
        padding-right: 2.667vw;
        width: 11vw;
    }
    .contact .contact-ph-fax>div .ph-no a span img {
        max-width: 90%;
    }
    .contact .contact-ph-fax .contact-fax .ph-no a span img {
        max-width: 70%;
        padding-top: 0;
    }
    .contact .contact-ph-fax .contact-ph .ph-no span {
        padding-top: 0;
    }
    .contact .contact-ph-fax>div .time {
        font-size: 2.667vw;
        letter-spacing: 1.5px;
    }
    .contact .contact-ph-fax>div:first-child {
        margin-bottom: 5.333vw;
        margin-right: 0;
    }
    .contact .contact-tit-img {
        margin-bottom: 5.333vw;
    }
    .contact .contact-tit-img img {
        max-width: 85%;
        margin: 0 auto;
    }
    .contact .form-tbl th {
        width: 100%;
        float: left;
        padding: 0 0 2.667vw;
        font-size: 3.467vw;
    }
    .contact .form-tbl th span {
        margin-right: 0;
        font-size: 2.400vw;
        padding: 1.2vw 6vw;
        border-radius: 3px;
    }
    .contact .form-tbl td {
        width: 100%;
        float: left;
        padding-bottom: 5.333vw;
    }
    .contact .form-tbl tr:nth-child(2) td {
        padding-bottom: 5.333vw;
    }
    .contact .form-tbl tr:nth-child(3) td {
        padding-bottom: 5.333vw;
    }
    .contact .form-tbl tr:nth-child(4) td {
        padding-bottom: 5.333vw;
    }
    .contact .form-tbl tr:nth-child(5) td {
        padding-bottom: 5.333vw;
    }
    .contact .form-tbl tr:last-child td {
        padding-bottom: 0;
    }
    .contact .form-tbl td input {
        padding: 3.333vw 0 3.333vw 4vw;
        width: 95%;
        font-size: 3.467vw;
    }
    .contact .form-tbl td span,
    .contact .form-error {
        padding: 2.667vw 0 0 0;
        font-size: 3.467vw;
    }
    .contact .form-tbl td textarea {
        padding: 3.600vw 0 3.600vw 4vw;
        width: 96%;
        font-size: 3.467vw;
    }
    .contact .form-tbl td select {
        width: 100%;
        font-size: 3.467vw;
        padding: 3.333vw 0 3.333vw 4vw;
        background-position-x: 95%;
        background-position-y: 55%;
    }
    .contact .contact-privacy {
        width: 82%;
        padding: 6vw 8.667vw 0 6.667vw;
        margin: 6.667vw auto 9.333vw;
    }
    .contact .contact-privacy p:last-child {
        padding-bottom: 6vw;
    }
    .contact .contact-privacy-txt {
        padding-top: 9.333vw;
        font-size: 3.467vw;
    }
    .contact .contact-privacy h4 {
        font-size: 4.267vw;
        padding-bottom: 4vw;
    }
    .contact .contact-privacy .contact-privacy-txt01 {
        padding-bottom: 6.033vw;
    }
    .contact .contact-privacy p {
        font-size: 3.200vw;
    }
    .contact .contact-privacy .privacy-list {
        margin-left: 2.667vw;
    }
    .contact .contact-privacy .contact-privacy-list {
        margin-left: 4.667vw;
    }
    .contact .contact-privacy .contact-privacy-list li {
        font-size: 3.200vw;
    }
    .contact-agree {
        width: auto;
        text-align: left;
        padding: 0 5.333vw;
    }
    .contact-agree input[type=checkbox] {
        position: absolute;
        top: 1.333vw;
    }
    .contact-agree input[type=checkbox]+label {
        font-size: 3.467vw;
        padding: 0 0 0 8.5vw;
        line-height: 1.5;
        display: inline-block;
    }
    .contact-agree input[type=checkbox]::before {
        width: 4.933vw;
        height: 4.933vw;
        left: 0;
        top: 0;
    }
    .contact-agree input[type=checkbox]:checked::after {
        left: 0.8vw;
        margin-top: 0;
        top: 0.5vw;
        width: 3.2vw;
        height: 1.333vw;
        border-left: 0.267vw solid #009944;
        border-bottom: 0.267vw solid #009944;
    }
    .contact-submits {
        margin: 7.333vw 0 0 0;
        padding-bottom: 17.333vw;
    }
    .contact .contact-submits a {
        width: 57.333vw;
        font-size: 3.467vw;
        padding: 4.667vw 0;
        border: 1px solid #009944;
    }
    .contact .contact-submits input {
        width: 80%;
        font-size: 3.467vw;
        padding: 4.667vw 0;
    }
    /* confirm
  -----------------------------------------------------------------*/
    .confirm {
        background: none;
    }
    .confirm .page-content-mv {
        background: url(/assets/img/service/mv_service_sp.png) no-repeat top left;
        background-size: contain;
        max-width: 100%;
        margin: 0 auto;
    }
    .confirm .contact-bg {
        position: relative;
        top: -28vw;
    }
    .confirm .page-content-mv h2 {
        padding-bottom: 57.233vw;
    }
    .confirm .contact-tit-img {
        margin-bottom: 10.133vw;
    }
    .confirm .form-tbl td {
        font-size: 3.467vw;
    }
    .confirm .form-tbl th {
        padding: 0 0 3.333vw;
    }
    .confirm .form-tbl tr:nth-child(1) td {
        padding-bottom: 8vw;
    }
    .confirm .form-tbl tr:nth-child(2) td {
        padding-bottom: 8vw;
    }
    .confirm .form-tbl tr:nth-child(3) td {
        padding-bottom: 8vw;
    }
    .confirm .form-tbl tr:nth-child(4) td {
        padding-bottom: 8vw;
    }
    .confirm .form-tbl tr:nth-child(5) td {
        padding-bottom: 8vw;
    }
    .confirm .contact-privacy-txt {
        padding-top: 16vw;
        line-height: 1.8;
    }
    .confirm .contact-submits {
        width: 100%;
        display: grid;
        margin: 6vw auto 0;
        padding-bottom: 18.667vw;
    }
    .contact.confirm .contact-submits a.btnsend {
        order: 1;
        margin-bottom: 4vw;
    }
    .contact.confirm .contact-submits a.btnback {
        order: 2;
        width: 36vw;
        margin-right: auto;
    }
    /* complete
  -----------------------------------------------------------------*/
    .complete .contact-tit-img img {
        max-width: 85%;
        margin: 0 auto;
    }
    .complete .complete-tit {
        font-size: 5.067vw;
        padding-top: 0;
    }
    .complete .complete-tit span {
        display: block;
        line-height: 1.8;
    }
    .complete .complete-txt {
        font-size: 3.467vw;
        padding: 6vw 0 8vw;
    }
    .complete .complete-btn {
        padding-bottom: 17.333vw;
    }
    .complete .complete-btn a {
        width: 57.333vw;
        font-size: 3.467vw;
        padding: 4.667vw 0;
        border: 1px solid #009944;
    }
}

@media screen and (max-width:480px) {
    .contact-agree input[type=checkbox]:checked::after {
        top: -0.5vw;
        left: 1vw;
    }
}
