.gaiyo a:hover {
    opacity: .8;
}

.page-content-mv h2 {
    padding: 74px 0 116px 0;
}

.page-content-mv .sub-ttl {
    margin-top: 25px;
}

.gaiyo-content {
    padding-bottom: 120px;
    background: #f4f6f5;
}

.content-intro {
    padding: 81px;
    background: #009944;
    margin-top: -217px;
    position: relative;
}

.content-intro p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 3;
}

.top-message {
    margin: 60px 0 80px 0;
    background: #ffffff;
    border-radius: 6px;
    border-left: 4px solid #009944;
}

.top-message .message {
    width: 33.5%;
    float: left;
    padding: 128px 95px 0 95px;
}

.top-message .message img {
    width: 80px;
}

.top-message .message h3 {
    font-size: 22px;
    line-height: 1.8;
    margin: 10px 0 25px -4px;
    letter-spacing: 3px;
}

.top-message .message p {
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 2px;
}

.top-message .msg-photo {
    width: 50%;
    float: right;
    border-top-right-radius: 6px;
}

.gaiyo-pagelist li {
    width: 260px;
    float: left;
    margin-right: 40px;
}

.gaiyo-pagelist li:last-child {
    margin-right: 0;
}

.gaiyo-pagelist li h4 {
    color: #009944;
    font-size: 16px;
    line-height: 2.5;
    margin: 20px 0 5px 0;
}

.gaiyo-pagelist li p {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
    letter-spacing: 0.8px;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    .top-message .message {
        width: 33%;
        float: left;
        padding: 10vw 7.422vw 0 7.422vw;
    }
    .gaiyo-pagelist li {
        width: 23.5%;
        margin-right: 2%;
    }
    .gaiyo-pagelist li a img {
        width: 100%;
    }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .gaiyo .l-inner {
        width: 84%;
        min-width: 84%;
        margin: 0 auto;
    }
    .page-content-mv h2 {
        padding: 13.5vw 0 19.5vw 0;
    }
    .page-content-mv h2 img {
        width: 55.733vw;
    }
    .page-content-mv .sub-ttl {
        margin-top: 6vw;
    }
    .gaiyo-content {
        padding-bottom: 17.333vw;
        background: #f4f6f5;
    }
    .content-intro {
        padding: 9vw;
        background: #009944;
        margin-top: -12.667vw;
        position: relative;
    }
    .content-intro p {
        color: #ffffff;
        font-size: 3.2vw;
        text-align: center;
        line-height: 2;
        letter-spacing: 0.2vw;
    }
    .top-message {
        position: relative;
        margin: 9.333vw 0;
        background: #ffffff;
        border-radius: 0.8vw;
        border-left: none;
    }
    .top-message:before {
        position: absolute;
        width: 90.667vw;
        left: -3vw;
        top: -0.4vw;
        content: " ";
        border-top: 0.8vw solid #009944;
    }
    .top-message .message {
        width: auto;
        float: none;
        padding: 8vw 7.5vw 8.5vw 7.5vw;
    }
    .top-message .message img {
        width: 15.467vw;
    }
    .top-message .message h3 {
        font-size: 4.533vw;
        line-height: 1;
        margin: 3.2vw 0 5vw -1.067vw;
        letter-spacing: 3px;
    }
    .top-message .message p {
        font-size: 3.2vw;
        line-height: 1.6;
        font-weight: normal;
        letter-spacing: 2px;
    }
    .top-message .msg-photo {
        width: 100%;
        float: none;
        border-top-right-radius: 0;
    }
    .gaiyo-pagelist li {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 8vw;
    }
    .gaiyo-pagelist li img {
        width: 100%;
    }
    .gaiyo-pagelist li:last-child {
        margin-bottom: 0;
    }
    .gaiyo-pagelist li h4 {
        color: #009944;
        font-size: 4vw;
        line-height: 1.3;
        margin: 4.7vw 0 1vw 0;
    }
    .gaiyo-pagelist li p {
        font-size: 3.2vw;
        line-height: 1.6;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: justify;
    }
}