.gallery .gallery-bg-sec {
  background: #f4f6f5;
  padding-bottom: 131px;
}
.gallery .page-content-mv h2 {
  padding: 74px 0 118px 0;
}
.gallery .page-content-mv .sub-ttl {
  margin-top: 25px;
}
.gallery .gallery-bnr {
  margin-top: -2px;
}
.gallery .gallery-bnr img {
  max-width: 100%;
  margin: 0 auto;
}
.gallery .youtube-bnr {
  padding-top: 80px;
  width: fit-content;
  margin: 0 auto;
}
.gallery .youtube-bnr img {
  width: 100%;
}
.gallery .gallery-allhouse {
  background-color: #ffffff;
  padding: 61px 0 33px;
  margin: 60px 0 40px 0;
  border-radius: 5px;
}
.gallery .gallery-allhouse h3 {
  position: relative;
  padding-left: 84px;
  font-size: 18px;
  letter-spacing: 1.7px;
  margin-bottom: 70px;
}
.gallery .gallery-allhouse h3::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 8px;
  left: 0px;
  top: 5px;
  background-color: #009944;
}
.gallery .gallery-allhouse-bl {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  margin-bottom: 47px;
}
.gallery .gallery-allhouse-bl .fll {
  width: 50%;
}
.gallery .gallery-allhouse-bl h4 {
  font-size: 22px;
  line-height: 1.4;
  color: #009944;
  letter-spacing: 2.2px;
}
.gallery .gallery-allhouse-bl h4.mg-l {
  margin-left: -2px;
  text-indent: -15px;
}
.gallery .mg-l span {
  padding-left: 14px;
}
.gallery .gallery-allhouse-bl h4 span {
  display: block;
  font-size: 14px;
  color: #a9a9a9;
  padding-top: 11px;
  letter-spacing: 1.6px;
  font-weight: 500;
}
.gallery .gallery-allhouse-bl p {
  padding-top: 20px;
  line-height: 2.5;
  letter-spacing: 1.6px;
}
.gallery .gallery-allhouse-bl .flr iframe {
  width: 530px;
  height: 300px;
}
.gallery .gallery-list {
  padding: 60px 0 55px;
  margin: 40px 0 0 0;
}
.gallery-allhouse__wrap {
  padding: 8px 87px 0;
}
.gallery .gallery-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -40px;
}
.gallery .gallery-list li {
  width: 33.333%;
  padding: 0 15px 40px;
  box-sizing: border-box;
}
.gallery .gallery-list li iframe {
  width: 100%;
  height: 200px;
}
.gallery .gallery-list li p {
  font-size: 16px;
  padding: 19px 0 0;
  line-height: 1.5;
  letter-spacing: 2px;
}
.gallery .gallery-list li:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (min-width:768px) and (max-width:1280px) {
  .gallery .gallery-allhouse-bl .fll {
    width: 45%;
  }
  .gallery .gallery-allhouse-bl .flr {
    width: 50%;
  }
  .gallery .gallery-allhouse-bl .flr img {
    max-width: 100%;
  }
  .gallery .gallery-allhouse-bl .flr iframe {
    width: 100%;
    height: 250px;
  }
  .gallery .gallery-list li iframe {
    width: 100%;
    height: 180px;
  }
  .gallery .gallery-list li {
    width: 31.33%;
    margin: 0 3% 4% 0;
  }
  .gallery .gallery-list li img {
    max-width: 100%;
  }
}
@media screen and (max-width:767px) {
  .gallery .l-inner {
    width: 92%;
    min-width: 92%;
    margin: 0 auto;
  }
  .gallery .gallery-bg-sec {
    padding-bottom: 17.333vw;
  }
  .gallery .page-content-mv h2 {
    padding: 22vw 0 27.2vw 0;
  }
  .gallery .page-content-mv h2 img {
    width: 81.2vw;
  }
  .gallery .page-content-mv .sub-ttl {
    margin-top: 2vw;
  }
  .gallery .youtube-bnr {
    padding-top: 12vw;
  }
  .gallery .gallery-allhouse {
    padding: 10.5vw 0 0;
    margin: 5.5vw 0 0 0;
  }
  .gallery .gallery-allhouse-bl {
    display: block;
    justify-content: inherit;
    padding: 0 7.5vw 12vw 7.5vw;
    margin-bottom: 0;
  }
  .gallery-allhouse__wrap {
    padding: 0;
  }
  .gallery .gallery-allhouse h3 {
    font-size: 3.733vw;
    padding-left: 8vw;
    margin-bottom: 8vw;
  }
  .gallery .gallery-allhouse h3::before {
    width: 4.400vw;
    height: 2vw;
    left: 0px;
    top: 1vw;
  }
  .gallery .gallery-allhouse-bl .fll {
    width: 100%;
  }
  .gallery .gallery-allhouse-bl h4 {
    font-size: 4.800vw;
    letter-spacing: 0.1vw;
    line-height: 1.6;
    text-indent: 2.6vw;
    margin-left: -2.6vw;
  }
  .gallery .gallery-allhouse-bl h4 span {
    font-size: 3.2vw;
    font-weight: 500;
  }
  .gallery .gallery-allhouse-bl h4.mg-l {
    margin-left: -1px;
    text-indent: -2.8vw;
    letter-spacing: 4px;
    line-height: 1.5;
  }
  .gallery .mg-l span {
    padding-left: 3vw;
  }
  .gallery .gallery-allhouse-bl p {
    font-size: 3.467vw;
    padding: 3vw 0 5.5vw 0;
    line-height: 1.9;
    letter-spacing: 1px;
  }
  .gallery .gallery-allhouse-bl .flr {
    padding-top: 0;
  }
  .gallery .gallery-allhouse-bl .flr iframe {
    width: 100%;
    height: 44vw;
  }
  .gallery .gallery-list {
    padding: 10.667vw 0 7.5vw;
    margin: 5vw 0 0 0;
  }
  .gallery .gallery-list ul {
    padding: 2vw 7.5vw;
    margin: auto;
  }
  .gallery .gallery-list li {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .gallery .gallery-list li p {
    font-size: 3.200vw;
    padding: 3vw 0 4.5vw;
  }
  .gallery .gallery-list li iframe {
    width: 76vw;
    height: 44vw;
  }
}