/* gaiyo common 
-----------------------------------------------------------------*/

.page-content-mv .sub-ttl {
  margin-top: 25px;
}

.ttl-message {
  display: block;
  width: 100%;
  padding-bottom: 40px;
}

.ttl-message span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffdd29;
  color: #fff;
  padding: 8px 17px;
  text-align: center;
}

.sub-ttl {
  font-size: 16px;
  margin-top: 22px;
  letter-spacing: 1.5px;
  display: block;
}

.txt-green {
  display: inline-block;
  color: #2cac3f;
  font-size: 18px;
  font-weight: 500;
}

.txt-green.br-green {
  border-bottom: 2px solid #009944;
  color: #009944;
}

.years01 li.br-gray {
  border-bottom: 2px solid #d7dfdb;
  color: #d7dfdb;
}

.com-green:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 49px solid transparent;
  border-top: 49px solid #009944;
  clear: both;
}

.bg-white {
  margin-top: 70px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.txt-green-small {
  color: #2cac3f;
}

.txt-green-large {
  font-size: 24px;
  font-weight: bold;
  color: #2cac3f;
}

.span-tit {
  display: inline-block;
  margin-left: 17px;
  font-size: 16px;
  font-weight: bold;
}

.month-list {
  position: relative;
  display: flex;
  padding: 41px 50px 41px 45px;
  background: #eef8f0;
  border-radius: 5px 0 5px 5px;
  box-sizing: border-box;
}

.arrow-left:after {
  content: '';
  position: absolute;
  right: -12px;
  top: 0;
  width: 0;
  height: 0;
  border-right: 13px solid transparent;
  border-top: 15px solid #eef8f0;
  z-index: 9;
}

.arrow-right:after {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-top: 15px solid #f4f6f5;
  clear: both;
}


/* page-content-mv 
  -----------------------------------------------------------------*/

.page-content-mv h2 {
  text-align: center;
  padding: 35px 0 83px;
}


/* gaiyo-content
  -----------------------------------------------------------------*/

.gaiyo-history .content-photo {
  margin-bottom: 120px;
}

.gaiyo-content {
  background: #f4f6f5;
  padding-bottom: 110px;
}


/* gaiyo-years
  -----------------------------------------------------------------*/

.gaiyo-years {
  position: relative;
  padding-top: 97px;
  text-align: center;
}

.gaiyo-years p {
  padding: 50px 0 129px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.77;
}


/* gaiyo-inner
  -----------------------------------------------------------------*/

.gaiyo-inner {
  position: relative;
}

.gaiyo-inner>img {
  width: 100%;
}

.gaiyo-inner .years-sec {
  padding: 70px 60px 100px 60px;
}

.gaiyo-inner .years-sec .years01 {
  display: flex;
  padding-bottom: 64px;
}

.gaiyo-inner .years01 li {
  width: 330px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.gaiyo-inner .years01 li:last-child {
  margin-right: 0;
}

.gaiyo-inner .years01-inner {
  display: flex;
  margin-top: 17px;
}

.gaiyo-inner .years01-inner .years01-left,
.gaiyo-inner .years01-inner .years01-right {
  width: 45%;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.month-list:first-child p.txt-green-small {
  width: 50px;
}

.gaiyo-inner .years01-inner .years01-center {
  position: relative;
  width: 12.9%;
  margin: -10px auto 0;
  text-align: center;
}

.years01-center hr {
  position: absolute;
  width: 1px;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
  background-color: #d7dfdb;
}

.years-tit {
  display: flex;
  align-items: center;
}

.years-tit li {
  width: 470px;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.years-tit li img {
  vertical-align: text-bottom;
}

.years-tit li:nth-child(2) {
  width: 130px;
  margin: 0 auto;
  text-align: center;
}

.hide-block {
  height: 49px;
  overflow: hidden;
  display: block;
}

.month-list.p-txt:first-child span.txt-green-small {
  width: 45px;
  display: inline-block;
}

.month-list.p-txt p span:nth-child(2) {
  width: 315px;
}

.month-list.p-txt {
  display: block;
}

.month-list.p-txt p {
  width: 100%;
  display: flex;
}

.month-list.right {
  padding: 41px 40px 41px 40px;
  background: #f4f6f5;
  border-radius: 0 5px 5px 5px;
}

.month-list p {
  width: 100%;
  text-align: left;
}

.txt-green-large span {
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 2.7;
}

.years01-center p {
  position: relative;
  background: #fff;
}

.years01-center p.border-none:after {
  background: none;
}

.years01-center p.border-short:after {
  height: 50px;
}

.green-box .box-right span {
  display: inline;
  margin-left: 65px;
}

.green-box .box-right .box-right__bottom {
  display: inline;
  margin-left: 220px;
}

.green-box .box-right .small-font {
  margin-left: 0;
}


/* green-box
  -----------------------------------------------------------------*/

.green-box {
  position: absolute;
  left: 0;
  right: 0;
  top: -77px;
  width: 580px;
  margin: 0 auto;
  padding: 31px 0 42px 50px;
  background: rgba(25, 163, 86, 0.9);
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 2.1;
}

.green-box.green-box-last {
  padding: 43px 0 44px 50px;
}

.green-box.green-box-last .box-left {
  margin: 0 50px 0 0;
}

.green-box.green-box-last .box-left .span-txt {
  margin-bottom: 0;
}

.green-box .box-left {
  float: left;
  margin: 14px 50px 0 0;
  text-align: center;
}

.green-box .box-left img {
  vertical-align: initial;
}

.green-box .box-left .span-txt {
  display: block;
  margin-top: 3px;
  font-size: 12px;
}


/* media query -> sp 
  =================================================================*/

@media screen and (min-width:768px) and (max-width:1280px) {
  .month-list.p-txt p span:nth-child(2) {
    width: 263px;
  }
}

@media screen and (max-width:767px) {
  .l-inner {
    width: 92%;
    min-width: 92%;
  }
  .gaiyo-history .page-content-mv h2 {
    padding: 20vw 0 22.533vw 0;
  }
  .gaiyo-history .page-content-mv h2 img {
    width: 43.4vw;
  }
  .gaiyo-history .ttl-message {
    padding-bottom: 2.533vw;
  }
  .gaiyo-history .ttl-message span {
    font-size: 3.200vw;
    padding: 1.4vw 1.9vw;
  }
  .gaiyo-history .sub-ttl {
    margin-top: 2.400vw;
    font-size: 2.933vw;
  }
  .bg-white {
    margin-top: 5.333vw;
  }
  .gaiyo-history .content-photo {
    margin-bottom: 10.667vw;
  }
  .gaiyo-content {
    padding-bottom: 17.467vw;
  }
  .arrow-left:after {
    right: -1.867vw;
    border-right: 2.400vw solid transparent;
    border-top: 2.400vw solid #eef8f0;
    z-index: 9;
  }
  .arrow-right:after {
    left: -1.867vw;
    border-left: 2.400vw solid transparent;
    border-top: 2.400vw solid #eef8f0;
  }
  .gaiyo-content .content-photo {
    margin-bottom: 10vw;
  }
  .gaiyo-inner .years-sec {
    padding: 5.267vw 8vw 12vw 8vw;
  }
  .gaiyo-years p {
    padding: 5.033vw 3vw 30.267vw 3vw;
  }
  .gaiyo-years p,
  .gaiyo-years p span {
    line-height: 1.6;
    font-size: 3.467vw;
    letter-spacing: 4px;
  }
  .gaiyo-years p span {
    display: block;
  }
  .gaiyo-years {
    padding-top: 13.767vw;
  }
  .com-green:before {
    border-right: 7vw solid transparent;
    border-top: 7vw solid #009944;
  }
  .green-box {
    width: 80%;
    padding: 5.133vw 12vw 5vw 12vw;
    font-size: 3.200vw;
    line-height: 1.667;
    top: -20vw;
  }
  .green-box.green-box-last {
    padding: 9.733vw 12.267vw 9.733vw 12.267vw;
  }
  .green-box .box-right span {
    margin-left: 15vw;
  }
  .last-greenbox .txt-content {
    padding-bottom: 30.267vw;
  }
  .green-box01 {
    padding: 6.133vw 4.867vw 6vw 6.467vw;
    line-height: 1.667;
  }
  .green-box .box-left {
    float: none;
    margin: 0 0 1vw -6vw;
  }
  .green-box.green-box-last .box-left {
    margin: 0 7vw 1vw 0vw;
  }
  .green-box .box-left .span-txt {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: super;
    margin-left: 2.400vw;
    font-size: 3.200vw;
  }
  .green-box .box-left img {
    width: 6.667vw;
  }
  .green-box .box-right {
    letter-spacing: 0.067vw;
  }
  .second-box .txt-content {
    padding-bottom: 25.467vw;
    line-height: 1.6;
  }
  .small-font {
    font-size: 2.400vw;
    line-height: 2.3;
  }
  .gaiyo-years img {
    width: 71vw;
  }
  .gaiyo-years img.ttl-img {
    width: 38.667vw;
  }
  .gaiyo-inner .years01 li {
    font-size: 3.2vw;
    line-height: 1.3;
    padding-bottom: 3.33vw;
    margin-right: 3.3vw;
  }
  .gaiyo-inner .years-sec .years01 {
    padding-bottom: 6.133vw;
  }
  .gaiyo-inner .years01-inner {
    margin-top: 4vw;
  }
  .years-tit li img {
    width: 16%;
  }
  .span-tit {
    display: block;
    margin-left: 0;
    font-size: 3.2vw;
  }
  .gaiyo-inner .years01-inner .years01-left,
  .gaiyo-inner .years01-inner .years01-right {
    width: 28.267vw;
  }
  .month-list,
  .month-list.p-txt {
    display: inherit;
    padding: 4vw 4vw 5.200vw 4vw;
  }
  .month-list.right {
    padding: 5.333vw 4vw;
  }
  .month-list:first-child p.txt-green-small {
    width: 100%;
    margin-bottom: 2.400vw;
    text-align: center;
    font-size: 3.200vw;
  }
  .month-list p {
    width: 100%;
    font-size: 2.667vw;
    line-height: 1.25;
  }
  .month-list.p-txt p {
    display: block;
    margin-bottom: 10px;
  }
  .month-list.p-txt:first-child span.txt-green-small {
    display: block;
    width: 100%;
    margin-bottom: 2.400vw;
    text-align: center;
    font-size: 3.2vw;
  }
  .month-list.p-txt p span:nth-child(2) {
    font-size: 2.667vw;
    width: 100%;
  }
  .gaiyo-inner .years01-inner .years01-center {
    width: 20.800vw;
    margin-top: -2vw;
  }
  .years01-center p {
    font-size: 5.867vw;
    margin-top: -0.933vw;
  }
  .txt-green-large span {
    font-size: 2.4vw;
    line-height: 1.667;
  }
}