/* main-visual
-----------------------------------------------------------------*/
#main-visual {
  width: 100%;
}
#main-visual .main-visual-content {
  position: relative;
  max-width: 1760px;
  margin: 35px auto 0 auto;
  width: 90%;
  z-index: 1;
}
#main-visual .mv-img {
  position: relative;
}
#main-visual .mv-img img {
  width: 100%;
}
#main-visual .mv-img .mv-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transition: opacity 1.5s ease;
}
#main-visual .mv-img .mv-img-cover.active {
  opacity: 0.7;
}
#main-visual .mv-title {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  padding-bottom: 30px;
  opacity: 0;
  transition: opacity 0.75s ease;
}
#main-visual .mv-title.active {
  opacity: 1;
}
#main-visual .txt-animation, #main-visual .mv-title span {
  text-align: center;
  line-height: 1;
  color: #b4e146;
  background: -webkit-linear-gradient(-45deg, #8fc53c, #009943,#fee101, #ee7500,#e72e8c, #870d84, #009bd4, #004a8b);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 4s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 4s cubic-bezier(0.5, 0, 0, 1) 0.3s;
  animation: gradation_main 4s ease infinite reverse;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main-visual .mv-title h2 {
  font-size: 85px;
  font-family: 'Fira Sans', sans-serif;
}
#main-visual .mv-title span {
  display: block;
  padding: 8px 0 10px;
  font-size: 150px;
}
#main-visual .mv-title h3 {
  max-width: 595px;
  text-align: center;
  margin: 17px auto;
  font-size: 34px;
}
#main-visual hr {
  max-width: 595px;
  height: 3px;
  margin: 10px auto;
  background: linear-gradient(45deg, #8fc53c, #009943,#fee101, #ee7500,#e72e8c, #870d84,#004a8b, #009bd4 );
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 4s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 4s cubic-bezier(0.5, 0, 0, 1) 0.3s;
  animation: gradation_main 4s ease infinite reverse;
  background-size: 200% 200%;
  border: 0;
}
@keyframes gradation_main {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-webkit-keyframes gradation_main {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes gradation_main {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes gradation_main {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
#main-visual .slick-prev {
  left: calc((100vw - 1300px)/2)
}
#main-visual .slick-next {
  right: calc((100vw - 1240px)/2)
}

/* scroll */
.scroll {
  position: relative;
  max-width: 1760px;
  margin: 0 auto;
}
.c-scroll {
  position: absolute;
  bottom: 60px;
  left: 6%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 99;
  letter-spacing: 3px;
}
.c-scroll a {
  color: #2a2c31;
}
.c-scroll::before {
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 108px;
  width: 1px;
  height: 40px;
  margin: auto;
  background: #ffffff;
  content: '';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.c-scroll::after {
  opacity: 1;
  position: absolute;
  right: 0px;
  bottom: -9px;
  left: 132px;
  width: 1px;
  height: 35px;
  background: #009944;
  content: '';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: .3s .1s;
}
.slider-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px 40px;
  max-width: 1080px;
  background-color: #ffffff;
  bottom: 50px;
  border-radius: 5px;
}
.slider {
  height: 31px;
  padding-left: 60px;
  background: url(../img/info_icon.png) no-repeat;
  overflow: hidden;
}
@keyframes flickerAnimation {

  /* flame pulses */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider .text {
  width: 94.8%;
  float: left;
  font-size: 14px;
  animation: flickerAnimation .6s;
  display: flex;
}
.slider .mySlides .numbertext span {
  animation: flickerAnimation .6s;
}
.slider .text a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 80px;
	padding-left: 28px;
}
.slider .text a:hover {
  text-decoration: underline;
}
.slider .text span {
  padding-right: 28px;
}
span.rabel-cate {
   font-size: 12px;
    color: #ffffff;
    background: #009944;
    padding: 3px 0 !important;
    border-radius: 3px;
    line-height: 1.4;
    position: relative;
    margin-top: -3px;
    width: 12%;
    text-align: center;
}
.slider .numbertext {
  width: 5.2%;
  float: left;
  font-size: 14px;
}
.slider div {
  color: #222;
  height: 50px;
  margin-bottom: 50px;
  padding: 8px 0 0 0;
  box-sizing: border-box;
}
.slide-btn {
  height: auto !important;
  position: absolute;
  right: 30px;
  bottom: 17px;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
@keyframes slide {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: 0px;
  }
  33% {
    margin-top: -100px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -200px;
  }
  71% {
    margin-top: -200px;
  }
  100% {
    margin-top: -300px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 10px;
  user-select: none;
}
.prev {
  margin-right: 40px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* strength
-----------------------------------------------------------------*/
.sec-strength {
  margin-top: -266px;
  background-color: #f4f6f5;
  position: relative;
}
.sec-strength .str-intro {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/bg_strength_02.jpg) no-repeat;
  background-position: right;
  position: relative;
  z-index: 0;
  min-height: 660px;
}
.sec-strength .str-intro .intro {
  position: absolute;
  top: 62%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 16px;
  line-height: 2.2;
  text-align: center;
}
.sec-strength .str-info {
  background: url(../img/bg_strength_03.jpg) no-repeat top 60px center;  /* background-position: 0px 60px; */
  background-size: auto;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
	margin-top: 100px;
}
.sec-strength .str-info .str-ttl {
  position: absolute;
  top: -171px;
  left: 50px;
}
.sec-strength .inner-box {
  max-width: 430px;
  background-color: rgba(0, 153, 68, .85);
  border-radius: 6px;
  color: #ffffff;
  margin: 0 auto;
  padding: 145px 75px 150px 75px;
  text-align: center;
}
.sec-strength h3 {
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 22px;
}
.sec-strength .str-desc {
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 50px;
}
.sec-strength .str-btn {
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* service
-----------------------------------------------------------------*/
.sec-service {
  background-color: #f4f4f4;
  padding: 120px 0;
}
.common-btn.btn01 a {
  color: #fff;
  transition: .5s;
}
.common-btn.btn01 a:hover {
  color: #009944;
  background-color: #fff;
}
.block-btn a span {
  transition: .5s;
}
.block-01 .block-btn, .block-02 .block-btn, .block-03 .block-btn, .block-04 .block-btn, .block-05 .block-btn, .block-06 .block-btn {
  display: inline-block;
}
.block-01 .block-btn.btn01 a:hover span {
  color: #fff;
  background-color: #3d64ee;
  border: 2px solid #3d64ee;
}
.block-02 .block-btn.btn02 a:hover span {
  color: #fff;
  background-color: #ee7200;
  border: 2px solid #ee7200;
}
.block-03 .block-btn.btn03 a:hover span {
  color: #fff;
  background-color: #1aaf53;
  border: 2px solid #1aaf53;
}
.block-04 .block-btn.btn04 a:hover span {
  color: #fff;
  background-color: #f4cb36;
  border: 2px solid #f4cb36;
}
.block-05 .block-btn.btn05 a:hover span {
  color: #fff;
  background-color: #7cc53b;
  border: 2px solid #7cc53b;
}
.block-06 .block-btn.btn06 a:hover span {
  color: #fff;
  background-color: #e8328d;
  border: 2px solid #e8328d;
}
.sec-service .service-ttl,
.sec-pickup .pickup-ttl{
  display: inline-block;
  width: 100%;
}
.sec-pickup .pickup-ttl h2,
.sec-service .service-ttl h2 {
  display: inline-block;
  width: 32%;
  margin-right: 9%;
  color: #009944;
  letter-spacing: 3px;
}
.sec-service .service-wrap {
  width: 90%;
  max-width: 1760px;
  margin: 0 auto;
  padding-top: 70px;
}
.sec-service .service-wrap-02 {
  padding-top: 40px;
}
.sec-service .service-wrap .l-inner {
  width: 100%;
  max-width: 100%;
}
.service-wrap:last-child {
  padding-top: 40px;
}
.sec-service .service-desc {
  width: 59%;
  line-height: 1.8;
  float: right;
  letter-spacing: 0.5px;
}
.sec-service h2 span {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  color: #2a2c31;
}
.sec-pickup h2 span {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  color: #2a2c31;
}
.sec-service .service-wrap ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sec-service .service-wrap ul li {
  position: relative;
  width: 32%;
  float: left;
  margin-right: 2%;
  padding: 70px 0 70px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-color: #ffffff;
}
.sec-service .service-wrap ul li:nth-child(3n) {
  margin-right: 0;
}
.sec-service .service-wrap ul li.item-01 {
  border-left: 3px solid #3d64ee;
  border-right: 3px solid #1db1eb;
  background-image: linear-gradient(to right, #3d64ee 0%, #1db1eb 100%), linear-gradient(to right, #3d64ee 0%, #1db1eb 100%);
}
.sec-service .service-wrap ul li.item-02 {
  border-left: 3px solid #e9711f;
  border-right: 3px solid #eaa31e;
  background-image: linear-gradient(to right, #e9711f 0%, #eaa31e 100%), linear-gradient(to right, #e9711f 0%, #eaa31e 100%);
}
.sec-service .service-wrap ul li.item-03 {
  border-left: 3px solid #1aaf53;
  border-right: 3px solid #9bcc16;
  background-image: linear-gradient(to right, #1aaf53 0%, #9bcc16 100%), linear-gradient(to right, #1aaf53 0%, #9bcc16 100%);
}
.sec-service .service-wrap ul li.item-04 {
  border-left: 3px solid #f4cb36;
  border-right: 3px solid #b6c82e;
  background-image: linear-gradient(to right, #f4cb36 0%, #b6c82e 100%), linear-gradient(to right, #f4cb36 0%, #b6c82e 100%);
}
.sec-service .service-wrap ul li.item-05 {
  border-left: 3px solid #7cc53b;
  border-right: 3px solid #bac127;
  background-image: linear-gradient(to right, #7cc53b 0%, #bac127 100%), linear-gradient(to right, #7cc53b 0%, #bac127 100%);
}
.sec-service .service-wrap ul li.item-06 {
  border-left: 3px solid #e8328d;
  border-right: 3px solid #ff70e2;
  background-image: linear-gradient(to right, #e8328d 0%, #ff70e2 100%), linear-gradient(to right, #e8328d 0%, #ff70e2 100%);
}
.sec-service .service-wrap ul li h3 {
  font-size: 28px;
  margin-bottom: 20px;
  -webkit-text-fill-color: transparent;
}
.service-wrap hr {
  width: 40px;
  height: 3px;
  margin: 10px auto 20px;
  border: none;  /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
  transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 3s cubic-bezier(0.5, 0, 0, 1) 0.3s;
  animation: gradation_line 3s ease infinite reverse;
  background-size: 200% 200%;
}
@keyframes gradation_line {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 91%;
  }
}
.service-wrap ul li.item-01:hover, .service-wrap ul li.item-01.current {
  background: linear-gradient(to right, #3d64ee 0%, #1db1eb 100%), linear-gradient(to right, #3d64ee 0%, #1db1eb 100%);
}
.service-wrap ul li.item-02:hover, .service-wrap ul li.item-02.current {
  background: linear-gradient(to right, #e9711f 0%, #eaa31e 100%), linear-gradient(to right, #e9711f 0%, #eaa31e 100%);
}
.service-wrap ul li.item-03:hover, .service-wrap ul li.item-03.current {
  background: linear-gradient(to right, #1aaf53 0%, #9bcc16 100%), linear-gradient(to right, #1aaf53 0%, #9bcc16 100%);
}
.service-wrap ul li.item-04:hover, .service-wrap ul li.item-04.current {
  background: linear-gradient(to right, #f4cb36 0%, #b6c82e 100%), linear-gradient(to right, #f4cb36 0%, #b6c82e 100%);
}
.service-wrap ul li.item-05:hover, .service-wrap ul li.item-05.current {
  background: linear-gradient(to right, #7cc53b 0%, #bac127 100%), linear-gradient(to right, #7cc53b 0%, #bac127 100%);
}
.service-wrap ul li.item-06:hover, .service-wrap ul li.item-06.current {
  background: linear-gradient(to right, #e8328d 0%, #ff70e2 100%), linear-gradient(to right, #e8328d 0%, #ff70e2 100%);
}
.service-wrap ul li:hover h3, .service-wrap ul li.current h3 {
  color: #ffffff;
  -webkit-text-fill-color: initial;
}
.service-wrap ul li:hover hr, .service-wrap ul li.current hr {
  background: #ffffff;
}
.service-wrap ul li .service-txt {
  margin: 20px 0 0;
  line-height: 1.5;
}
.service-wrap ul li:hover .service-txt, .service-wrap ul li.current .service-txt {
  color: #ffffff;
}
.service-block {
  display: none;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 60px;
}
.service-block.current {
  display: inherit;
}
.service-block .txt-left {
  width: 50%;
  float: left;
}
.service-block .img-right {
  width: 50%;
  float: right;
}
.service-block img {
  width: 100%;
  border-radius: 0 6px 6px 0;
  vertical-align: top;
}
.service-block .img-left img {
  width: 100%;
  border-radius: 6px 0 0 6px;
}
.service-block .block-item {
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 6px;
  background-color: #ffffff;
}
.service-block .block-item:last-child {
  margin-bottom: 20px;
}
.service-block .txt-left {
  width: 50%;
  float: left;
  padding: 5% 5% 0 5%;
  box-sizing: border-box;
}
.service-block .block-ttl {
  margin-bottom: 24px;
  font-size: 24px;
}
.service-block .block-desc {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 35px;
  letter-spacing: 1px;
}
.service-block .btn-flex {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  margin: 0 -10px;
}
.service-block .block-btn {
  padding: 0 10px;
  font-size: 14px;
  color: #3d64ee;
  display: block;
  width: 50%;
  box-sizing: border-box;
}
.service-block .block-btn a {
  display: block;
}
.service-block .block-btn span {
  padding: 25px 0;
  color: #3d64ee;
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid;
  border-radius: 35px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.service-block .img-left {
  width: 50%;
  float: left;
}
.service-block .txt-right {
  width: 40%;
  float: right;
  padding: 5% 5% 0 5%;
}
.block-02 .block-btn span {
  color: #ee7200;
}
.block-03 .block-btn span {
  color: #1aaf53;
}
.block-04 .block-btn span {
  color: #f4cb36;
}
.block-05 .block-btn span {
  color: #7cc53b;
}
.block-06 .block-btn span {
  color: #e8328d;
}
.service-item {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.triangle {
  display: none;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: 38%;
  clip: rect(auto, 180px, auto, 100px);
  transform: rotate(90deg);
}
.triangle::after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 10px;
  left: 10px;
  right: 20px;
  transform: rotate(-45deg);
  background-size: 200% 200%;
}
.item-01 .triangle::after {
  background: linear-gradient(to right, #3d64ee 0%, #1db1eb 100%), linear-gradient(to right, #3d64ee 0%, #1db1eb 100%);
  background-size: 38% 100%;
}
.item-02 .triangle::after {
  background: linear-gradient(to right, #e9711f 0%, #eaa31e 100%), linear-gradient(to right, #e9711f 0%, #eaa31e 100%);
  background-size: 38% 100%;
}
.item-03 .triangle::after {
  background: linear-gradient(to right, #1aaf53 0%, #9bcc16 100%), linear-gradient(to right, #1aaf53 0%, #9bcc16 100%);
  background-size: 38% 100%;
}
.item-04 .triangle::after {
  background: linear-gradient(to right, #f4cb36 0%, #b6c82e 100%), linear-gradient(to right, #f4cb36 0%, #b6c82e 100%);
  background-size: 38% 100%;
}
.item-05 .triangle::after {
  background: linear-gradient(to right, #7cc53b 0%, #bac127 100%), linear-gradient(to right, #7cc53b 0%, #bac127 100%);
  background-size: 38% 100%;
}
.item-06 .triangle::after {
  background: linear-gradient(to right, #e8328d 0%, #ff70e2 100%), linear-gradient(to right, #e8328d 0%, #ff70e2 100%);
  background-size: 38% 100%;
}
.service-wrap ul li.current .triangle {
  display: block;
}

/* .sec-news
-----------------------------------------------------------------*/
.sec-news {
  padding-bottom: 120px;
  background-color: #f4f6f5;
}
.sec-news .l-new-content {
  padding-top: 97px;
  width: 100%;
  background: url('/assets/img/bg_news.jpg') no-repeat top center;
  background-size: 100% auto;
  min-height: 560px;
}
.sec-news .l-new-content .new-ttl {
  text-align: center;
  color: #ffffff;
  letter-spacing: 5px;
}
.sec-news .l-new-content .new-ttl span {
  display: block;
  padding: 20px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
}
.sec-news .news-tabs {
  padding: 70px 0 80px;
}
.sec-news .common-btn {
  padding-top: 60px;
}
.news-nav-list {
	display: flex;
  border: 2px solid #ffffff;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.news-nav-list li {
  border-right: 2px solid #ffffff;
	width: 14.3%;
}
.news-nav-list li button {
  outline: none;
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
}
.news-nav-list li:last-child {
  border-right: none;
}
.news-nav-list li button {
  color: #ffffff;
	height: 60px;
  text-align: center;
  display: block;
  transition: .5s;
}
.news-nav-list li button:hover{
	cursor: pointer;
}
.news-nav-list li:hover button, .news-nav-list li button.active {
  color: #009944;
  background: #ffffff;
}
.news-container ul li {
  float: left;
  width: 360px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
}
.news-container ul li a {
  width: 100%;
}
.news-container .no-txt{
  margin-top: 40px;
  display: inline-block;
}
.news-container ul li a:hover {
  opacity: .9;
}
.news-container ul li:nth-child(3n-1) {
  margin: 0 40px;
}
.news-container .news-img {
  position: relative;
}
.news-container .news-img img {
  max-width: 100%;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.news-container .news-img .news-category {
  position: absolute;
  bottom: -15px;
  left: 40px;
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  background: #009944;
  padding: 3px 20px;
  border-radius: 3px;
}
.news-container .news-intro {
  position: relative;
  padding: 35px 40px;
}
.news-container .news-intro .news-ttl {
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 1px;
}
.news-container .news-intro .news-date {
  font-size: 14px;
  color: #97999e;
  padding: 15px 0 10px 0;
  letter-spacing: 1px;
}

/* .sec-site
-----------------------------------------------------------------*/
.sec-site {
  padding: 94px 0 115px;
}
.sec-site .site-ttl h2 {
  float: left;
  width: 50%;
  margin-right: 11%;
  color: #009944;
  letter-spacing: 3px;
}
.sec-site .site-ttl h2 span {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  color: #2a2c31;
}
.sec-site .site-ttl .site-desc {
  float: right;
  width: 39%;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
.sec-site .site-list {
  padding-top: 70px;
}
.sec-site .site-item {
  float: left;
  width: 260px;
  margin-right: 40px;
  padding-bottom: 50px;
}
.sec-site .site-item img {
  width: 100%;
}
.sec-site .site-item:nth-child(4n), .sec-site .site-item:last-child {
  margin-right: 0;
}
.sec-site .site-item:nth-child(10n), .sec-site .site-item:last-child {
  padding-bottom: 0;
}
.sec-site .site-item .box {
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}
.sec-site .site-item .box .box__img {
  padding: 8px 0px 8px 1px;
  display: block;
}
.sec-site .site-item .box-01 {
  border-left: 2px solid #3d64ee;
  border-right: 2px solid #1db1eb;
  background-image: linear-gradient(to right, #3d64ee 0%, #1db1eb 100%), linear-gradient(to right, #3d64ee 0%, #1db1eb 100%);
}
.sec-site .site-item .box-02 {
  border-left: 2px solid #1aaf53;
  border-right: 2px solid #8bc81d;
  background-image: linear-gradient(to right, #1aaf53 0%, #8bc81d 100%), linear-gradient(to right, #1aaf53 0%, #8bc81d 100%);
}
.sec-site .site-item .box-03 {
  border-left: 2px solid #e9711f;
  border-right: 2px solid #eaab1e;
  background-image: linear-gradient(to right, #e9711f 0%, #eaab1e 100%), linear-gradient(to right, #e9711f 0%, #eaab1e 100%);
}
.sec-site .site-item .box-04 {
  border-left: 2px solid #e9711f;
  border-right: 2px solid #eaab1e;
  background-image: linear-gradient(to right, #e9711f 0%, #eaab1e 100%), linear-gradient(to right, #e9711f 0%, #eaab1e 100%);
}
.sec-site .site-item .box-05 {
  border-left: 2px solid #e9711f;
  border-right: 2px solid #eaab1e;
  background-image: linear-gradient(to right, #e9711f 0%, #eaab1e 100%), linear-gradient(to right, #e9711f 0%, #eaab1e 100%);
}
.sec-site .site-item .box-06 {
  border-left: 2px solid #1aaf53;
  border-right: 2px solid #8cc91d;
  background-image: linear-gradient(to right, #1aaf53 0%, #8cc91d 100%), linear-gradient(to right, #1aaf53 0%, #8cc91d 100%);
}
.sec-site .site-item .box-07 {
  border-left: 2px solid #f4cb36;
  border-right: 2px solid #bbc82f;
  background-image: linear-gradient(to right, #f4cb36 0%, #bbc82f 100%), linear-gradient(to right, #f4cb36 0%, #bbc82f 100%);
}
.sec-site .site-item .box-08 {
  border-left: 2px solid #bbc127;
  border-right: 2px solid #83c539;
  background-image: linear-gradient(to right, #bbc127 0%, #83c539 100%), linear-gradient(to right, #bbc127 0%, #83c539 100%);
}
.sec-site .site-item .box-09 {
  border-left: 2px solid #e8328d;
  border-right: 2px solid #fc68d8;
  background-image: linear-gradient(to right, #e8328d 0%, #fc68d8 100%), linear-gradient(to right, #e8328d 0%, #fc68d8 100%);
}
.sec-site .site-item .box-10 {
  border-left: 2px solid #303978;
  border-right: 2px solid #316da2;
  background-image: linear-gradient(to right, #303978 0%, #316da2 100%), linear-gradient(to right, #303978 0%, #316da2 100%);
}
.sec-site .site-item .box-11 {
  border-left: 2px solid #f5a813;
  border-right: 2px solid #f5a813;
  background-image: linear-gradient(to right, #f5a813 0%, #eaab1e 100%), linear-gradient(to right, #f5a813 0%, #eaab1e 100%);
}
.sec-site .site-item .box-12 {
  border-left: 2px solid #3d64ee;
  border-right: 2px solid #1ab2e9;
  background-image: linear-gradient(to right, #3d64ee 0%, #1ab2e9 100%), linear-gradient(to right, #3d64ee 0%, #1ab2e9 100%);
}
.sec-site .site-item .box-13 {
  border-left: 2px solid #70c7d1;
  border-right: 2px solid #3f648c;
  background-image: linear-gradient(to right, #70c7d1 0%, #3f648c 100%), linear-gradient(to right, #70c7d1 0%, #3f648c 100%);
}
.sec-site .site-item .box-14 {
  border-left: 2px solid #122a88;
  border-right: 2px solid #4c6cec;
  background-image: linear-gradient(to right, #122a88 0%, #4c6cec 100%), linear-gradient(to right, #122a88 0%, #4c6cec 100%);
}
.sec-site .site-item .box-15 {
  border-left: 2px solid #000;
  border-right: 2px solid #6c6c6c;
  background-image: linear-gradient(to right, #000 0%, #6c6c6c 100%), linear-gradient(to right, #000 0%, #6c6c6c 100%);
}
.sec-site .site-item h3 {
  display: inline-block;
  padding: 30px 0 20px;
  font-size: 18px;
}
.sec-site .site-item .link-list img {
  width: 16px;
  height: 16px;
  padding-left: 12px;
}
.sec-site .site-item p {
  font-size: 13px;
  line-height: 2;
}

/* sec-recruit
-----------------------------------------------------------------*/
.sec-recruit {
  background-color: #f4f6f5;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/bg_recruit.jpg) no-repeat center top;
  background-size: 100%;
}
.sec-recruit .l-sec-content {
  width: 100%;
  position: relative;
}
.sec-recruit .recruit-info {
  padding: 3.5vw 0 60px;
}
.sec-recruit .recruit-info .recruit-ttl {
  max-width: 294px;
  margin: 0 auto;
  padding: 17px 0;
  font-size: 18px;
  font-weight: 700;
  color: #009944;
  border-top: 2px solid #009944;
  border-bottom: 2px solid #009944;
}
.sec-recruit .recruit-info h2 {
  padding: 2vw 0;
}
.sec-recruit .recruit-info h2 img {
  width: 30vw;
}
.sec-recruit .recruit-info .recruit-txt {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 30px;
}
.sec-recruit .common-btn span:after {
  background: none;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width:1600px) {
  .sec-recruit .recruit-info {
    padding: 125px 0;
  }
}

@media only screen and (min-width:1280px) and (max-width:1350px) {
  #main-visual .mv-title h2 {
    font-size: 75px;
  }
  #main-visual .mv-title span {
    font-size: 125px;
  }
}

/* media query -> tablet
=================================================================*/
@media only screen and (min-width:768px) and (max-width:1280px) {

  /* main-visual
    -----------------------------------------------------------------*/
  .mv-title {
    top: 140px;
  }
  .slider-wrapper {
    width: 83%;
  }
  .slider .text {
    width: 95%;
  }
  .slider .numbertext {
    width: 5%;
  }
  .slider .mySlides {
    padding: 8px 15px 0 15px;
  }
  .c-scroll {
    left: 4%;
  }
  #main-visual .mv-title h2 {
    font-size: 60px;
  }
  #main-visual .mv-title span {
    font-size: 100px;
  }
  #main-visual .main-visual-content {
    /*margin: 10px auto 0 auto;*/
  }

  /* .sec-service
  -----------------------------------------------------------------*/
  .service-block {
    width: 90%;
  }
  .sec-service .service-wrap ul li {
    padding: 5.469vw 0;
  }
  .sec-news .new-list .new-item-box {
    padding: 3vw;
  }
  .service-block .txt-left {
    padding: 4%;
  }
  .service-block .txt-right {
    padding: 4%;
  }
  .service-block .block-desc {
    margin-bottom: 2.734vw;
  }

  /* .sec-strength
  -----------------------------------------------------------------*/
  .sec-strength {
    margin-top: -22%;
  }
  .sec-strength .str-intro {
    min-height: 60vw;
  }
  .sec-strength .str-intro .intro {
    top: 60%;
  }
  .sec-strength .str-ttl {
    top: 26.5%;
  }

  /* .sec-news
   -----------------------------------------------------------------*/
  .sec-news .l-new-content {
    background-size: 150.6% auto;
    min-height: 554px;
  }
  .news-nav-list li {
    width: 16.66%;
    box-sizing: border-box;
  }
  .news-container ul li {
    width: 31%;
  }
  .news-container ul li img {
    width: 100%;
  }
  .news-container ul li:nth-child(3n-1) {
    margin: 0 3.5%;
  }

  /* .sec-site
  -----------------------------------------------------------------*/
  .sec-site .site-ttl h2 {
    width: 54%;
    margin-right: 7%;
  }
  .sec-site .site-item {
    width: 238px;
    margin-right: 30px;
  }
  .sec-site .site-item a {
    position: relative;
  }
  .sec-site .site-item a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
  }
  .sec-recruit .recruit-info {
    padding: 30px 0 25px 0;
  }
  .sec-recruit .recruit-info h2 img {
    width: 30%;
  }
  .sec-recruit .recruit-info .recruit-ttl {
    max-width: 21vw;
    font-size: 1.2vw;
  }
  .sec-recruit .recruit-info .recruit-txt {
    font-size: 1.2vw;
    padding-bottom: 20px;
  }
}

/* media query -> sp
=================================================================*/
@media screen and (max-width:767px) {

  /* main-visual
    -----------------------------------------------------------------*/
  #main-visual .main-visual-content {
    padding: 0 4vw;
    width: auto;
  }
  #main-visual .main-visual-content .l-inner {
    width: 100%;
    margin-top: 5.867vw;
  }
  #main-visual .mv-img {
    padding: 0;
  }
  #main-visual .mv-title {
    width: 92%;
    /* top: 55%; */
    top: 250px;
  }
  #main-visual .mv-title h2 {
    font-size: 6.667vw;
  }
  #main-visual hr {
    max-width: 59vw;
    height: 0.4vw;
    margin: 2.667vw auto;
  }
  #main-visual .mv-title span {
    font-size: 18.4vw;
  }
  #main-visual .mv-title h3 {
    max-width: 60vw;
    font-size: 3.467vw;
    margin: 2.667vw auto;
  }

  /* slider
  -----------------------------------------------------------------*/
  .mySlides {
    display: inline-block;
    position: initial;
    max-width: 100%;
    width: 100%;
  }
  .slider-wrapper {
    width: auto;
    max-width: 100%;
    position: initial;
    padding: 0;
  }
  .slider .text {
    width: 100%;
	  display: block;
    float: initial;
    text-align: left;
    font-size: 3.2vw;
    padding: 0 20px 11px 40px;
    border-bottom: 0.133px solid #dde0df;
    box-sizing: border-box;
    line-height: 1.8;
  }
  .slider .text span {
    display: inline-block;
    padding-bottom: 0;
    padding-right: 15px;
  }
  span.rabel-cate {
    font-size: 10px;
    padding: 3px 8px !important;
    vertical-align: middle;
    width: auto;
  }
  .slider .text a {
    display: block;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    padding-right: 0;
	  padding-left: 0;
	  margin-top: 5px;
  }
  .slider .numbertext {
    padding: 4vw 0;
    font-size: 3.2vw;
    width: 100%;
    text-align: center;
    float: initial;
  }
  .slider {
    height: auto;
    padding: 0;
    background: url(../img/info_icon.png) no-repeat top 4.6vw left 4vw;
    background-size: 3.467vw;
  }
  .slider div {
    height: auto;
    padding: 12px 0 0 0;
    margin-bottom: 0;
  }
  .slide-btn {
    right: 0;
    left: 0;
    bottom: 4vw;
    text-align: center;
  }
  .slide-btn img {
    width: 1.867vw;
    height: 3.2vw;
  }
  .prev {
    margin-right: 16.667vw;
  }
  .prev, .next {
    padding: 0 1.333vw;
  }

  /* .sec-strength
  -----------------------------------------------------------------*/
  .sec-strength {
    margin-top: -95%;
  }
  .sec-strength .str-info .str-ttl {
    position: absolute;
    top: -3.2vw;
    left: 0;
    width: 19.733vw;
    z-index: 1;
  }
  .sec-strength .str-info .str-ttl img {
    width: 100%;
    max-width: 100%;
  }
  .sec-strength .str-intro {
    min-height: 164vw;
    background: url(../img/bg_strength_02_right.png) no-repeat bottom -22% right;
    background-size: 54%;
  }
  .sec-strength .str-intro .intro {
    width: auto;
    font-size: 3.2vw;
    top: 78%;
    transform: translateY(-50%);
    padding-left: 6.667vw;
    padding-right: 6.667vw;
  }
  .sec-strength .str-info {
    margin-top: 70px;
    padding: 38vw 0 0 0;
    background: url(../img/bg_strength_03_sp.jpg) no-repeat;
    background-size: 100%;
  }
  .sec-strength .inner-box {
    width: auto;
    background-color: rgba(0, 153, 68, .9);
    max-width: 100%;    /* padding: 14.267vw 11.733vw 14.267vw 12.667vw; */
    padding: 13.333vw;
    z-index: 1;
    position: relative;
  }
  .sec-strength h3 {
    font-size: 4.267vw;
    margin-bottom: 4.8vw;
    line-height: 1.8;
  }
  .sec-strength .str-desc {
    font-size: 3.2vw;
    line-height: 2;
    margin-bottom: 6.667vw;
  }
  .sec-strength .str-btn {
    border-radius: 6vw;
    border: 0.267vw solid #ffffff;
  }
  .sec-service .service-ttl img, .sec-news .new-ttl img, .sec-site .site-ttl img, .sec-pickup .pickup-ttl img {
    width: 100%;
  }
  .sec-service {
    padding: 21.333vw 0 10.667vw;
    background: url(../img/bg_strength_02_left.png) no-repeat left top 60%;
    background-color: #f4f4f4;
    background-size: 52%;
  }
  .sec-service .service-ttl,
 .sec-pickup .pickup-ttl{
    text-align: center;
  }
  .sec-service .service-ttl h2,
	.sec-pickup .pickup-ttl h2{
    float: none;
    width: 54%;
    margin-right: 0;
    letter-spacing: 0.4vw;
    text-align: center;
  }
  .sec-service h2 span {
    padding: 4vw 0 5.333vw;
    font-size: 2.933vw;
  }
  .sec-pickup h2 span {
    padding: 4vw 0 5.333vw;
    font-size: 2.933vw;
  }
  .sec-service .service-block.current {
    width: 85%;
    max-width: 100%;
    margin-top: 2vw;
  }
  .sec-service .service-block.sp {
    width: 100%;
  }
  .sec-service .service-desc {
    width: 100%;
    padding: 0;
    font-size: 3.2vw;
    line-height: 2.3;
    text-align: justify;
  }
  .sec-service .service-wrap {
    width: auto;
    max-width: 100%;
    padding-top: 9.333vw;
  }
  .service-content-pc {
    display: none;
  }
  .sec-service .service-wrap .l-inner {
    width: 85%;
  }
  .sec-service .service-wrap ul li {
    width: 100%;
    float: initial;
    margin-right: 0;
    margin-bottom: 8vw;
    padding: 8.667vw 0 8.667vw;
    background-size: 100% 0.4vw;
    border-radius: 0.8vw;
  }
  .sec-service .service-wrap ul li:focus, .sec-service .triangle {
    background-color: transparent;
  }
  .sec-service .service-wrap ul li.item-01 {
    border-left: 0.4vw solid #3d64ee;
    border-right: 0.4vw solid #1db1eb;
  }
  .sec-service .service-wrap ul li.item-02 {
    border-left: 0.4vw solid #e9711f;
    border-right: 0.4vw solid #eaa31e;
  }
  .sec-service .service-wrap ul li.item-03 {
    border-left: 0.4vw solid #1aaf53;
    border-right: 0.4vw solid #9bcc16;
  }
  .sec-service .service-wrap ul li.item-04 {
    border-left: 0.4vw solid #f4cb36;
    border-right: 0.4vw solid #b6c82e;
  }
  .sec-service .service-wrap ul li.item-05 {
    border-left: 0.4vw solid #7cc53b;
    border-right: 0.4vw solid #bac127;
  }
  .sec-service .service-wrap ul li.item-06 {
    border-left: 0.4vw solid #e8328d;
    border-right: 0.4vw solid #ff70e2;
  }
  .sec-service .service-wrap ul li h3 {
    font-size: 4.267vw;
    margin-bottom: 2.667vw;
  }
  .sec-service .service-wrap hr {
    width: 3.733vw;
    height: 0.267vw;
    margin: 1.333vw auto 2.667vw;
    border: none;
    background-size: 200% 200%;
  }
  .sec-service .service-wrap ul li .service-txt {
    font-size: 3.2vw;
    margin: 2.667vw 0 0;
  }
  .sec-service .service-wrap-02 {
    padding-top: 0;
  }
  .service-block .btn-flex {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 -10px;
  }
  .service-block .block-btn {
    width: 100%;
  }
  .service-block {
    margin-top: 8vw;
  }
  .service-block .block-item {
    margin-bottom: 8vw;
    max-height: initial;
  }
  .service-block .block-item:last-child {
    margin-bottom: 8vw;
  }
  .service-block .img-right, .service-block .img-left {
    width: 100%;
    float: initial;
  }
  .service-block img {
    border-radius: 6px 6px 0 0;
  }
  .service-block .txt-left, .service-block .txt-right {
    width: auto;
    float: inherit;
    padding: 11.333vw 9.333vw;
    min-height: auto;
  }
  .service-block .block-ttl {
    font-size: 4.533vw;
    margin-bottom: 3.333vw;
  }
  .service-block .block-desc {
    font-size: 3.2vw;
    margin-bottom: 6vw;
    text-align: justify;
    line-height: 2;
  }
  .service-block .block-btn span {
    width: 100%;
    font-size: 3.2vw;
    padding: 4.133vw 0;
    border: 0.267vw solid;
    border-radius: 6vw;
  }
  .service-block .block-btn {
    text-align: center;
    margin-bottom: 10px;
  }
  .service-block .block-btn:last-child {
    margin-bottom: 0;
  }
  .sec-service .triangle {
    text-align: center;
    display: block;
    width: 13.5vw;
    height: 13.5vw;
    position: absolute;
    top: 5.067vw;
    right: -3.333vw;
    left: inherit;
    clip: rect(auto, 24vw, auto, 13.33vw);
    transform: rotate(90deg);
  }
  .sec-service .service-wrap ul li.current .triangle {
    width: 14.667vw;
    height: 14.667vw;
    position: absolute;
    bottom: -1.4vw;
    left: 39vw;
    clip: rect(auto, 24vw, auto, 13.33vw);
    transform: rotate(90deg);
    top: auto;
  }
  .sec-service .triangle::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2vw;
    left: 1.333vw;
    right: 2.667vw;
    transform: rotate(-45deg);
    background-size: 50% 100%;
  }

  /* .sec-news
   -----------------------------------------------------------------*/
  .sec-news {
    padding-bottom: 16vw;
  }
  .sec-news .l-new-content {
    padding-top: 16vw;
    background: url('/assets/img/bg_news_sp.jpg') no-repeat;
    background-size: 100%;
    min-height: initial;
  }
  .sec-news .l-new-content .l-inner {
    width: auto;
    padding: 0 4vw;
  }
  .sec-news .l-new-content .new-ttl {
    width: 54%;
    margin: 0 auto;
    letter-spacing: 0.667vw;
  }
  .sec-news .l-new-content .new-ttl span {
    padding: 4vw 0 0;
    font-size: 2.933vw;
    letter-spacing: 0.133vw;
  }
  .sec-news .news-tabs {
    padding: 6.667vw 0 13.367vw;
  }
  .sec-news .common-btn.btn01 {
    border: 1px solid #009944;
  }
  .news-container {
    padding: 0 3.333vw;
  }
  .news-nav-list {
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
  }
  .news-container .no-txt{
    margin-bottom: 15.667vw;
    display: inline-block;
  }
  .sec-news .common-btn {
    padding-top: 8vw;
  }
  .news-nav-list li {
    width: 33.333%;
    box-sizing: border-box;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #fff;
  }
  .news-nav-list li:last-child {
    border-right: 1px solid #ffffff;
    border-bottom: none;
  }
  /*.news-nav-list li:nth-child(4n),
  .news-nav-list li:nth-child(5n) {
    border-bottom: none;
  }*/
  .news-nav-list li:nth-child(3n),
.news-nav-list li:nth-child(6n){
    border-right: none;
  }
  .news-nav-list li button {
    font-size: 2.667vw;
    padding: 15px 0;
  }
  .news-container ul li {
    float: none;
    width: 100%;
    margin-bottom: 4vw;
  }
  .news-container ul li:last-child {
    margin-bottom: 0;
  }
  .news-container ul li:nth-child(3n-1) {
    margin: 0 auto 4vw auto;
  }
  .news-container ul li a {
    display: flex;
  }
  .news-container ul li a .news-img {
    display: flex;
    align-items: center;
  }
  .news-container .news-img, .news-container .news-intro {
    display: inline-block;
  }
  .news-container .news-img {
    margin-right: 5.2vw;
  }
  .news-container .news-img img {
    width: 36vw;
    height: 26vw;
  }
  .news-container .news-img .news-category {
    right: 0;
    bottom: 0;
    left: auto;
    font-size: 1.867vw;
    padding: 0.667vw 3.733vw;
    border-radius: 0.667vw;
  }
  .news-container .news-intro .news-ttl {
    font-size: 2.933vw;
    line-height: 1.7;
    letter-spacing: 0.133vw;
    height: auto !important;
  }
  .news-container .news-intro .news-date {
    font-size: 2.667vw;
    padding: 2vw 0 1.333vw 1vw;
    letter-spacing: 2px;
  }
  .news-container .news-intro {
    width: 45%;
    padding: 4.2vw 0;
    letter-spacing: 1px;
  }

  /* .sec-site
  -----------------------------------------------------------------*/
  .sec-site {
    padding: 18vw 0 12vw;
  }
  .sec-site .site-ttl h2 {
    float: none;
    width: 75%;
    margin: 0 auto;
    letter-spacing: 0.4vw;
    text-align: center;
  }
  .sec-site .site-ttl h2 span {
    padding: 4.667vw 0 8vw;
    font-size: 2.933vw;
  }
  .sec-site .site-ttl .site-desc {
    float: none;
    width: 100%;
    font-size: 3.2vw;
    letter-spacing: 0.267vw;
    text-align: center;
    line-height: 2.3;
  }
  .sec-site .site-list {
    padding-top: 11.333vw;
  }
  .sec-site .site-item {
    width: 100%;
  }
  .sec-site .site-item {
    float: left;
    width: 38.667vw;
    margin-right: 7.067vw;
    padding-bottom: 7.6vw;
  }
  .sec-site .site-item img {
    width: 100%;
  }
  .sec-site .site-item:nth-child(2n), .sec-site .site-item:nth-child(4n), .sec-site .site-item:nth-child(6n), .sec-site .site-item:last-child {
    margin-right: 0;
  }
  .sec-site .site-item:nth-child(13n), .sec-site .site-item:last-child {
    padding-bottom: 0;
  }
  .sec-site .site-item .box {
    border-radius: 0.8vw;
    background-size: 100% 0.333vw;
  }
  .sec-site .site-item .box-01 {
    border-left: 0.267vw solid #3d64ee;
    border-right: 0.267vw solid #1db1eb;
  }
  .sec-site .site-item .box-02 {
    border-left: 0.267vw solid #1aaf53;
    border-right: 0.267vw solid #8bc81d;
  }
  .sec-site .site-item .box-03 {
    border-left: 0.267vw solid #e9711f;
    border-right: 0.267vw solid #eaab1e;
  }
  .sec-site .site-item .box-04 {
    border-left: 0.267vw solid #e9711f;
    border-right: 0.267vw solid #eaab1e;
  }
  .sec-site .site-item .box-05 {
    border-left: 0.267vw solid #e9711f;
    border-right: 0.267vw solid #eaab1e;
  }
  .sec-site .site-item .box-06 {
    border-left: 0.267vw solid #1aaf53;
    border-right: 0.267vw solid #8cc91d;
  }
  .sec-site .site-item .box-07 {
    border-left: 0.267vw solid #f4cb36;
    border-right: 0.267vw solid #bbc82f;
  }
  .sec-site .site-item .box-08 {
    border-left: 0.267vw solid #bbc127;
    border-right: 0.267vw solid #83c539;
  }
  .sec-site .site-item .box-09 {
    border-left: 0.267vw solid #e8328d;
    border-right: 0.267vw solid #fc68d8;
  }
  .sec-site .site-item .box-10 {
    border-left: 0.267vw solid #303978;
    border-right: 0.267vw solid #316da2;
  }
  .sec-site .site-item .box a {
    padding: 0.267vw 0px 0.267vw 0px;
  }
  .sec-site .site-item h3 {
    position: relative;
    padding: 4.133vw 0 2.667vw 0;
    font-size: 3.2vw;
  }
  .sec-site .site-item p {
    font-size: 2.933vw;
    letter-spacing: 0.133vw;
  }
  .sec-site .site-item .link-list img, .sec-footer .footer-menulist .link-list img {
    width: 3.2vw;
    height: 3.2vw;
    padding-left: 1vw;
  }

  /* sec-recruit
   -----------------------------------------------------------------*/
  .sec-recruit .l-sec-content {
    max-width: 100%;
    background: url(../img/bg_recruit_01_sp.jpg) no-repeat top, url(../img/bg_recruit_02_sp.jpg) no-repeat bottom;
    background-size: 100%;
    background-color: #f4f6f5;
  }
  .sec-recruit .recruit-info {
    padding: 43.333vw 0;
  }
  .sec-recruit .recruit-info .recruit-ttl {
    max-width: 48.667vw;
    padding: 2.133vw 0;
    font-size: 3.200vw;
    border-top: 0.267vw solid #009944;
    border-bottom: 0.267vw solid #009944;
  }
  .sec-recruit .recruit-info h2 {
    padding: 4.267vw 0 6vw;
  }
  .sec-recruit .recruit-info h2 img {
    width: 90%;
  }
  .sec-recruit .recruit-info .recruit-txt {
    font-size: 3.467vw;
    padding-bottom: 6vw;
    line-height: 2;
  }
}
@media only screen and (min-width:360px) and (max-width:420px) {
  .sec-service .service-wrap ul li.current .triangle {
    bottom: -1.3vw;
  }
}


/* pickup-swiper
-----------------------------------------------------------------*/
.pickup-wrap {
  position: relative;
}
.pickup-swiper {
  margin-top: 50px;
  padding-bottom: 60px;
}
.pickup-swiper .swiper-slide {
  font-size: 14px;
  line-height: 30px;
}
.pickup-swiper .swiper-slide img {
  max-width: 100%;
}
.pickup-swiper .swiper-slide p {
  margin-top: 30px;
}
.pickup-swiper .swiper-pagination {
  bottom: 0;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.pickup-swiper .swiper-pagination-bullet-active {
  background: #009944;
}
.pickup-wrap .pickup-nav {
  display: flex;
  position: absolute;
  bottom: calc(100% + 50px);
  right: 0;
}
.pickup-wrap .swiper-button-next,
.pickup-wrap .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: auto;
  left: auto;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  border: 2px solid #009944;
  border-radius: 100%;
}
.pickup-wrap  .swiper-button-next:after,
.pickup-wrap .swiper-button-prev:after {
  display: none;
}

@media screen and (max-width:767px) {
  .pickup-swiper {
    margin-top: 4vw;
    padding-bottom: 10vw;
  }
  .pickup-swiper .swiper-slide {
    font-size: 2.933vw;
    line-height: 2;
  }
  .pickup-swiper .swiper-slide p {
    margin-top: 2vw;
  }
  .pickup-wrap .pickup-nav {
    display: none;
  }
}
