/* sec-info
-----------------------------------------------------------------*/

.sec-info .page-content-mv h2 {
    text-align: center;
    padding: 34px 0 85px;
}

.sec-info .page-content-mv h2 img {
    margin: 0 auto;
}

.page-content-mv .sub-ttl {
    margin-top: 25px;
}

.sec-info .info-table {
    padding: 120px 0 130px;
}

.sec-info .info-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.sec-info .info-table table tr {
    display: block;
    border-bottom: 1px solid #e0e4e2;
}

.sec-info .info-table table tr:first-child {
    border-top: 1px solid #e0e4e2;
}

.sec-info .info-table table th {
    padding: 26px 0 26px 40px;
    font-size: 16px;
    font-weight: 700;
    width: 258px;
    background-color: #f2faf5;
    line-height: 1.5;
    letter-spacing: 1px;
    vertical-align: top;
}

.sec-info .info-table table td {
    padding: 26px 0 26px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
}

.sec-info .info-table table td.inner-ttl {
    padding: 34px 0 34px 40px;
}

.sec-info .info-table table span {
    padding-left: 38px;
}

.sec-info .info-table .ttl {
    margin-top: 28px;
    color: #009944;
    font-weight: 500;
}

.sec-info .info-table .ttl:first-child {
    margin-top: 0;
}

.sec-info .info-table td p {
    margin-bottom: 10px;
}

.sec-info .info-table td img {
    width: 16px;
    height: 16px;
    padding-left: 12px;
    vertical-align: baseline;
}

.sec-info .info-table .mb0 {
    margin-bottom: 0;
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .sec-info {
        border-bottom: 0.133vw solid #dedede;
    }
    .sec-info .page-content-mv h2 {
        padding: 13vw 0 12.7vw 0;
        margin-bottom: 1.733vw;
    }
    .sec-info .page-content-mv .sub-ttl {
        margin-top: 6.267vw;
    }
    .sec-info .page-content-mv h2 img {
        width: 67.5vw;
    }
    .sec-info .info-table {
        padding: 10.667vw 0 10vw;
    }
    .sec-info .info-table table tr,
    .sec-info .info-table table tr:first-child {
        border-top: 0.133vw solid #e0e4e2;
        border-bottom: none;
    }
    .sec-info .info-table table th {
        display: block;
        width: auto;
        font-size: 3.2vw;
        padding: 3.2vw 0 3.2vw 4.267vw;
        border-bottom: 0.133vw solid #e0e4e2;
    }
    .sec-info .info-table table td {
        display: block;
        width: auto;
        font-size: 3.2vw;
        padding: 4vw 0 6.133vw 0;
    }
    .sec-info .info-table td p {
        margin-bottom: 0.667vw;
    }
    .sec-info .info-table table span {
        padding-left: 0;
    }
    .sec-info .info-table td img {
        width: 3.2vw;
        height: 3.2vw;
        padding-left: 1.6vw;
    }
    .sec-info .info-table table td.inner-ttl {
        padding: 4.267vw 0 6.133vw 0;
    }
    .sec-info .info-table .ttl {
        margin-top: 4.4vw;
    }
    .sec-info .info-table table tr:last-child {
        border-bottom: none;
    }
}