/* sec-message
-----------------------------------------------------------------*/

.page-content-mv .sub-ttl {
    margin-top: 22px;
}

.sec-message .page-content-mv h2 {
    text-align: center;
    padding: 35px 0 83px;
}

.message-container {
    display: inline-block;
    width: 100%;
}

.message-container .message-text {
    width: 100%;
    max-width: 650px;
    float: left;
}

.message-container .message-img {
    position: absolute;
    top: 100px;
    right: 0;
}

.message-container .message-text .msg-txt01 {
    margin: 56px 0 5px;
    font-size: 16px;
}

.message-container .message-text .msg-txt02 span {
    width: 150px;
    display: inline-block;
    padding-left: 20px;
}

.message-container .message-text .msg-txt02 span img {
    width: 100%;
    max-width: 100%;
}

.message-content {
    background-color: #f4f6f5;
}

.message-content .message-inner {
    position: relative;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    height: 998px;
    padding: 123px 0 90px;
    background: url(../img/gaiyo/logo_message.png) no-repeat;
}

.message-container .message-text h3 {
    font-size: 36px;
    color: #009944;
    margin-bottom: 35px;
    line-height: 1.3;
}

.message-container .message-text p {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 2.5;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    .message-container .message-text {
        max-width: 60%;
    }
    .message-container .message-text p {
        margin-bottom: 30px;
    }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .sec-message .page-content-mv h2 {
        padding: 20.8vw 0 22.8vw 0;
    }
    .sec-message .page-content-mv h2 img {
        width: 73.867vw;
    }
    .sec-message .page-content-mv .sub-ttl {
        margin-top: 2vw;
    }
    .message-content .message-inner {
        height: auto;
        padding: 12.267vw 0 0;
        margin-top: 1.733vw;
        background: url(../img/gaiyo/logo_message.png) no-repeat top right;
    }
    .message-container .message-text {
        width: 100%;
        max-width: 100%;
        float: initial;
        margin-bottom: 10vw;
    }
    .message-container .message-text h3 {
        margin-bottom: 4.933vw;
        font-size: 6.4vw;
    }
    .message-container .message-text p {
        margin-bottom: 5.067vw;
        font-size: 3.2vw;
        line-height: 1.7;
    }
    .message-container .message-text .msg-txt01 {
        font-size: 3.733vw;
        margin: 5.067vw 0 0.667vw;
    }
    .message-container .message-text .msg-txt02 {
        margin-bottom: 0;
        font-size: 3.733vw;
    }
    .message-container .message-text .msg-txt02 span {
        width: 31.733vw;
        display: inline-block;
        padding-left: 1.6vw;
    }
    .message-container .message-img {
        width: 52.800vw;
        margin: 0 auto;
        position: initial;
        text-align: center;
    }
    .message-container .message-img img {
        width: 100%;
    }
}