/* news common 
-----------------------------------------------------------------*/

.news-list-content {
    background: #f4f6f5;
    padding: 120px 0 130px 0;
}


/* news-list
-----------------------------------------------------------------*/

.news-nav-list {
	display: flex;
    border: 2px solid #009944;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 80px;
    box-sizing: border-box;
    /*background: #009944;*/
}

.news-nav-list li {
	width: 14.3%;
    border-right: 2px solid #009944;
    background: #f4f6f5;
}

.news-nav-list li:last-child {
    border-right: none;
}

.news-nav-list li a {
    outline: none;
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
}

.news-nav-list li a {
    color: rgba(0, 153, 68, .4);
    padding: 24px 0;
    text-align: center;
    display: block;
    transition: .5s;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.news-nav-list li:hover a,
.news-nav-list li a.active {
    color: #ffffff;
    background: #009944;
}


/* news-container
-----------------------------------------------------------------*/

.news-container ul li {
    float: left;
    width: 360px;
    margin-bottom: 45px;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
}

.news-container ul li a:hover {
    opacity: .9;
}

.news-container ul li:nth-child(3n-1) {
    margin: 0 40px;
}

.news-container .news-img {
    position: relative;
}

.news-container .news-img img {
    max-width: 100%;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.news-container .news-img .news-category {
    position: absolute;
    bottom: -15px;
    left: 40px;
    font-size: 12px;
    color: #ffffff;
    line-height: 2;
    background: #009944;
    padding: 3px 20px;
    border-radius: 3px;
}

.news-container .news-intro {
    position: relative;
    padding: 35px 40px;
}

.news-container .news-intro .news-ttl {
    font-size: 14px;
    line-height: 2.2;
    /* text-align: justify; */
}

.news-container .news-intro .news-date {
    font-size: 14px;
    color: #97999e;
    padding: 15px 0 10px 0;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    .news-nav-list li {
        width: 14.285%;
        box-sizing: border-box;
    }
    .news-nav-list li a {
        width: 100%;
    }
    .news-container ul li {
        width: 31%;
    }
    .news-container ul li img {
        width: 100%;
    }
    .news-container ul li:nth-child(3n-1) {
        margin: 0 3.5%;
    }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .news-list .page-content-mv h2 img {
        width: 67.733vw;
    }
    .news-list-content {
        padding: 10.667vw 0 17.5vw 0;
    }
    .news-list-content .l-inner {
        width: 92%;
        min-width: 92%;
    }
    .news-container {
        padding: 0 3.333vw;
    }
    .news-nav-list {
		flex-direction: row;
		flex-wrap: wrap;
        border-radius: 4px;
        margin-bottom: 10.667vw;
        border: 1.5px solid #009944;
    }
    .news-nav-list li {
        width: 33.33%;
        box-sizing: border-box;
        border-right: 1.5px solid #009944;
        border-bottom: 1.5px solid #009944;
    }
    .news-nav-list li a {
        font-size: 2.667vw;
        padding: 0;
        width: 100%;
		height: 60px;
		line-height: 60px;
    }
    .news-nav-list li:nth-child(3n) {
        border-right: none;
    }
    .news-container ul li {
        float: none;
        width: 100%;
        margin-bottom: 3.8vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
	.news-nav-list li:last-child {
    border-right: 1.5px solid #009944;
		border-bottom: none;
}
    .news-container ul li:nth-child(3n-1) {
        margin: 0 auto 4vw auto;
    }
    .news-container .news-img,
    .news-container .news-intro {
        display: inline-block;
    }
    .news-container .news-img {
        margin-right: 5.2vw;
        vertical-align: top;
    }
    .news-container .news-img img {
        width: 36vw;
        height: 26vw;
        object-fit: cover;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .news-container .news-img .news-category {
        right: 0;
        bottom: 0;
        left: auto;
        font-size: 1.867vw;
        padding: 0.667vw 3.733vw;
        border-radius: 0.667vw;
    }
    .news-container .news-intro .news-ttl {
        font-size: 2.933vw;
        line-height: 1.7;
    }
    .news-container .news-intro .news-date {
        font-size: 2.667vw;
        padding: 2vw 0 0 1vw;
        letter-spacing: 2px;
    }
    .news-container .news-intro {
        width: 45%;
        padding: 5vw 0;
        vertical-align: middle;
    }
}