/* news-detail common
-----------------------------------------------------------------*/

.news-detail {
    font-size: 22px;
    font-weight: bold;
}

.news-detail a {
  color: #1A0DAB;
  text-decoration: underline;
}
.news-detail a:hover {
  text-decoration: none;
}

.page-content-mv .sub-ttl {
    margin-top: 50px;
    letter-spacing: 1.5px;
}

.page-content-mv h2 {
    padding: 74px 0 124px 0;
}

.news-detail p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 2.5;
}

h5.news-tit {
    position: relative;
    margin-top: 60px;
    margin-bottom: 26px;
    font-size: 18px;
    color: #2a2c31;
}

h5.news-tit span:before {
    content: "";
    width: 33px;
    height: 10px;
    background-color: #009944;
    position: absolute;
    left: -5.39%;
    top: 50%;
    transform: translateY(-50%);
}

h5.news-tit span {
    display: inline-block;
}


/*newsdetail-content
-----------------------------------------------------------------*/

.news-detail .newsdetail-content {
    padding: 88px 0 130px;
    background-color: #f4f6f5;
}

.news-detail .newsdetail-content .detail {
    line-height: 1.5;
    padding: 35px 60px;
    background-color: #009944;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 22px;
    color: #fff;
}

.news-detail .newsdetail-content .detail .news-date {
    margin-bottom: 10px;
    font-size: 12px;
}

.news-detail .newsdetail-content .detail .news-date .date {
    color: rgba(254, 254, 254, 0.5);
}

.news-detail .news-span {
    margin-left: 31px;
    padding: 4px 18px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
}


/*detail-inner
-----------------------------------------------------------------*/

.news-detail .detail-inner {
    line-height: 2;
    padding: 32px 57px;
    background: #fff;
    font-size: 16px;
}
.news-detail .detail-inner img {
  max-width: 100%;
  height: auto !important;
}

.news-detail .detail-txt {
  font-size: 16px;
}
.news-detail .detail-img {
  display: block;
  margin: 0 0 20px 0;
}
.news-detail .detail-img-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 20px;
}
.news-detail .detail-img-list img{
  display: inline-block;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.news-detail .detail-line {
  border-top: 1px solid #ff0000;
  border-style: dashed;
  margin: 50px 0;
  height: 1px;
}

.detail-inner-content .detail-info-left {
    display: inline-block;
    margin-right: 6%;
    width: 52%;
    vertical-align: top;
}

.detail-inner-content .detail-info-left .description {
    margin-top: -12px;
}

.detail-inner-content .detail-info-left a {
    display: inline-block;
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #2a2c31;
    margin-top: 10px;
}

.detail-inner-content .detail-info-left a:hover {
    opacity: .9;
    border-bottom: 1px solid #828282;
}

.detail-inner-content .detail-info-right {
    display: inline-block;
    width: 41%;
    text-align: center;
    vertical-align: top;
}

.detail-inner-content .detail-info-right img {
    width: 100%;
}

#detail-pagenation {
    width: 562px;
    margin: 0 auto;
    padding: 60px 0 21px;
}

#detail-pagenation a {
    width: 175px;
    font-weight: 400;
    position: relative;
}

#detail-pagenation a.news-list {
    text-align: center;
}

#detail-pagenation a.news-list span {
    padding-bottom: 12px;
    border-bottom: 2px solid #009944;
}

#detail-pagenation a:before {
    position: absolute;
    top: 50%;
    transform: translateY(-29%);
}

#detail-pagenation a.detail-pev:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 12px;
    border: 2px solid transparent;
    width: 8px;
    height: 8px;
    border-bottom-color: #009944;
    border-left-color: #009944;
    border-radius: 3px;
    transform: rotate(45deg);
}

#detail-pagenation a.detail-next:after {
    content: "";
    position: absolute;
    right: -25px;
    margin-left: 0;
    top: 12px;
    border: 2px solid transparent;
    width: 8px;
    height: 8px;
    border-bottom-color: #009944;
    border-left-color: #009944;
    border-radius: 3px;
    transform: rotate(-136deg);
}

#detail-pagenation .detail-next {
    text-align: right;
}


/* media query -> tablet
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    h5.news-tit span:before {
        left: -6.09%;
    }
}

@media screen and (max-width:767px) {
    .l-inner {
        width: 92%;
        min-width: 92%;
    }
    .news-detail .page-content-mv .l-inner {
        width: 85%;
        min-width: 85%;
    }
    .page-content-mv h2 {
        text-align: center;
        padding: 20vw 0 28.5vw 0;
    }
    .page-content-mv h2 img {
        width: 67.733vw;
    }
    .page-content-mv .sub-ttl {
        font-size: 2.933vw;
        margin-top: 6.333vw;
        display: block;
    }
    .news-detail p {
        letter-spacing: 1.5px;
    }
    .news-detail .newsdetail-content {
        padding: 9.867vw 0 16.949vw;
    }
    .news-detail p,
    .news-detail a {
        font-size: 3.390vw;
        line-height: 1.8;
    }
    .news-detail .detail-txt {
        font-size: 3.390vw;
    }
    h5.news-tit span:before {
        width: 2.608vw;
        height: 3.520vw;
        left: -8.8%;
    }
    .news-detail .news-span {
        margin-left: 4.133vw;
        padding: 1.122vw 2.347vw;
        font-size: 1.825vw;
    }
    .news-detail .newsdetail-content .detail {
        font-size: 4.433vw;
        padding: 9vw 7vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .news-detail .newsdetail-content .detail .news-date {
        font-size: 2.608vw;
    }
    .news-detail .detail-inner {
        padding: 7.200vw 7vw;
    }
    h5.news-tit {
        font-size: 4.311vw;
        margin: 9vw 0 3vw 0;
    }
    h5.news-tit span {
        line-height: 2.2;
        margin-left: 0;
    }
    .detail-inner-content .detail-info-left {
        width: 100%;
        margin: 0;
    }
    .detail-inner-content .detail-info-left a {
        font-size: 3.733vw;
        margin: 4.667vw 0 7vw 0;
    }
    .detail-inner-content .detail-info-right {
        width: 100%;
    }
    #detail-pagenation {
        width: 74.872vw;
        padding: 6vw 0 0;
        text-align: center;
    }
    #detail-pagenation a.news-list {
        vertical-align: middle;
    }
    #detail-pagenation a.news-list span {
        display: inline-block;
        padding-bottom: 1.600vw;
    }
    #detail-pagenation a {
        width: 21.838vw;
    }
    #detail-pagenation a.detail-pev:before {
        margin-left: 0;
        top: 1.600vw;
        left: -20px;
        margin-left: 0;
        width: 1.6vw;
        height: 1.6vw;
        border: 0.5vw solid transparent;
        border-bottom-color: #009944;
        border-left-color: #009944;
        border-radius: 1px;
    }
    #detail-pagenation a.detail-next:after {
        margin-right: 0;
        top: 1.600vw;
        right: -20px;
        width: 1.6vw;
        height: 1.6vw;
        border: 0.5vw solid transparent;
        border-bottom-color: #009944;
        border-left-color: #009944;
        border-radius: 1px;
    }
    .news-detail .detail-img-list {
      display: block;
      flex-wrap: wrap;
      margin: 10px 0 20px;
    }
    .news-detail .detail-img-list img{
      display: inline-block;
      width: auto;
      padding: 0;
      box-sizing: border-box;
      margin-top: 10px;
    }
    .news-detail .detail-line {
      margin: 30px 0;
    }
}
