/* sec-office
-----------------------------------------------------------------*/

.sec-office .page-content-mv h2 {
    text-align: center;
    padding: 34px 0 83px;
}

.sec-office .page-content-mv h2 img {
    margin: 0 auto;
}

.page-content-mv .sub-ttl {
    margin-top: 25px;
}

.sec-office-list {
    background-color: #f4f6f5;
    display: inline-block;
    width: 100%;
    padding-top: 147px;
}

.sec-office-list .intro-wrap {
    background-color: #009944;
    color: #ffffff;
    margin: -350px 0 60px;
    padding: 79px 0 87px;
    text-align: center;
    opacity: 0.9;
}

.sec-office-list .intro-wrap p {
    line-height: 2.9;
    font-size: 16px;
}

.sec-head-office {
    background-color: #ffffff;
    padding-bottom: 50px;
    margin-bottom: 70px;
    border-radius: 5px;
}

.sec-office-01 {
    padding-bottom: 0;
}

.sec-head-office .office-desc {
    float: left;
    width: 37.1%;
    padding: 5.2% 5.1% 0 7.8%;
}

.sec-head-office .office-desc-01 {
    padding-top: 10%;
}

.sec-head-office .office-img {
    float: right;
    width: 50%;
}

.category-ttl {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 60px;
}

.category-ttl:before {
    position: absolute;
    top: 5px;
    left: -21%;
    width: 62px;
    height: 8px;
    content: "";
    background: #009944;
}

.sec-head-office .office-desc .office-ttl {
    font-size: 22px;
    font-weight: 700;
    color: #009944;
}

.sec-head-office .office-desc .office-txt {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.sec-head-office .office-desc li {
    padding: 30px 0 30px;
    border-bottom: 1px solid #e0e4e2;
}

.sec-head-office .office-desc li:first-child {
    padding: 30px 0 50px;
}

.sec-head-office .office-desc li:last-child {
    border: none;
}

.sec-head-office .office-desc .phone-no {
    font-size: 16px;
    font-weight: 500;
}

.sec-head-office .office-desc .phone-no img {
    width: 18px;
    padding-right: 7px;
}

.sec-head-office .office-desc .google-map {
    margin-top: 18px;
    font-size: 12px;
}

.sec-head-office .office-desc .google-map a {
    color: #949598;
}

.sec-head-office .office-desc .google-map img {
    width: 14px;
    padding-left: 7px;
}

.sec-head-office .office-desc .inner-ttl {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.sec-head-office .contact-no {
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}

.sec-head-office .contact-ph {
    padding-right: 20px;
}

.sec-head-office .contact-ph img {
    width: 13px;
    padding-right: 7px;
}

.sec-head-office .contact-fax img {
    width: 11px;
    padding-right: 7px;
}

.sec-head-office .office-img p {
    padding: 21px 25px;
    background-color: #009944;
    font-size: 14px;
    color: #ffffff;
}

.sec-head-office .office-img span {
    font-weight: 700;
    padding-right: 25px;
    color: #66c28f;
}

.sec-head-office .office-img img {
    width: 100%;
}

.box-r .office-img {
    float: left;
    width: 50%;
}

.box-r .office-desc {
    float: right;
    width: 38.1%;
    padding: 10% 6.8% 0 5.1%;
}

.sec-model-gp {
    padding: 60px 90px 80px 90px;
    margin-bottom: 130px;
}

.sec-model-gp .category-ttl:before {
    left: -8.5%;
}
.sec-model-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.sec-model-wrapper img {
    width: 100%;
    height: auto;
}
.sec-model-gp .sec-model-box {
    width: 33.3333%;
    padding: 0 15px 30px;
    box-sizing: border-box;
}

.sec-model-gp .sec-model-box .model-txt-box {
    margin-top: 30px;
}

.sec-model-gp .sec-model-box .logo-office-01 {
    width: 130px;
}

.sec-model-gp .sec-model-box .logo-office-02 {
    width: 170px;
}

.sec-model-gp .sec-model-box .model-txt-box .model-ttl {
    margin: 30px 0 10px;
    font-size: 16px;
    font-weight: 700;
}


/* .sec-model-gp .sec-model-box .model-txt-box .model-ttl-01 {
    margin-top: 35px;
} */

.sec-model-gp .sec-model-box .model-txt-box .model-txt {
    font-size: 12px;
    color: #009944;
}

.sec-model-gp .sec-model-box .model-txt-box .model-txt-01 {
    margin-top: 28px;
    font-size: 14px;
    line-height: 2;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
    .sec-head-office .office-img img {
        width: 100%;
    }
    .sec-model-gp .category-ttl:before {
        left: -9.4%;
    }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .sec-office .page-content-mv h2 {
        text-align: center;
        padding: 9vw 0 14.667vw;
    }
    .sec-office .page-content-mv .sub-ttl {
        margin-top: 6.667vw;
    }
    .sec-office .page-content-mv h2 img {
        width: 68vw;
    }
    .sec-office-list {
        padding-top: 59.333vw;
    }
    .sec-office-list .intro-wrap {
        margin: -72vw 0 9.333vw;
        padding: 8.933vw 10.667vw 8.933vw;
    }
    .sec-office-list .intro-wrap p {
        line-height: 2;
        font-size: 3.200vw;
    }
    .sec-head-office {
        padding: 10.667vw 8vw;
        margin-bottom: 5.333vw;
        border-radius: 1.267vw;
    }
    .sec-office-01 {
        padding-bottom: 0;
    }
    .sec-head-office .office-desc {
        float: none;
        width: 100%;
        padding: 0;
    }
    .sec-head-office .office-img {
        float: none;
        width: 100%;
    }
    .sec-head-office .office-img img {
        width: 100%;
    }
    .category-ttl {
        font-size: 3.733vw;
        margin-bottom: 10.167vw;
    }
    .category-ttl:before {
        top: 1vw;
        left: -8vw;
        width: 4.400vw;
        height: 2vw;
    }
    .sec-head-office .office-desc .office-ttl {
        font-size: 4.533vw;
    }
    .sec-head-office .office-desc .office-txt {
        font-size: 3.200vw;
        line-height: 1.5;
        margin-bottom: 4vw;
        letter-spacing: 0.4vw;
    }
    .sec-head-office .office-desc li {
        padding: 7.733vw 0 7.733vw;
        border-bottom: 0.133vw solid #e0e4e2;
    }
    .sec-head-office .office-desc li:first-child {
        padding: 4.3vw 0 8.1vw;
    }
    .sec-head-office .office-desc .phone-no {
        font-size: 4.267vw;
    }
    .sec-head-office .office-desc .phone-no img {
        width: 4.667vw;
        padding-right: 2.667vw;
    }
    .sec-head-office .office-desc .google-map {
        margin-top: 3.767vw;
        font-size: 3.200vw;
    }
    .sec-head-office .office-desc .google-map img {
        width: 3.667vw;
        padding-left: 2.667vw;
    }
    .sec-head-office .office-desc .inner-ttl {
        font-size: 3.200vw;
        margin-bottom: 5.333vw;
    }
    .sec-head-office .contact-no {
        font-size: 4.267vw;
        padding-left: 1vw;
        letter-spacing: -0.1vw;
    }
    .sec-head-office .contact-ph {
        padding-right: 2.5vw;
    }
    .sec-head-office .contact-ph img {
        width: 3.333vw;
        padding-right: 2vw;
    }
    .sec-head-office .contact-fax img {
        width: 3.067vw;
        padding-right: 2vw;
    }
    .sec-head-office .office-img p {
        padding: 3.733vw 4.667vw;
        font-size: 3.200vw;
        line-height: 1.5;
    }
    .sec-head-office .office-img span {
        display: block;
        padding-right: 0;
    }
    .sec-head-office .office-descbox {
        margin-bottom: 18.400vw;
    }
    .sec-head-office .office-descbox:last-child {
        margin-bottom: 0;
    }
    .sec-office-01 {
        padding-bottom: 10.667vw;
    }
    .box-r .office-img {
        float: none;
        width: 100%;
    }
    .box-r .office-desc {
        float: none;
        width: 100%;
        padding: 0;
    }
    .sec-model-gp {
        padding: 10.667vw 8vw;
        margin-bottom: 17.333vw;
    }
    .sec-model-gp .category-ttl:before {
        left: -8vw;
    }
    .sec-model-gp .sec-model-box {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .sec-model-gp .sec-model-box img {
        width: 100%;
    }
    .sec-model-gp .sec-model-box .model-txt-box {
        margin-top: 6.667vw;
    }
    .sec-model-gp .sec-model-box .logo-office-01 {
        width: 30.400vw;
    }
    .sec-model-gp .sec-model-box .logo-office-02 {
        width: 26.133vw;
    }
    .sec-model-gp .sec-model-box .model-txt-box .model-ttl {
        margin: 6.667vw 0 2.667vw;
        font-size: 3.733vw;
        line-height: 1.35;
    }
    /* .sec-model-gp .sec-model-box .model-txt-box .model-ttl-01 {
        margin-top: 6.667vw;
    } */
    .sec-model-gp .sec-model-box .model-txt-box .model-txt {
        font-size: 3.200vw;
        line-height: 1.5;
    }
    .sec-model-gp .sec-model-box .model-txt-box .model-txt-01 {
        margin: 2.667vw 0 0;
        font-size: 3.200vw;
    }
    .sec-model-gp .sec-model-box:last-child {
        margin-top: 10vw;
    }
}