/* gaiyo common 
-----------------------------------------------------------------*/

.page-content-mv .sub-ttl {
  margin-top: 25px;
}

.ttl-message {
  display: block;
  width: 100%;
  padding-bottom: 40px;
}

.ttl-message span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffdd29;
  color: #fff;
  padding: 8px 17px;
  text-align: center;
}

.sub-ttl {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 1.5px;
  display: block;
}

.philosophy-tit {
  position: relative;
  margin-bottom: 54px;
  font-size: 18px;
  color: #2a2c31;
  text-align: left;
}

.philosophy-tit span {
  display: inline-block;
  margin-left: 87px;
  color: #2a2c31;
  font-size: 18px;
  font-weight: 500;
}

.philosophy-tit:before {
  content: "";
  width: 63px;
  height: 8px;
  background-color: #009944;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gaiyo-philosophy .page-content-mv h2 {
  padding: 34px 0 85px;
}

.gaiyo-philosophy .page-content-mv h2 img {
  margin: 0 auto;
}


/* philosophy-content
-----------------------------------------------------------------*/

.philosophy-content {
  padding-bottom: 130px;
  background: #f4f6f5;
  color: #2a2c31;
}

.bg-white {
  margin-top: 50px;
  padding: 52px 0 117px 0;
  background: #fff;
  border-radius: 5px;
}

.top-bg-white {
  margin-top: 120px;
}

.philosophy-inner {
  padding: 0 0 70px 0;
  text-align: center;
}

.philosophy-inner .txt-color {
  color: #2a2c31;
  font-size: 14px;
  opacity: .5;
  line-height: 1.85;
}

.philosophy-inner h3 {
  color: #009944;
  font-size: 32px;
  font-weight: bold;
  line-height: 2.4;
}

.philosophy-inner .txt-content {
  padding-top: 5px;
  color: #2a2c31;
  font-size: 16px;
  font-weight: 400;
}


/* philosophy-content
-----------------------------------------------------------------*/

.vision-sec {
  text-align: center;
}

.vision-sec .vision-left,
.vision-sec .vision-right {
  width: 49.9%;
  float: left;
}

.vision-sec .vision-right {
  width: 49.9%;
  float: right;
}

.vision-sec img {
  width: 100%;
}

.vision-sec .vision-tit {
  display: inline-block;
  margin-bottom: 17px;
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #009944;
  padding: 45px 0 12px 0;
}

.vision-sec p {
  line-height: 2.57;
}


/* brandlogo-sec
-----------------------------------------------------------------*/

.brandlogo-sec .brand-txt {
  text-align: center;
  font-size: 16px;
  line-height: 2.5;
}

.brandlogo-sec figure {
  padding: 0 0 60px;
}

.brandlogo-sec figure img {
  margin: 0 auto;
}

.brandlogo-sec ul {
  padding: 0 100px;
}

.brandlogo-sec ul li {
  float: left;
  width: 21.3%;
  margin: 0 4.9% 6.6% 0;
  text-align: center;
}

.brandlogo-sec ul li:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}

.brandlogo-sec ul li:nth-child(n+5) {
  margin-bottom: 0;
}

.brandlogo-sec ul li .bg-gray {
  position: relative;
  padding: 102px;
  text-align: center;
  background: #f9fafa;
  border-radius: 100px;
}

.brandlogo-sec ul li .bg-gray img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.brandlogo-sec h5 {
  margin: 30px 0 15px 0;
  font-size: 16px;
  color: #009944;
  line-height: 1.625;
}

.brandlogo-sec p {
  font-size: 12px;
  line-height: 2.5;
}


/* philosophy.html
-----------------------------------------------------------------*/


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
  .vision-sec .vision-left,
  .vision-sec .vision-right {
    width: 49.7%;
  }
}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
  .gaiyo-philosophy .page-content-mv h2 {
    padding: 8vw 0 11.067vw 0;
  }
  .gaiyo-philosophy .page-content-mv h2 img {
    width: 68.533vw;
  }
  .gaiyo-philosophy .ttl-message {
    padding-bottom: 2.4vw;
  }
  .gaiyo-philosophy .ttl-message span {
    font-size: 3.200vw;
    padding: 1.4vw 1.9vw;
  }
  .gaiyo-philosophy .sub-ttl {
    margin-top: 1.467vw;
    font-size: 2.933vw;
  }
  .gaiyo-philosophy .l-inner {
    width: 92%;
    min-width: 92%;
  }
  .philosophy-content {
    padding-bottom: 17.333vw;
  }
  .bg-white.top-bg-white {
    margin-top: 10.367vw;
  }
  .bg-white {
    margin-top: 5.333vw;
    padding: 9.667vw 0 10vw;
    ;
  }
  .philosophy-tit:before {
    width: 4.533vw;
    height: 2vw;
  }
  .philosophy-tit span {
    margin-left: 8vw;
    font-size: 3.733vw;
  }
  .philosophy-inner .txt-color {
    margin-bottom: 1.4vw;
    font-size: 3.200vw;
    line-height: 1.58;
  }
  .philosophy-tit {
    margin-bottom: 9.467vw;
  }
  .philosophy-inner h3 {
    font-size: 6.133vw;
    line-height: 1.2;
  }
  .philosophy-inner {
    padding: 0 0 8.867vw 0;
  }
  .philosophy-inner .txt-content {
    font-size: 3.467vw;
    padding: 3vw 8vw 0 8vw;
    line-height: 1.85;
    text-align: justify;
  }
  .vision-sec .vision-left {
    width: 100%;
    padding-bottom: 11.66vw;
  }
  .vision-sec .vision-right {
    width: 100%;
    padding-bottom: 0;
  }
  .vision-sec .vision-tit {
    margin-bottom: 4.667vw;
    font-size: 4vw;
    padding: 3.667vw 0 1vw 0;
    line-height: 1.33;
  }
  .vision-sec .vision-tit {
    border-bottom: 0;
    margin-bottom: 2.533vw;
  }
  .vision-sec .vision-tit span {
    display: inline-block;
    border-bottom: 2px solid #009944;
    line-height: 1.8;
  }
  .vision-sec p {
    padding: 0 8vw;
    line-height: 1.83;
    letter-spacing: -0.160vw;
    font-size: 3.2vw;
    text-align: center;
  }
  .brandlogo-sec ul {
    padding: 0 8vw;
  }
  .brandlogo-sec figure img {
    width: 32vw;
  }
  .brandlogo-sec ul li .bg-gray {
    float: left;
    width: 43%;
    padding: 15.6vw 0;
    border-radius: 17.333vw;
  }
  .brandlogo-sec ul li {
    float: none;
    width: 100%;
    margin-bottom: 4vw;
  }
  .brandlogo-sec ul li:nth-child(n+5) {
    margin-bottom: 4vw;
  }
  .brandlogo-sec ul li div {
    width: 50%;
    display: inline-block;
    margin-left: 4.400vw;
  }
  .brandlogo-sec h5 {
    margin: 3.333vw 0 1.5vw;
    font-size: 3.467vw;
    line-height: 1.15;
    text-align: left;
  }
  .brandlogo-sec p {
    font-size: 2.933vw;
    line-height: 1.54;
    width: 53%;
    display: inline-block;
    text-align: left;
    width: 100%;
  }
  .brandlogo-sec .brand-txt {
    font-size: 3.467vw;
    line-height: 1.85;
    text-align: justify;
    padding: 0 8vw;
    box-sizing: border-box;
  }
  .brandlogo-sec ul li .bg-gray img {
    width: 12vw;
  }
  .brandlogo-sec figure {
    padding-bottom: 14.667vw;
  }
}