.policy {
    max-width: 1920px;
    margin: 0 auto;
    background: url(/assets/img/contact/mv_confirm.png) no-repeat top left;
    background-size: auto;
}

.policy .page-content-mv h2 {
    padding: 74px 0 105px 0;
}

.policy p {
    line-height: 2.4;
}

.policy .page-content-mv .sub-ttl {
    margin-top: 21px;
}

.policy p.lin-h {
    line-height: 2.5;
}

.policy p span {
    padding-right: 6px;
}

.policy .page-content-mv {
    background: none;
    margin: 0 auto;
    background-size: auto;
}

.policy-tit {
    text-align: center;
    position: relative;
    font-size: 26px;
    letter-spacing: 2px;
    padding-top: 18px;
    margin-bottom: 53px;
}

.policy-tit::after {
    content: "";
    background: #009944;
    width: 45px;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -34px;
    margin: 0 auto;
}

.policy h4 {
    color: #009944;
    letter-spacing: 3.7px;
    padding-bottom: 23px;
}

.privact-txt {
    padding-bottom: 67px;
}

.policy-list01 {
    margin: 15px 0 5px 36px;
}

.policy-list01 li {
    padding-bottom: 24px;
}

.policy-sub-tit02 {
    margin-top: 68px;
}

.policy-list02 {
    margin: 2px 0 14px 56px;
    text-indent: -22px;
    line-height: 2.5;
}

.policy-list03 {
    margin: 1px 0 66px 54px;
    line-height: 2.5;
    text-indent: -20px;
}

.policy-sub-tit04 {
    margin-top: 65px;
}

.policy-sub-tit05 {
    margin-top: 67px;
}

.policy-btn {
    margin: 35px 0 130px 0;
    text-align: left;
}

.policy-btn a {
    width: 363px;
    text-align: center;
    letter-spacing: 2px;
}


/* media query -> tablet 
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {}


/* media query -> sp 
=================================================================*/

@media screen and (max-width:767px) {
    .policy {
        background: none;
        max-width: 100%;
    }
    .policy .page-content-mv {
        background: url('/assets/img/service/mv_service_sp.png') no-repeat top left;
        background-size: 80%;
        max-width: 100%;
        margin: 0 auto;
    }
    .policy .page-content-mv .sub-ttl {
        margin-top: 2.667vw;
    }
    .policy-btn a {
        width: 75.333vw;
    }
    .policy .page-content-mv h2 {
        padding: 26.667vw 0;
    }
    .policy-tit {
        font-size: 4.800vw;
        padding-top: 0;
        margin-bottom: 9.067vw;
        line-height: 1.5;
    }
    .policy-tit::after {
        bottom: -5.067vw;
    }
    .policy p {
        font-size: 3.467vw;
        line-height: 2;
    }
    .privact-txt {
        padding-bottom: 9.333vw;
    }
    .policy h4 {
        font-size: 3.733vw;
        padding-bottom: 3.333vw;
    }
    .policy ul {
        font-size: 3.467vw;
    }
    .policy ul li {
        padding-bottom: 2.667vw;
    }
    .policy-list01 {
        margin: 2.667vw 0 1.067vw 6.667vw;
    }
    .policy-sub-tit02 {
        margin-top: 10vw;
    }
    .privacy-list02 {
        margin: 0 0 2.067vw 13.667vw;
        text-indent: -6vw;
        line-height: 2;
    }
    .policy .policy-list02 li {
        padding-bottom: 0;
    }
    .privacy-list03 {
        margin: 0 0 10vw 13.667vw;
        text-indent: -6vw;
        line-height: 2;
    }
    .policy .policy-list03 li {
        padding-bottom: 0;
    }
    .policy-sub-tit04 {
        margin-top: 10vw;
    }
    .policy-sub-tit05 {
        margin-top: 10vw;
    }
    .policy-btn {
        margin: 6.667vw 0 17.333vw 0;
    }
}