/* sdgs common
-----------------------------------------------------------------*/

.sdgs .page-content-mv h2 {
  padding-bottom: 116px;
}

.sdgs-border {
  padding: 50px 60px;
  border-radius: 12px;
  background-color: #ffffff;
}

.sdgs-block {
  margin: 50px 0;
}

.sdgs-btn {
  display: block;
  font-size: 14px;
  color: #3d64ee;
  text-align: center;
  line-height: 3;
  border: 1px solid #3d64ee;
  border-radius: 50px;
  transition: .5s;
  margin: 15px 0;
}

.sdgs-btn:hover {
  color: #ffffff;
  background: #3d64ee;
}

.sdgs-content {
  background: #f4f6f5;
}

.content-photo {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

.page-content {
  /*background: url('../img/common/bg_logo.png')no-repeat top 250px right, url('../img/common/bg_logo.png')no-repeat bottom 35% left -7%, url('../img/common/bg_logo.png')no-repeat bottom -100px right;
  background-size: 32%, 31%, 23%;*/
  max-width: 1920px;
  margin: 0 auto;
}


/* content-intro
-----------------------------------------------------------------*/

.content-intro {
  background: #fff;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 3px 7px #e2e2e2;
}

.content-intro h3 {
  font-size: 32px;
  color: #ffffff;
  padding: 44px 0;
  text-align: center;
  letter-spacing: 2px;
}

.content-intro .content-sub-ttl {
  font-size: 28px;
  text-align: center;
  padding: 70px 0 40px 0;
}

.content-intro .intro-txt {
  font-size: 16px;
  text-align: center;
  line-height: 2.5;
  padding-bottom: 70px;
}


/* sdgs-detail-list
-----------------------------------------------------------------*/

.sdgs-detail {
  padding-bottom: 120px;
}

.sdgs-detail-list li {
  margin: 50px 0 60px 0;
}

.sdgs-detail-list li h4 {
  font-size: 28px;
  line-height: 2;
  position: relative;
  padding-left: 33px;
}

.sdgs-detail-list li h4:before {
  width: 6px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 0;
  background-image: linear-gradient(to top, #3d64ee 0%, #1db1eb 100%), linear-gradient(to top, #3d64ee 0%, #1db1eb 100%);
  content: '';
}

.sdgs-detail-list li .sdgs-img {
  float: left;
  width: 50%;
}

.sdgs-detail-list li .description {
  float: left;
  width: 43%;
  padding-left: 7%;
  line-height: 2.5;
  margin-top: -12px;
  text-align: justify;
}

.sdgs-detail-list li.right .sdgs-img {
  float: right;
  width: 50%;
}

.sdgs-detail-list li.right .description {
  float: left;
  padding-left: 0;
}

.sdgs-detail-list li .description .sdgs-btn {
  width: 258px;
  padding: 4px 22px;
  margin-top: 38px;
}


/* sdgs-store-list
-----------------------------------------------------------------*/

.sdgs-store h4 {
  font-size: 24px;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}

.sdgs-store-list li {
  float: left;
  width: 240px;
  margin-right: 24px;
}

.sdgs-store-list li:last-child {
  margin-right: 0;
}

.sdgs-store-list li img {
  width: 100%;
  margin-bottom: 15px;
}

.sdgs-store-list h5 {
  font-size: 14px;
  line-height: 2;
  color: #000000;
}

.sdgs-store-list .address {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 2px;
}


/* sdgs-site
-----------------------------------------------------------------*/

.sdgs-site h4 {
  font-size: 24px;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}

.sdgs-site h5 {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px;
}

.sdgs-site .site-info {
  margin-right: 6.5%;
  width: 62%;
  float: left;
}

.sdgs-site .description {
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.8px;
  text-align: justify;
}

.sdgs-site .site-img {
  display: inline-block;
  position: relative;
  width: 312px;
  text-align: center;
  border: 1px solid #d9d9d9;
  padding: 20px 0;
  vertical-align: top;
}

.sdgs-site .site-img a.site-link {
  display: block;
}

.sdgs-site .site-img img {
  width: 100%;
}

.sdgs-site .site-img .sitelink {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}


/* related-sdgs
-----------------------------------------------------------------*/

.related-sdgs {
  background: #ffffff;
  padding: 120px 0 50px 0;
}

.related-sdgs h3 {
  font-size: 24px;
  text-align: center;
}

.related-sdgs .sdgs-btn {
  width: 258px;
  padding: 4px 22px;
  margin-top: 38px;
}


/* sdgs-list
-----------------------------------------------------------------*/

.sdgs-list {
  padding: 110px 0;
  background: url('../img/common/bg_logo.png')no-repeat bottom -60px right;
  background-size: 20%;
  max-width: 1920px;
  margin: 0 auto;
}

.sdgs-list li {
  width: 345px;
  margin: 0 0 60px 0;
  padding: 4px 0 0 0;
  border-radius: 4px;
}

.sdgs-list li h5 {
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  padding: 32px 0;
}

.sdgs-list li.s-ttl h5 {
  padding: 20px 0;
}

.sdgs-list li:last-child {
  margin-bottom: 0;
}


/* sdgs top page
-----------------------------------------------------------------*/

.sdgs-top .page-content-mv {

  min-height: 460px;
  background: url('../img/sdgs/mv_sdgs.png') no-repeat top left #ffffff;
  background-size: auto;
  max-width: 1760px;
  margin: 0 auto;
  background-size: auto;
}

.sdgs-top .page-content {
  /*background: url('../img/common/bg_logo.png')no-repeat top 286px right, url('../img/common/bg_logo.png')no-repeat bottom 48% left -7%, url('../img/common/bg_logo.png')no-repeat bottom right;
  background-size: 32%, 31%, 23%;*/
  max-width: 1920px;
  margin: 0 auto;
}

.sdgs-top .sdgs-content {
  position: relative;
  padding-top: 10px;
	padding-bottom: 110px;
}

.sdgs-top .content-photo {
  margin-top: -130px;
}

.sdgs-top .sdgs-intro {
  padding: 100px 0 100px 0;
}

.sdgs-top .sdgs-intro h3 {
  font-size: 34px;
  line-height: 1.5;
  color: #009944;
  text-align: center;
  margin-bottom: 25px;
}

.sdgs-top .sdgs-intro p {
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
}

.sdgs-top .sdgs-list {
  padding: 0 0 140px 0;
  background: none;
}

.sdgs-top .sdgs-list li {
  width: 48.5%;
  margin-right: 3%;
}

.sdgs-top .sdgs-list li:hover a img {
  opacity: .8;
}

.sdgs-top .sdgs-list li a {
  display: block;
}

.sdgs-top .sdgs-list li a img {
  width: 100%;
}

.sdgs-top .sdgs-list li:nth-child(even) {
  margin-right: 0;
}

.sdgs-top .sdgs-list li .description {
  padding: 40px 50px;
  text-align: center;
}

.sdgs-top .sdgs-list li h4 {
  font-size: 28px;
  line-height: 1.4;
  display: inline;
}

.sdgs-top .sdgs-list li p {
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

.sdgs-top .sdgs-list li hr {
  width: 30px;
  height: 3px;
  margin: 20px auto;
}


/* baibai
-----------------------------------------------------------------*/

.baibai .page-content {
  background: url('../img/common/bg_logo.png')no-repeat top 250px right, url('../img/common/bg_logo.png')no-repeat bottom 45% left 0%, url('../img/common/bg_logo.png')no-repeat bottom -100px right;
  background-size: 32%, 27%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}

.baibai .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to top, #e9771f 0%, #eaaf1e 100%), linear-gradient(to top, #e9771f 0%, #eaaf1e 100%);
}

.sdgs-site .site-box {
  display: inline-block;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row-reverse;
}

.sdgs-site .site-box:last-child {
  margin-bottom: 35px;
}

.baibai .related-sdgs h3:before,
.baibai .related-sdgs h3:after {
  border-image: linear-gradient(to bottom, #e9771f, #eaa31e) 1 100%;
}

.baibai .sdgs-btn {
  color: #e9711f;
  border: 1px solid #e9711f;
}

.baibai .sdgs-btn:hover {
  color: #ffffff;
  background: #e9711f;
}


/* chumon
-----------------------------------------------------------------*/

.chumon .page-content {
  background: url('../img/common/bg_logo.png')no-repeat top 250px right, url('../img/common/bg_logo.png')no-repeat bottom 49.2% left -5%, url('../img/common/bg_logo.png')no-repeat bottom 11.5% right -11.5%;
  background-size: 32%, 31%, 30%;
  max-width: 1920px;
  margin: 0 auto;
}

.chumon .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to top, #1aaf53 0%, #9bcc16 100%), linear-gradient(to top, #1aaf53 0%, #eaaf1e 100%);
}

.sdgs-site .site-box {
  display: inline-block;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row-reverse;
}

.sdgs-site .site-box:last-child {
  margin-bottom: 35px;
}

.chumon .related-sdgs h3:before,
.chumon .related-sdgs h3:after {
  border-image: linear-gradient(to bottom, #1aaf53, #9bcc16) 1 100%;
}

.chumon .sdgs-btn {
  color: #1aaf53;
  border: 1px solid #1aaf53;
}

.chumon .sdgs-btn:hover {
  color: #ffffff;
  background: #1aaf53;
}


/* reform.html
-----------------------------------------------------------------*/

.reform h3.txt-bg:before {
  right: 46%;
}

.reform h3.txt-bg:after {
  left: 46%;
}

.reform .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%);
}

.reform h3.txt-bg04:before {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.reform h3.txt-bg04:after {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.reform .btn04 {
  border: 1px solid #b8c82e;
  color: #b8c82e;
  transition: .5s;
}

.reform .btn04:hover {
  background: #b8c82e;
  color: #fff;
}


/* .reform .sdgs-site .site-img {
    padding: 60px 0;
}

.reform .sdgs-site .site-img img {
    margin: 0 auto;
    width: auto;
} */


/* kanri.html
-----------------------------------------------------------------*/

.kanri .bg-gradient05 {
  background: linear-gradient(to right, #bac127 22%, #7cc53b 72%);
}

.kanri .txt-gradient05 {
  color: #bac127;
  background: -webkit-linear-gradient(-45deg, #bac127, #7cc53b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kanri .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 63%);
}


/* .kanri .sdgs-site .site-img {
    padding: 60px 0;
} */

.kanri .related-sdgs h3:before,
.kanri .related-sdgs h3:after {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.kanri .btn05 {
  border: 1px solid #84c438;
  color: #84c438;
  transition: .5s;
}

.kanri .btn05:hover {
  background: #84c438;
  color: #fff;
}

.kanri .content-intro h3:before {
  right: 35%;
}

.kanri .content-intro h3:after {
  left: 35%;
}


/* .kanri .sdgs-site .site-img img {
    margin: 0 auto;
    width: auto;
} */


/* hoken
-----------------------------------------------------------------*/

.hoken .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to top, #e8328d 0%, #ff70e2 100%), linear-gradient(to top, #e8328d 0%, #ff70e2 100%);
}

.hoken .page-content {
  background: url('../img/common/bg_logo.jpg')no-repeat top 11% right 0%, url('../img/common/bg_logo.jpg')no-repeat bottom 0% left -7%;
  background-size: 30%, 31%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}

.hoken .sdgs-list {
  padding-top: 0;
}

.sdgs-list .clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* shokunin.html
-----------------------------------------------------------------*/

.shokunin .bg-gradient07 {
  background: linear-gradient(to left, #7a4ad8 0%, #b352ba 75%);
}

.shokunin .txt-gradient07 {
  background: -webkit-linear-gradient(-18deg, #b352ba, #7d4ad7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shokunin .sdgs-detail-list li h4:before {
  background-image: linear-gradient(to top, #5054e9 0%, #7e39b2 90%);
}

.shokunin figure {
  display: block;
  float: left;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.shokunin .sdgs-detail-list li .sdgs-img01 {
  float: none;
  width: auto;
  margin: 0 auto;
}

.shokunin .sdgs-detail-list li .txt-description {
  float: right;
}

.shokunin .sdgs-block {
  position: relative;
}

.shokunin .sdgs-detail {
  padding-bottom: 0;
}

.shokunin .sdgs-detail-list li:nth-child(3) {
  margin-bottom: 0;
}

.shokunin .sdgs-detail-list li:nth-child(3) .sdgs-block {
  margin-bottom: 0;
}


/* media query -> tablet
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
  .content-photo.sp {
    display: none;
  }
  .sdgs-store-list li {
    width: 23.5%;
    margin-right: 2%;
  }
  .sdgs-site .site-info {
    width: 58%;
  }
  .sdgs-list li {
    width: 30.2%;
  }
  .sdgs-list li img {
    width: 100%;
  }
  .reform h3.txt-bg:before {
    right: 52%;
  }
  .reform h3.txt-bg:after {
    left: 52%;
  }
  .sdgs-top .sdgs-list li .description {
    padding: 30px;
  }
}


/* media query -> sp
=================================================================*/

@media screen and (max-width:767px) {
	
.sdgs .page-content-mv h2 img {
  width: 70vw !important;
}	

  .sdgs-site .site-box {
    flex-direction: column;
  }

  .sdgs .page-content-mv h2 {
    padding: 23vw 0 24.5vw 0;
  }
  .sdgs-border {
    padding: 10.667vw 8vw 4vw 8vw;
    width: 92vw;
    margin-left: -3.333vw;
    letter-spacing: 0.267vw;
    border-radius: 1.6vw;
  }
  .sdgs-btn {
    display: block;
    font-size: 3.2vw;
    color: #3d64ee;
    text-align: center;
    line-height: 2.7;
    border: 0.267vw solid #3d64ee;
    border-radius: 50px;
    transition: .5s;
    margin: 2.667vw auto 8vw;
  }
  .content-photo.pc {
    display: none;
  }
  .content-intro {
    margin-top: -16.8vw;
    box-shadow: none;
  }
  .content-intro h3 {
    font-size: 5.867vw;
    padding: 5.467vw 0;
  }
  .content-intro .content-sub-ttl {
    font-size: 5.067vw;
    line-height: 1.3;
    padding: 9.333vw 13.333vw 6.667vw 13.333vw;
  }
  .content-intro .intro-txt {
    font-size: 3.2vw;
    line-height: 2;
    padding: 0 13.333vw 10.133vw 13.333vw;
  }
  .sdgs-detail {
    padding-bottom: 13.333vw;
  }
  .sdgs-detail-list li {
    margin: 11.333vw 0 10vw 0;
  }
  .sdgs-detail-list li h4 {
    font-size: 5.067vw;
    line-height: 1.2;
    padding-left: 5.333vw;
    letter-spacing: 0.4vw;
  }
  .sdgs-detail-list li h4:before {
    width: 1.067vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #3d64ee 0%, #1db1eb 100%), linear-gradient(to top, #3d64ee 0%, #1db1eb 100%);
    content: '';
  }
  .sdgs-detail-list li .sdgs-img,
  .sdgs-detail-list li.right .sdgs-img {
    float: none;
    width: 100%;
  }
  .sdgs-detail-list li .description {
    font-size: 3.2vw;
    line-height: 1.6;
    float: none;
    width: 100%;
    margin-top: 4.267vw;
    padding-left: 0;
  }
  .sdgs-block {
    margin: 4.933vw 0 0 0;
  }
  .sdgs-store h4 {
    font-size: 4.8vw;
    line-height: 1.4;
    margin-bottom: 6.667vw;
  }
  .sdgs-store-list li {
    width: 46%;
    margin-right: 5.333vw;
  }
  .sdgs-store-list li:nth-child(even) {
    margin-right: 0;
  }
  .sdgs-store-list li img {
    width: 34.667vw;
  }
  .sdgs-store-list h5 {
    font-size: 2.7vw;
    line-height: 1.4;
  }
  .sdgs-store-list .address {
    font-size: 2.933vw;
    line-height: 2;
  }
  .sdgs-site h4 {
    font-size: 4.8vw;
    line-height: 1.4;
  }
  .sdgs-site h5 {
    font-size: 4vw;
    line-height: 1.7;
    margin: 3.333vw 0;
  }
  .sdgs-site .description {
    font-size: 3.2vw;
    line-height: 1.6;
    letter-spacing: 0.267vw;
  }
  .sdgs-site.sdgs-border {
    padding: 10.667vw 8vw;
    margin-top: 30px;
  }
  .sdgs-site .site-info {
    width: 100%;
    margin-right: 0;
  }
  .sdgs-site .site-img {
    width: 100%;
  }
  .related-sdgs .sdgs-btn {
    width: 100%;
    padding: 0;
    font-size: 26px;
  }
  .related-sdgs {
    background: #ffffff;
    padding: 13.333vw 0;
  }
  .related-sdgs h3 {
    font-size: 5.067vw;
    line-height: 1.3;
  }
  .related-sdgs .sdgs-btn {
    font-size: 3.467vw;
    margin: 5.333vw 0 0 0;
    padding: 2.533vw 0;
    border-radius: 15vw;
  }
  .related-sdgs .sdgs-detail-list li {
    margin: 8.667vw 0 0 0;
  }
  .sdgs-list {
    padding: 12vw 0 17.333vw 0;
  }
  .sdgs-list .l-inner {
    width: 92vw;
    margin-left: -3.333vw;
    margin: 0 auto;
  }
  .sdgs-list li {
    width: 48%;
    margin: 0 0 4% 0;
    padding: 0.533vw 0 0 0;
  }
  .sdgs-list li:nth-child(odd) {
    margin-right: 4%;
  }
  .sdgs-list li a {
    display: block;
  }
  .sdgs-list li img {
    width: 100%;
  }
  .sdgs-list li h5 {
    font-size: 4vw;
    padding: 3.333vw;
    line-height: 3.2;
  }
  .sdgs-list li:nth-child(4) h5,
  .sdgs-list li:nth-child(5) h5,
  .sdgs-list li:nth-child(6) h5 {
    line-height: 1.6;
  }
  .sdgs-list li.s-ttl h5 {
    padding: 3.333vw 0;
    letter-spacing: -0.4vw;
  }
  .page-content,
  .sdgs-list {
    background: none;
    max-width: 100%;
  }
  /* sdgs top page
  -----------------------------------------------------------------*/
  .sdgs-top .page-content-mv {
    background: url('../img/sdgs/mv_sdgs_sp.png') no-repeat top left #ffffff;
    background-size: contain;
    max-width: 100%;
    margin: 0 auto;
    min-height: auto;
  }
  .sdgs-top .page-content {
    max-width: 100%;
    padding-top: 18.667vw;
    margin-top: -18.667vw;
  }
  .sdgs-top .sdgs-content {
    padding-top: 0;
	padding-bottom: 55px;
  }
  .sdgs-top .content-photo {
    position: relative;
    margin-top: 0;
  }
  .sdgs-top .sdgs-intro {
    padding: 13.333vw 0 10.667vw 0;
  }
  .sdgs-top .sdgs-intro h3 {
    font-size: 5.6vw;
    line-height: 1.4;
    color: #009944;
    text-align: center;
    margin-bottom: 5.333vw;
  }
  .sdgs-top .sdgs-intro p {
    font-size: 3.267vw;
    line-height: 2.2;
    text-align: center;
  }
  .sdgs-top .sdgs-list {
    padding: 0 0 16vw 0;
  }
  .sdgs-top .sdgs-list .l-inner {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .sdgs-top .sdgs-list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5.333vw;
    padding-top: 0.5vw;
  }
  .sdgs-top .sdgs-list li a {
    display: block;
  }
  .sdgs-top .sdgs-list li a img {
    width: 100%;
  }
  .sdgs-top .sdgs-list li .description {
    padding: 6.667vw;
  }
  .sdgs-top .sdgs-list li h4 {
    font-size: 5.067vw;
    line-height: 1.8;
    text-align: center;
  }
  .sdgs-top .sdgs-list li p {
    font-size: 3.2vw;
    line-height: 1.6;
  }
  .sdgs-top .sdgs-list li hr {
    width: 5.333vw;
    height: 0.533vw;
    margin: 2vw auto 2.667vw auto;
  }
  /* baibai
  -----------------------------------------------------------------*/
  .baibai .page-content {
    background: none;
    max-width: 100%;
  }
  .baibai .sdgs-btn {
    color: #e9711f;
    border: 0.267vw solid #e9711f;
  }
  .baibai .sdgs-site .site-box {
    margin-bottom: 7.333vw;
  }
  .baibai .sdgs-site .site-box:last-child {
    margin-bottom: 0;
  }
  /* reform.html
  -----------------------------------------------------------------*/
  .reform .content-intro {
    margin-top: -25.733vw;
  }
  .reform .content-intro h3 {
    padding: 7vw 0;
  }
  .reform .content-intro .content-sub-ttl {
    padding: 9.333vw 9.067vw 6.667vw 9.067vw;
  }
  .reform .content-intro .intro-txt {
    padding: 0 9.067vw 10.133vw 9.067vw;
  }
  .reform .sdgs-detail-list li h4 {
    line-height: 1.3;
    padding-left: 5.600vw;
  }
  /* .reform .sdgs-site .site-img {
        padding: 13.333vw 0;
    }
    .reform .sdgs-site .site-img img {
        width: 66%;
    } */
  .reform h3.txt-bg04:before {
    height: 6.667vw;
    width: 0.667vw;
    right: 52%;
    top: 0;
  }
  .reform h3.txt-bg04:after {
    height: 6.667vw;
    width: 0.667vw;
    left: 52%;
    top: 0;
  }
  .reform .border04 {
    background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%), linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%);
  }
  .reform h3.txt-bg:before {
    right: 73%;
  }
  .reform h3.txt-bg:after {
    left: 73%;
  }
  .reform .sdgs-site .site-img .sitelink {
    width: 6.8vw;
    height: 6.8vw;
  }
  .reform .sdgs-site h4 {
    margin-bottom: 7.733vw;
  }
  /* kanri.html
  -----------------------------------------------------------------*/
  .kanri .content-intro {
    margin-top: -16.833vw;
  }
  .kanri .content-intro .content-sub-ttl {
    padding: 9.333vw 6.033vw 6.667vw 6.033vw;
  }
  .kanri .content-intro h3:before {
    right: 79%;
  }
  .kanri .content-intro h3:after {
    left: 79%;
  }
  .kanri .content-intro .intro-txt {
    padding: 0 9.333vw 10.133vw 9.333vw;
  }
  .kanri .sdgs-detail-list li h4:before {
    height: 100%;
  }
  .kanri .sdgs-detail-list li h4:before {
    background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 0%);
  }
  /* .kanri .sdgs-site .site-img {
        padding: 13.333vw 0;
    }
    .kanri .sdgs-site .site-img img.kanri-sp {
        width: 50%;
    } */
  .kanri .related-sdgs h3:before {
    height: 6.667vw;
    width: 0.667vw;
    right: 52%;
    top: 0;
  }
  .kanri .related-sdgs h3:after {
    height: 6.667vw;
    width: 0.667vw;
    left: 52%;
    top: 0;
  }
  /* chumon
  -----------------------------------------------------------------*/
  .chumon .page-content {
    background: none;
    max-width: 100%;
  }
  /* hoken
  -----------------------------------------------------------------*/
  .hoken .page-content {
    background: none;
    max-width: 100%;
  }
  .hoken .sdgs-detail-list li {
    margin: 11.333vw 0 0 0;
  }
  /* shokunin.html
  -----------------------------------------------------------------*/
  .shokunin .content-intro {
    margin-top: -16.833vw;
  }
  .shokunin .sdgs-detail-list li h4 {
    padding-left: 5.333vw;
  }
  .shokunin .sdgs-detail-list li h4:before {
    height: 100%;
  }
  .shokunin figure {
    width: 100%;
    float: none;
    top: auto;
    transform: initial;
    position: inherit;
  }
  .shokunin .content-intro .intro-txt {
    padding: 0 9.867vw 10.133vw 9.867vw;
  }
  .shokunin .sdgs-detail-list li .sdgs-img01 {
    width: 100%;
  }
}

















.sdgs-w-box{
	background: #fff;
	padding: 60px;
}

.ttl-sdgs-goals{
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

.ttl-sdgs-goals img{
	vertical-align: bottom;
	width: 605px;
}

.ul-sdgs-goals{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ul-sdgs-goals li{
	width: 165px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ul-sdgs-goals li:nth-of-type(6n){
	margin-right: 0;
}

.ul-sdgs-goals li img{
	width: 100%;
	vertical-align: bottom;
}

#about-sdgs{
	margin-top: 40px;
}

#about-sdgs h5 {
    font-size: 28px;
    line-height: 2;
    position: relative;
    padding-left: 33px;
	margin-bottom: 25px;
}

#about-sdgs h5:before {
    width: 6px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 0;
    background: #009944;
    content: '';
}

#about-sdgs p{
	line-height: 2.5;
	font-size: 16px;
}

#about-sdgs a{
	color: #009944;
	text-decoration: underline;
}

#about-sdgs p a img {
    width: 16px;
    height: 16px;
    padding-left: 12px;
    vertical-align: baseline;
}

@media only screen and (min-width:768px) and (max-width:1280px) {

.ul-sdgs-goals li{
	width: 144px;
}
	
}


@media screen and (max-width:767px) {
	
.sdgs-w-box{
	padding: 50px 20px 30px;
}	
	
.ttl-sdgs-goals{
	margin-bottom: 20px;
}

.ttl-sdgs-goals img{
	width: 70%;
}

.ul-sdgs-goals li{
	width: calc(100%/6);
	margin-right: 0;
	margin-bottom: 10px;
	text-align: center;
}

.ul-sdgs-goals li:nth-of-type(6n){
	margin-right: 0;
}

.ul-sdgs-goals li img{
	width: 94%;
}

#about-sdgs{
	margin-top: 30px;
}

#about-sdgs h5 {
    font-size: 5.067vw;
    line-height: 1.2;
    padding-left: 5.333vw;
	letter-spacing: 0.4vw;
	margin-bottom: 25px;
}

#about-sdgs h5:before {
    width: 1.067vw;
    height: 100%;
    top: 0;
}

#about-sdgs p{
	line-height:2.2;
	font-size: 3.2vw;
}

#about-sdgs p a img {
    width: 3.2vw;
    height: 3.2vw;
    padding-left: 1.6vw;
}	
	
}


  /* sdgs-content-target
  -----------------------------------------------------------------*/

#sdgs-content-target{
	padding: 110px 0;
	background: #fff;
}

#sdgs-content-target h3{
	display: block;
	text-align: center;
	margin-bottom: 70px;
}

#sdgs-content-target h3 span{
	display: block;
	margin-top: 35px;
	font-size: 16px;
}

.box-sdgs-target{
	border: 4px solid #009944;
	border-radius: 6px;
	background: #fff;
	margin-bottom: 60px;
	position: relative;
	padding-bottom: 50px;
}

.y-left-top{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 48px 48px 0 0;
	border-color: #009945 transparent transparent transparent;
	top: 0;
	left: 0;
	position: absolute;
}

.ttl-sdgs-target{
	display: table;
	padding: 50px ;
	background: #eef8f0;
	width: 100%;
	box-sizing: border-box;
}

.ttl-sdgs-target h4{
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-size: 32px;
	line-height: 1.8;
}

#sdgs-target-04 .ttl-sdgs-target h4{
	width: 50%;
}

.ttl-sdgs-target h4 span{
	display: block;
	font-size: 16px;
	margin-top: 10px;
	color: #009944;
}

.rabel-sdgs-target{
	display: table-cell;
	width: 50%;
	text-align: right;
	vertical-align: middle;
}

#sdgs-target-04 .rabel-sdgs-target{
	width: 50%;
}

.rabel-sdgs-target img{
	width: 6.2vw;
	vertical-align: middle;
	margin-left: 8px;
}

.content-sdgs-target{
	background: #fff;
	padding: 50px 50px 0;
}

.pic-sdgs-target{
	width: 50%;
	float: right;
}

.content-sdgs-target p{
	width: 46%;
	float: left;
	vertical-align: top;
	line-height: 2.4;
	font-size: 16px;
	text-align: justify;
}

.pic-sdgs-target img{
	width: 100%;
	vertical-align: top;
	border-radius: 8px;
}

@media only screen and (min-width:768px) and (max-width:1280px) {

.ttl-sdgs-target h4{
	font-size: 28px;
}

.rabel-sdgs-target img{
	width: 10vw;
}
	
}

@media screen and (max-width:767px) {

#sdgs-content-target{
	padding: 55px 0;
}

#sdgs-content-target h3{
	margin-bottom: 35px;
}
	
#sdgs-content-target h3 img{
    width: 100%;
}	

#sdgs-content-target h3 span{
	margin-top: 25px;
	font-size: 11px;
}

.box-sdgs-target{
	margin-bottom: 30px;
	padding-bottom: 25px;
}

.y-left-top{
	border-width: 30px 30px 0 0;
}

.ttl-sdgs-target{
	display: block;
	padding: 35px 10px;
}

.ttl-sdgs-target h4{
	display: block;
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin-bottom: 25px;
}

#sdgs-target-04 .ttl-sdgs-target h4{
	width: 100%;
}

.ttl-sdgs-target h4 span{
	font-size: 11px;
	margin-top: 8px;;
}

.rabel-sdgs-target{
	display: block;
	width: 100%;
	text-align: center;
}

#sdgs-target-04 .rabel-sdgs-target{
	width: 100%;
}

.rabel-sdgs-target img{
	width: 16vw;
	margin: 0 2px;
}

.content-sdgs-target{
	padding: 25px 20px 0;
}

.pic-sdgs-target{
	width: 98%;
	float: none;
	margin: 0 auto 20px;
}

.content-sdgs-target p{
	width: 98%;
	float: none;
	font-size: 12px;
	margin: 0 auto;
}
	
}

  /* sdgs-content-news
  -----------------------------------------------------------------*/

#sdgs-content-news{
	padding: 110px 0;
	background: #f4f6f5;
}

#sdgs-content-news h3{
	display: block;
	text-align: center;
	margin-bottom: 70px;
}

#sdgs-content-news h3 span{
	display: block;
	margin-top: 35px;
	font-size: 16px;
}

.news-container ul li {
  float: left;
  width: 360px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
}
.news-container .no-txt{
  margin-top: 40px;
  display: inline-block;
}
.news-container ul li a:hover {
  opacity: .9;
}
.news-container ul li:nth-child(3n-1) {
  margin: 0 40px;
}
.news-container .news-img {
  position: relative;
}
.news-container .news-img img {
  max-width: 100%;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.news-container .news-img .news-category {
  position: absolute;
  bottom: -15px;
  left: 40px;
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  background: #009944;
  padding: 3px 20px;
  border-radius: 3px;
}
.news-container .news-intro {
  position: relative;
  padding: 35px 40px;
}
.news-container .news-intro .news-ttl {
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 1px;
  text-align: justify;
}
.news-container .news-intro .news-date {
  font-size: 14px;
  color: #97999e;
  padding: 15px 0 10px 0;
  letter-spacing: 1px;
}

#sdgs-content-news .common-btn{
	margin: 60px 0 0;
}

@media only screen and (min-width:768px) and (max-width:1280px) {
	
  .news-container ul li {
    width: 31%;
  }
  .news-container ul li img {
    width: 100%;
  }
  .news-container ul li:nth-child(3n-1) {
    margin: 0 3.5%;
  }	
	
}

@media screen and (max-width:767px) {
	
#sdgs-content-news{
	padding: 55px 0;
}

#sdgs-content-news h3{
	margin-bottom: 35px;
}
	
#sdgs-content-news h3 img{
    width:40%;
}	

#sdgs-content-news h3 span{
	margin-top: 25px;
	font-size: 11px;
}	
	
  .news-container ul li {
    float: none;
    width: 100%;
    margin-bottom: 4vw;
  }
  .news-container ul li:last-child {
    margin-bottom: 0;
  }
  .news-container ul li:nth-child(3n-1) {
    margin: 0 auto 4vw auto;
  }
  .news-container ul li a {
    display: flex;
  }
  .news-container ul li a .news-img {
    display: flex;
    align-items: center;
  }	
  .news-container .news-img, .news-container .news-intro {
    display: inline-block;
  }
  .news-container .news-img {
    margin-right: 5.2vw;
  }
  .news-container .news-img img {
    width: 36vw;
    height: 30vw;
  }
  .news-container .news-img .news-category {
    right: 0;
    bottom: 0;
    left: auto;
    font-size: 1.867vw;
    padding: 0.667vw 3.733vw;
    border-radius: 0.667vw;
  }
  .news-container .news-intro .news-ttl {
    font-size: 2.933vw;
    line-height: 1.7;
    letter-spacing: 0.133vw;
    height: auto !important;
  }
  .news-container .news-intro .news-date {
    font-size: 2.667vw;
    padding: 2vw 0 1.333vw 1vw;
    letter-spacing: 2px;
  }
  .news-container .news-intro {
    width: 45%;
    padding: 4.2vw 0;
    letter-spacing: 1px;
  }

#sdgs-content-news .common-btn{
	margin: 45px 0 0;
}
	
}














