/* service common
-----------------------------------------------------------------*/

.service .page-content-mv h2 {
  padding-bottom: 116px;
}


/* .service .page-content-mv h2 {
  padding: 105px 0 110px 0;
} */


/* .service .page-content-mv .sub-ttl {
  margin-top: 25px;
} */

.service-border {
  padding: 50px 60px;
  border-radius: 12px;
  background-color: #ffffff;
}

.service-block {
  margin: 50px 0;
}

.service-btn {
  display: block;
  font-size: 14px;
  color: #3d64ee;
  text-align: center;
  line-height: 3;
  border: 1px solid #3d64ee;
  border-radius: 50px;
  transition: .5s;
  margin: 15px 0 0;
}

.service-btn:hover {
  color: #ffffff;
  background: #3d64ee;
}

.service-content {
  background: #f4f6f5;
}

.content-photo {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

.page-content {
  background: url('/assets/img/common/bg_logo.png')no-repeat top 250px right, url('/assets/img/common/bg_logo.png')no-repeat bottom 35% left -7%, url('/assets/img/common/bg_logo.png')no-repeat bottom -100px right;
  background-size: 32%, 31%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}


/* content-intro
-----------------------------------------------------------------*/

.content-intro {
  background: #fff;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 3px 7px #e2e2e2;
}

.content-intro h3 {
  font-size: 32px;
  color: #ffffff;
  padding: 44px 0;
  text-align: center;
  letter-spacing: 2px;
}

.content-intro .content-sub-ttl {
  font-size: 28px;
  text-align: center;
  padding: 70px 0 40px 0;
}

.content-intro .intro-txt {
  font-size: 16px;
  text-align: center;
  line-height: 2.5;
  padding-bottom: 70px;
}


/* service-detail-list
-----------------------------------------------------------------*/

.service-detail {
  padding-bottom: 120px;
}

.service-detail-list li {
  margin: 50px 0 60px 0;
}

.service-detail-list li h4 {
  font-size: 28px;
  line-height: 2;
  position: relative;
  padding-left: 33px;
}

.service-detail-list li h4:before {
  width: 6px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 0;
  background-image: linear-gradient(to top, #3d64ee 0%, #1db1eb 100%), linear-gradient(to top, #3d64ee 0%, #1db1eb 100%);
  content: '';
}

.service-detail-list li .service-img {
  float: left;
  width: 50%;
}

.service-detail-list li .description {
  float: left;
  width: 43%;
  padding-left: 7%;
  line-height: 2.5;
  margin-top: -12px;
  text-align: justify;
}

.service-detail-list li.right .service-img {
  float: right;
  width: 50%;
}

.service-detail-list li.right .description {
  float: left;
  padding-left: 0;
}

.service-detail-list li .description .service-btn {
  width: 258px;
  padding: 4px 22px;
  margin-top: 38px;
}


/* service-store-list
-----------------------------------------------------------------*/

.service-store h4 {
  font-size: 24px;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}

.service-store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (min-width:768px) {
    justify-content: center;
    width: 768px;
    margin: 0 auto;
  }
}

.service-store-list li {
  width: 240px;
  margin-right: 24px;

  @media only screen and (min-width:768px) {
    &:nth-child(1),
    &:nth-child(4) {
      margin-left: auto;
    }

    &:nth-child(3),
    &:nth-child(5) {
      margin-right: auto;
    }

    &:nth-child(n+4) {
      margin-top: 24px;
    }
  }
}

.service-store-list li img {
  width: 100%;
  margin-bottom: 15px;
}

.service-store-list h5 {
  font-size: 14px;
  line-height: 2;
  color: #000000;
}

.service-store-list .address {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 2px;
}


/* service-site
-----------------------------------------------------------------*/

.service-site h4 {
  font-size: 24px;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}

.service-site h5 {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px;
}

.service-site .site-info {
  margin-right: 6.5%;
  width: 62%;
  float: left;
}

.service-site .description {
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.8px;
  text-align: justify;
}

.service-site .site-img {
  display: inline-block;
  position: relative;
  width: 312px;
  text-align: center;
  border: 1px solid #d9d9d9;
  padding: 20px 0;
  vertical-align: top;
}

.service-site .site-img a.site-link {
  display: block;
}

.service-site .site-img img {
  width: 100%;
}

.service-site .site-img .sitelink {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}


/* related-service
-----------------------------------------------------------------*/

.related-service {
  background: #ffffff;
  padding: 120px 0 50px 0;
}

.related-service h3 {
  font-size: 24px;
  text-align: center;
}

.related-service .service-btn {
  width: 258px;
  padding: 4px 22px;
  margin-top: 38px;
}


/* service-list
-----------------------------------------------------------------*/

.service-list {
  padding: 110px 0;
  background: url('/assets/img/common/bg_logo.png')no-repeat bottom -60px right;
  background-size: 20%;
  max-width: 1920px;
  margin: 0 auto;
}

.service-list li {
  width: 345px;
  margin: 0 0 60px 0;
  padding: 4px 0 0 0;
  border-radius: 4px;
}

.service-list li h5 {
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  padding: 32px 0;
}

.service-list li.s-ttl h5 {
  padding: 20px 0;
}

.service-list li:last-child {
  margin-bottom: 0;
}


/* service top page
-----------------------------------------------------------------*/

.service-top .page-content-mv {

  min-height: 460px;
  background: url('/assets/img/service/mv_service.png') no-repeat top left #ffffff;
  background-size: auto;
  max-width: 1760px;
  margin: 0 auto;
  background-size: auto;
}

.service-top .page-content {
  background: url('/assets/img/common/bg_logo.png')no-repeat top 286px right, url('/assets/img/common/bg_logo.png')no-repeat bottom 48% left -7%, url('/assets/img/common/bg_logo.png')no-repeat bottom right;
  background-size: 32%, 31%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}

.service-top .service-content {
  position: relative;
  padding-top: 10px;
}

.service-top .content-photo {
  margin-top: -130px;
}

.service-top .service-intro {
  padding: 100px 0 100px 0;
}

.service-top .service-intro h3 {
  font-size: 34px;
  line-height: 1.5;
  color: #009944;
  text-align: center;
  margin-bottom: 25px;
}

.service-top .service-intro p {
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
}

.service-top .service-list {
  padding: 0 0 140px 0;
  background: none;
}

.service-top .service-list li {
  width: 48.5%;
  margin-right: 3%;
}

.service-top .service-list li:hover a img {
  opacity: .8;
}

.service-top .service-list li a {
  display: block;
}

.service-top .service-list li a img {
  width: 100%;
}

.service-top .service-list li:nth-child(even) {
  margin-right: 0;
}

.service-top .service-list li .description {
  padding: 40px 50px;
  text-align: center;
}

.service-top .service-list li h4 {
  font-size: 28px;
  line-height: 1.4;
  display: inline;
}

.service-top .service-list li p {
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

.service-top .service-list li hr {
  width: 30px;
  height: 3px;
  margin: 20px auto;
}


/* baibai
-----------------------------------------------------------------*/

.baibai .page-content {
  background: url('/assets/img/common/bg_logo.png')no-repeat top 250px right, url('/assets/img/common/bg_logo.png')no-repeat bottom 45% left 0%, url('/assets/img/common/bg_logo.png')no-repeat bottom -100px right;
  background-size: 32%, 27%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}

.baibai .service-detail-list li h4:before {
  background-image: linear-gradient(to top, #e9771f 0%, #eaaf1e 100%), linear-gradient(to top, #e9771f 0%, #eaaf1e 100%);
}

.service-site .site-box {
  display: inline-block;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row-reverse;
}

.service-site .site-box:last-child {
  margin-bottom: 35px;
}

.baibai .related-service h3:before,
.baibai .related-service h3:after {
  border-image: linear-gradient(to bottom, #e9771f, #eaa31e) 1 100%;
}

.baibai .service-btn {
  color: #e9711f;
  border: 1px solid #e9711f;
}

.baibai .service-btn:hover {
  color: #ffffff;
  background: #e9711f;
}


/* chumon
-----------------------------------------------------------------*/

.chumon .page-content {
  background: url('/assets/img/common/bg_logo.png')no-repeat top 250px right, url('/assets/img/common/bg_logo.png')no-repeat bottom 49.2% left -5%, url('/assets/img/common/bg_logo.png')no-repeat bottom 11.5% right -11.5%;
  background-size: 32%, 31%, 30%;
  max-width: 1920px;
  margin: 0 auto;
}

.chumon .service-detail-list li h4:before {
  background-image: linear-gradient(to top, #1aaf53 0%, #9bcc16 100%), linear-gradient(to top, #1aaf53 0%, #eaaf1e 100%);
}

.service-site .site-box {
  display: inline-block;
  margin-bottom: 85px;
  display: flex;
  flex-direction: row-reverse;
}

.service-site .site-box:last-child {
  margin-bottom: 35px;
}

.chumon .related-service h3:before,
.chumon .related-service h3:after {
  border-image: linear-gradient(to bottom, #1aaf53, #9bcc16) 1 100%;
}

.chumon .service-btn {
  color: #1aaf53;
  border: 1px solid #1aaf53;
}

.chumon .service-btn:hover {
  color: #ffffff;
  background: #1aaf53;
}


/* reform.html
-----------------------------------------------------------------*/

.reform h3.txt-bg:before {
  right: 46%;
}

.reform h3.txt-bg:after {
  left: 46%;
}

.reform .service-detail-list li h4:before {
  background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%);
}

.reform h3.txt-bg04:before {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.reform h3.txt-bg04:after {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.reform .btn04 {
  border: 1px solid #b8c82e;
  color: #b8c82e;
  transition: .5s;
}

.reform .btn04:hover {
  background: #b8c82e;
  color: #fff;
}


/* .reform .service-site .site-img {
    padding: 60px 0;
}

.reform .service-site .site-img img {
    margin: 0 auto;
    width: auto;
} */


/* kanri.html
-----------------------------------------------------------------*/

.kanri .bg-gradient05 {
  background: linear-gradient(to right, #bac127 22%, #7cc53b 72%);
}

.kanri .txt-gradient05 {
  color: #bac127;
  background: -webkit-linear-gradient(-45deg, #bac127, #7cc53b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kanri .service-detail-list li h4:before {
  background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 63%);
}


/* .kanri .service-site .site-img {
    padding: 60px 0;
} */

.kanri .related-service h3:before,
.kanri .related-service h3:after {
  border-image: linear-gradient(to bottom, #f4cb36, #b4c82e) 1 100%;
}

.kanri .btn05 {
  border: 1px solid #84c438;
  color: #84c438;
  transition: .5s;
}

.kanri .btn05:hover {
  background: #84c438;
  color: #fff;
}

.kanri .content-intro h3:before {
  right: 35%;
}

.kanri .content-intro h3:after {
  left: 35%;
}


/* .kanri .service-site .site-img img {
    margin: 0 auto;
    width: auto;
} */


/* hoken
-----------------------------------------------------------------*/

.hoken .service-detail-list li h4:before {
  background-image: linear-gradient(to top, #e8328d 0%, #ff70e2 100%), linear-gradient(to top, #e8328d 0%, #ff70e2 100%);
}

.hoken .page-content {
  background: url('/assets/img/common/bg_logo.jpg')no-repeat top 11% right 0%, url('/assets/img/common/bg_logo.jpg')no-repeat bottom 0% left -7%;
  background-size: 30%, 31%, 23%;
  max-width: 1920px;
  margin: 0 auto;
}

.hoken .service-list {
  padding-top: 0;
}

.service-list .clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* shokunin.html
-----------------------------------------------------------------*/

.shokunin .bg-gradient07 {
  background: linear-gradient(to left, #7a4ad8 0%, #b352ba 75%);
}

.shokunin .txt-gradient07 {
  background: -webkit-linear-gradient(-18deg, #b352ba, #7d4ad7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shokunin .service-detail-list li h4:before {
  background-image: linear-gradient(to top, #5054e9 0%, #7e39b2 90%);
}

.shokunin figure {
  display: block;
  float: left;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.shokunin .service-detail-list li .service-img01 {
  float: none;
  width: auto;
  margin: 0 auto;
}

.shokunin .service-detail-list li .txt-description {
  float: right;
}

.shokunin .service-block {
  position: relative;
}

.shokunin .service-detail {
  padding-bottom: 0;
}

.shokunin .service-detail-list li:nth-child(3) {
  margin-bottom: 0;
}

.shokunin .service-detail-list li:nth-child(3) .service-block {
  margin-bottom: 0;
}


/* media query -> tablet
=================================================================*/

@media only screen and (min-width:768px) and (max-width:1280px) {
  .content-photo.sp {
    display: none;
  }
  .service-site .site-info {
    width: 58%;
  }
  .service-list li {
    width: 30.2%;
  }
  .service-list li img {
    width: 100%;
  }
  .reform h3.txt-bg:before {
    right: 52%;
  }
  .reform h3.txt-bg:after {
    left: 52%;
  }
  .service-top .service-list li .description {
    padding: 30px;
  }
}


/* media query -> sp
=================================================================*/

@media screen and (max-width:767px) {

  .service-site .site-box {
    flex-direction: column;
  }

  .service .page-content-mv h2 {
    padding: 20vw 0 28.5vw 0;
  }
  .service-border {
    padding: 10.667vw 8vw 4vw 8vw;
    width: 92vw;
    margin-left: -3.333vw;
    letter-spacing: 0.267vw;
    border-radius: 1.6vw;
  }
  .service-btn {
    display: block;
    font-size: 3.2vw;
    color: #3d64ee;
    text-align: center;
    line-height: 2.7;
    border: 0.267vw solid #3d64ee;
    border-radius: 50px;
    transition: .5s;
    margin: 2.667vw auto 8vw;
  }
  .content-photo.pc {
    display: none;
  }
  .content-intro {
    margin-top: -16.8vw;
    box-shadow: none;
  }
  .content-intro h3 {
    font-size: 5.867vw;
    padding: 5.467vw 0;
  }
  .content-intro .content-sub-ttl {
    font-size: 5.067vw;
    line-height: 1.3;
    padding: 9.333vw 13.333vw 6.667vw 13.333vw;
  }
  .content-intro .intro-txt {
    font-size: 3.2vw;
    line-height: 2;
    padding: 0 13.333vw 10.133vw 13.333vw;
  }
  .service-detail {
    padding-bottom: 13.333vw;
  }
  .service-detail-list li {
    margin: 11.333vw 0 10vw 0;
  }
  .service-detail-list li h4 {
    font-size: 5.067vw;
    line-height: 1.2;
    padding-left: 5.333vw;
    letter-spacing: 0.4vw;
  }
  .service-detail-list li h4:before {
    width: 1.067vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #3d64ee 0%, #1db1eb 100%), linear-gradient(to top, #3d64ee 0%, #1db1eb 100%);
    content: '';
  }
  .service-detail-list li .service-img,
  .service-detail-list li.right .service-img {
    float: none;
    width: 100%;
  }
  .service-detail-list li .description {
    font-size: 3.2vw;
    line-height: 1.6;
    float: none;
    width: 100%;
    margin-top: 4.267vw;
    padding-left: 0;
  }
  .service-block {
    margin: 4.933vw 0 0 0;
  }
  .service-store h4 {
    font-size: 4.8vw;
    line-height: 1.4;
    margin-bottom: 6.667vw;
  }
  .service-store-list li {
    width: 46%;
    margin-right: 5.333vw;
  }
  .service-store-list li:nth-child(even) {
    margin-right: 0;
  }
  .service-store-list li img {
    width: 34.667vw;
  }
  .service-store-list h5 {
    font-size: 2.7vw;
    line-height: 1.4;
  }
  .service-store-list .address {
    font-size: 2.933vw;
    line-height: 2;
  }
  .service-site h4 {
    font-size: 4.8vw;
    line-height: 1.4;
  }
  .service-site h5 {
    font-size: 4vw;
    line-height: 1.7;
    margin: 3.333vw 0;
  }
  .service-site .description {
    font-size: 3.2vw;
    line-height: 1.6;
    letter-spacing: 0.267vw;
  }
  .service-site.service-border {
    padding: 10.667vw 8vw;
    margin-top: 30px;
  }
  .service-site .site-info {
    width: 100%;
    margin-right: 0;
  }
  .service-site .site-img {
    width: 100%;
  }
  .related-service .service-btn {
    width: 100%;
    padding: 0;
    font-size: 26px;
  }
  .related-service {
    background: #ffffff;
    padding: 13.333vw 0;
  }
  .related-service h3 {
    font-size: 5.067vw;
    line-height: 1.3;
  }
  .related-service .service-btn {
    font-size: 3.467vw;
    margin: 5.333vw 0 0 0;
    padding: 2.533vw 0;
    border-radius: 15vw;
  }
  .related-service .service-detail-list li {
    margin: 8.667vw 0 0 0;
  }
  .service-list {
    padding: 12vw 0 17.333vw 0;
  }
  .service-list .l-inner {
    width: 92vw;
    margin-left: -3.333vw;
    margin: 0 auto;
  }
  .service-list li {
    width: 48%;
    margin: 0 0 4% 0;
    padding: 0.533vw 0 0 0;
  }
  .service-list li:nth-child(odd) {
    margin-right: 4%;
  }
  .service-list li a {
    display: block;
  }
  .service-list li img {
    width: 100%;
  }
  .service-list li h5 {
    font-size: 4vw;
    padding: 3.333vw;
    line-height: 3.2;
  }
  .service-list li:nth-child(4) h5,
  .service-list li:nth-child(5) h5,
  .service-list li:nth-child(6) h5 {
    line-height: 1.6;
  }
  .service-list li.s-ttl h5 {
    padding: 3.333vw 0;
    letter-spacing: -0.4vw;
  }
  .page-content,
  .service-list {
    background: none;
    max-width: 100%;
  }
  /* service top page
  -----------------------------------------------------------------*/
  .service-top .page-content-mv {
    background: url('/assets/img/service/mv_service_sp.png') no-repeat top left #ffffff;
    background-size: contain;
    max-width: 100%;
    margin: 0 auto;
    min-height: auto;
  }
  .service-top .page-content {
    background: #f4f6f5;
    max-width: 100%;
    padding-top: 18.667vw;
    margin-top: -18.667vw;
  }
  .service-top .service-content {
    padding-top: 0;
    background: none;
  }
  .service-top .content-photo {
    position: relative;
    margin-top: 0;
  }
  .service-top .service-intro {
    padding: 13.333vw 0 10.667vw 0;
  }
  .service-top .service-intro h3 {
    font-size: 5.6vw;
    line-height: 1.4;
    color: #009944;
    text-align: center;
    margin-bottom: 5.333vw;
  }
  .service-top .service-intro p {
    font-size: 3.467vw;
    line-height: 1.6;
    text-align: center;
  }
  .service-top .service-list {
    padding: 0 0 16vw 0;
  }
  .service-top .service-list .l-inner {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .service-top .service-list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5.333vw;
    padding-top: 0.5vw;
  }
  .service-top .service-list li a {
    display: block;
  }
  .service-top .service-list li a img {
    width: 100%;
  }
  .service-top .service-list li .description {
    padding: 6.667vw;
  }
  .service-top .service-list li h4 {
    font-size: 5.067vw;
    line-height: 1.8;
    text-align: center;
  }
  .service-top .service-list li p {
    font-size: 3.2vw;
    line-height: 1.6;
  }
  .service-top .service-list li hr {
    width: 5.333vw;
    height: 0.533vw;
    margin: 2vw auto 2.667vw auto;
  }
  /* baibai
  -----------------------------------------------------------------*/
  .baibai .page-content {
    background: none;
    max-width: 100%;
  }
  .baibai .service-btn {
    color: #e9711f;
    border: 0.267vw solid #e9711f;
  }
  .baibai .service-site .site-box {
    margin-bottom: 7.333vw;
  }
  .baibai .service-site .site-box:last-child {
    margin-bottom: 0;
  }
  /* reform.html
  -----------------------------------------------------------------*/
  .reform .content-intro {
    margin-top: -25.733vw;
  }
  .reform .content-intro h3 {
    padding: 7vw 0;
  }
  .reform .content-intro .content-sub-ttl {
    padding: 9.333vw 9.067vw 6.667vw 9.067vw;
  }
  .reform .content-intro .intro-txt {
    padding: 0 9.067vw 10.133vw 9.067vw;
  }
  .reform .service-detail-list li h4 {
    line-height: 1.3;
    padding-left: 5.600vw;
  }
  /* .reform .service-site .site-img {
        padding: 13.333vw 0;
    }
    .reform .service-site .site-img img {
        width: 66%;
    } */
  .reform h3.txt-bg04:before {
    height: 6.667vw;
    width: 0.667vw;
    right: 52%;
    top: 0;
  }
  .reform h3.txt-bg04:after {
    height: 6.667vw;
    width: 0.667vw;
    left: 52%;
    top: 0;
  }
  .reform .border04 {
    background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%), linear-gradient(to bottom, #f4cb36 0%, #b4c82e 100%);
  }
  .reform h3.txt-bg:before {
    right: 73%;
  }
  .reform h3.txt-bg:after {
    left: 73%;
  }
  .reform .service-site .site-img .sitelink {
    width: 6.8vw;
    height: 6.8vw;
  }
  .reform .service-site h4 {
    margin-bottom: 7.733vw;
  }
  /* kanri.html
  -----------------------------------------------------------------*/
  .kanri .content-intro {
    margin-top: -16.833vw;
  }
  .kanri .content-intro .content-sub-ttl {
    padding: 9.333vw 6.033vw 6.667vw 6.033vw;
  }
  .kanri .content-intro h3:before {
    right: 79%;
  }
  .kanri .content-intro h3:after {
    left: 79%;
  }
  .kanri .content-intro .intro-txt {
    padding: 0 9.333vw 10.133vw 9.333vw;
  }
  .kanri .service-detail-list li h4:before {
    height: 100%;
  }
  .kanri .service-detail-list li h4:before {
    background-image: linear-gradient(to bottom, #f4cb36 0%, #b4c82e 0%);
  }
  /* .kanri .service-site .site-img {
        padding: 13.333vw 0;
    }
    .kanri .service-site .site-img img.kanri-sp {
        width: 50%;
    } */
  .kanri .related-service h3:before {
    height: 6.667vw;
    width: 0.667vw;
    right: 52%;
    top: 0;
  }
  .kanri .related-service h3:after {
    height: 6.667vw;
    width: 0.667vw;
    left: 52%;
    top: 0;
  }
  /* chumon
  -----------------------------------------------------------------*/
  .chumon .page-content {
    background: none;
    max-width: 100%;
  }
  /* hoken
  -----------------------------------------------------------------*/
  .hoken .page-content {
    background: none;
    max-width: 100%;
  }
  .hoken .service-detail-list li {
    margin: 11.333vw 0 0 0;
  }
  /* shokunin.html
  -----------------------------------------------------------------*/
  .shokunin .content-intro {
    margin-top: -16.833vw;
  }
  .shokunin .service-detail-list li h4 {
    padding-left: 5.333vw;
  }
  .shokunin .service-detail-list li h4:before {
    height: 100%;
  }
  .shokunin figure {
    width: 100%;
    float: none;
    top: auto;
    transform: initial;
    position: inherit;
  }
  .shokunin .content-intro .intro-txt {
    padding: 0 9.867vw 10.133vw 9.867vw;
  }
  .shokunin .service-detail-list li .service-img01 {
    width: 100%;
  }
}
