.sitemap {
  max-width: 1920px;
  margin: 0 auto;
  background: url(/assets/img/contact/mv_confirm.png) no-repeat top left;
  background-size: auto;
}

.sitemap .page-content-mv {
  background: none
}

.sitemap .page-content-mv .sub-ttl {
  margin-top: 18px;
}

.sitemap .page-content-mv h2 {
  text-align: center;
  /* padding: 105px 0 125px; */
}

.sitemap ul.sitemap-list01 {
  border-top: 1px solid #d7dfdb;
  border-bottom: 1px solid #d7dfdb;
  font-size: 18px;
  padding-bottom: 54px;
}

.sitemap ul.sitemap-list01 li {
  border-bottom: 1px solid #d7dfdb;
}

.sitemap ul.sitemap-list01 li a {
  display: block;
  padding: 40px 0;
  background: url(/assets/img/sitemap/sitemap_icon.png) no-repeat center right 37px;
  font-weight: bold;
}

.sitemap ul.sitemap-list01>li:nth-child(3) {
  width: 48.6%;
  float: left;
  border-bottom: none;
  border-right: 1px solid #d7dfdb;
  margin: 61px 0 0 0;
}

.sitemap ul.sitemap-list01>li:nth-child(4) {
  width: 47.3%;
  float: right;
  border-bottom: none;
}

.sitemap ul.sitemap-list01>li:nth-child(3) a {
  padding: 0;
  background-position: 91% 100%;
}

.sitemap ul.sitemap-list01>li:nth-child(4) a {
  padding: 61px 0 0px;
  background-position: 93.8% 100%;
}

.sitemap ul.sitemap-list01>li:nth-child(3) ol {
  padding: 37px 0 0 40px;
}

.sitemap ul.sitemap-list01>li:nth-child(4) ol {
  padding: 38px 0 0 41px;
}

.sitemap ul.sitemap-list01>li:nth-child(3) ol li a {
  padding: 0 0 21px 0;
}

.sitemap ul.sitemap-list01>li:nth-child(3) ol li:last-child a {
  padding: 0;
}

.sitemap ul.sitemap-list01>li:nth-child(4) ol li a {
  padding: 0 0 21px 0;
}

.sitemap ul.sitemap-list01>li:nth-child(4) ol li:last-child a {
  padding: 0;
}

.sitemap ul.sitemap-list01 li ol>li {
  border-bottom: none;
  font-size: 16px;
}

.sitemap ul.sitemap-list01 li ol>li a {
  padding: 5px 0;
  background: none;
  font-weight: normal;
}

.sitemap ul.sitemap-list01 li ol>li a span {
  margin-right: 10px
}

.sitemap-list02 {
  font-size: 16px;
  margin-bottom: 131px;
}

.sitemap-list02 li {
  float: left;
}

.sitemap-list02 li a {
  position: relative;
  margin: 61px 56px 0 0;
}

.sitemap-list02 li a:after {
  position: absolute;
  content: "｜";
  top: 0;
  right: -37px;
}

.sitemap-list02 li:last-child a:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .sitemap {
    background: none;
    max-width: 100%;
  }
  .sitemap .page-content-mv {
    background: url(/assets/img/service/mv_service_sp.png) no-repeat top left;
    background-size: 80%;
    max-width: 100%;
    margin: 0 auto;
  }
  .sitemap .page-content-mv h2 {
    padding: 26vw 0;
  }
  .sitemap .page-content-mv h2 img {
    width: 52vw;
  }
  .sitemap .page-content-mv .sub-ttl {
    margin-top: 2.667vw;
  }
  .sitemap ul.sitemap-list01 {
    font-size: 3.733vw;
    padding-bottom: 6.667vw;
  }
  .sitemap ul.sitemap-list01 li a {
    padding: 6.667vw 0;
    background-position: center right 16px;
  }
  .sitemap ul.sitemap-list01>li:nth-child(3) {
    width: 100%;
    float: none;
    margin: 6.667vw 0 0 0;
    border-right: none;
    border-bottom: 1px solid #d7dfdb;
  }
  .sitemap ul.sitemap-list01>li:nth-child(3) a {
    background-position: center right 16px;
    padding-bottom: 1vw;
  }
  .sitemap ul.sitemap-list01>li:nth-child(3) ol {
    padding: 5.333vw 0 6vw 5.433vw;
  }
  .sitemap ul.sitemap-list01 li ol>li {
    font-size: 3.200vw;
  }
  .sitemap ul.sitemap-list01>li:nth-child(3) ol li a {
    padding: 0 0 3.333vw 0;
  }
  .sitemap ul.sitemap-list01>li:nth-child(4) {
    width: 100%;
    float: none;
    border-bottom: none;
    margin-top: 6vw;
  }
  .sitemap ul.sitemap-list01>li:nth-child(4) a {
    padding: 0 0 1vw;
    background-position: center right 16px;
  }
  .sitemap ul.sitemap-list01>li:nth-child(4) ol {
    padding: 5.333vw 0 0 5.433vw;
  }
  .sitemap ul.sitemap-list01 li ol>li a span {
    margin-right: 1.5vw;
  }
  .sitemap ul.sitemap-list01>li:nth-child(4) ol li a {
    padding: 0 0 3.333vw 0;
  }
  .sitemap-list02 {
    margin-top: 6.667vw;
  }
  .sitemap-list02 li a {
    margin: 0 9.767vw 3.600vw 0;
  }
  .sitemap-list02 {
    font-size: 3.200vw;
    margin-bottom: 13.733vw;
  }
  .sitemap-list02 li a:after {
    right: -7vw;
  }
}