@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* btn-type02
---------------------*/
#Pc #Main .section p.btn-type02{
	margin:55px auto 0 auto;
}
#Pc #Main .section p.btn-type02,
#Pc #Main .section p.btn-type02 input,
#Pc #Main .section p.btn-type02 span{
	width:158px;
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* btn-type02
---------------------*/
#Smp #Main .section .btn-type02{
	margin:25px auto 0 auto;
}