@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

#GlobalHeader .FunctionNav,
#Side,
#Main .pagetop{
	display:none !important;
}

/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


#Pc #Main .section {
	margin:0;
}
#Pc #Main .section div.input{
	margin:36px 0;
}
#Pc #Main .section div.input p{
	margin:20px 0;
}
#Pc #Main .section div.input p span.label{
	font-weight:bold;
	display:inline-block;
	width:120px;
}
#Pc #Main .section div.input p input{
	width:338px;
}
/* btn
---------------------*/
#Pc #Main .section div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Pc #Main .section div.set_one{
	width:160px !important;
}
#Pc #Main p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span,
#Pc #Main p.btn-type02,
#Pc #Main p.btn-type02 input,
#Pc #Main p.btn-type02 span{
	width:158px;
}
#Pc #Main .section div.btn p{
	float:left;
}
#Pc #Main .section div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Main .section div.set_one p.btn-type02{
	margin-left:0 !important;
}



/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

#Smp #Main .section form{
	padding:10px;
}

#Smp #Main .section div.input p span.label{
	display:block;
	font-weight:bold;
	margin-top:10px;
}

/* btn
---------------------*/
#Smp #Main .section p.btn-type01,
#Smp #Main .section p.btn-type01 input,
#Smp #Main .section p.btn-type01 span,
#Smp #Main .section p.btn-type02,
#Smp #Main .section p.btn-type02 input,
#Smp #Main .section p.btn-type02 span{
	width:100px;
}
#Smp #Main .section div.btn{
	width:245px;
	margin:25px auto 10px auto;
	overflow:hidden;
}
#Smp #Main .section div.btn p{
	float:left;
	margin:0 10px;
}
#Smp #Main .section input[type=text],
#Smp #Main .section input[type=password]{
	width:95%;
}