@charset "utf-8";

/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* menu
---------------------*/
#Pc #Main .section .menu{
	width:100%;
	overflow:hidden;
	margin:0 0 30px 0;
}
#Pc #Main .section .menu figure{
	width:108px;
	float:left;
	display:inline;
	position:relative;
	margin:0 30px 0 0;
	text-align:center;
	padding: 3px;
}


#Pc #Main .section .menu figure a.icon-link{
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e9eff7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9eff7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e9eff7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e9eff7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e9eff7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e9eff7 100%);
	border: 1px #c6dae4 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 2.8em;
	color: #5879BC;
	text-decoration: none;
}

#Pc #Main .section .menu figure a.icon-link:hover{
	box-shadow: 0 0 3px 1px rgba(88, 121, 180, 0.6);
}
/*
#Pc #Main .section .menu figure .toolTip:before{
	width:0;
	height:0;
	position:absolute;
	top:0;
	left:16px;
	
	border:5px solid transparent;
	border-bottom-color:#fff;
	content: ' ';
}
*/


#Pc #Main .section .menu figure figcaption{
	line-height:1.2;
	margin-top:7px;
}

/* alert
---------------------*/
#Pc #Main .section .alert p.fl{
	float:left;
	margin:0;
}
#Pc #Main .section .alert p.fr{
	float:right;
	margin:0;
}


/* list
---------------------*/
/* list-haed */
#Pc #Main .list-haed{
	overflow:hidden;
	padding:6px 12px 6px 18px;
	border:1px solid #cbd9e3;
	border-bottom:none;
	background-color:#eff6ff;
	
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	-pie-border-radius:5px 5px 0 0;
	
	box-shadow:0 1px 3px #C3C8D0;
	-moz-box-shadow:0 1px 3px #C3C8D0;
	-webkit-box-shadow:0 1px 3px #C3C8D0;
	-o-box-shadow:0 1px 3px #C3C8D0;
	-ms-box-shadow:0 1px 3px #C3C8D0;
	
	background-image:url("svg4ie9.php?t=eff6ff&b=e4edfd");
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#eff6ff),to(#e4edfd));
	background-image:-webkit-linear-gradient(top,#eff6ff,#e4edfd);
	background-image:-moz-linear-gradient(top,#eff6ff,#e4edfd);
	background-image:-ms-linear-gradient(top,#eff6ff,#e4edfd);
	background-image:-o-linear-gradient(top,#eff6ff,#e4edfd);
	-pie-background:linear-gradient(top,#eff6ff,#e4edfd);
}
#Pc #Main .list-haed h2{
	float:left;
	display:inline;
	font-size:124%;
	font-weight:block;
}
#Pc #Main .list-haed p{
	float:right;
	display:inline;
	margin:3px 0 0 0;
}
/* list-type01 */
#Pc #Main .list-type01{
	margin:0 0 20px 0;
	border:1px solid #cbd9e3;
	
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	-pie-border-radius:0 0 5px 5px;
}
#Pc #Main .list-type01 li{
	width:100%;
	overflow:hidden;
	padding:10px 0 10px 0;
	font-weight:normal;
	background-image:url("../images/common/table_bg_border.gif");
	background-repeat:repeat-x;
	background-position:0 100%;
}
#Pc #Main .list-type01 li.odd{
	background-color:#f7f9fb;
}
#Pc #Main .list-type01 li.last{
	background-image:url("");
}
#Pc #Main .list-type01 li.highlight{
	background-color:#fbf8e9 !important;
	-o-transition:all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#Pc #Main .list-type01 li a{
	width:68%;
	float:right;
	display:blank;
}
#Pc #Main .list-type01 li time,
#Pc #Main .list-type01 li span{
	width:15%;
	float:left;
	display:blank;
	text-align:center;
}
#Pc #Main .list-type01 li time{
	text-align:left;
	text-indent:20px;
}

#Pc #Main .list-type01 li.no-data {
    padding-left:15px;
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/
/* name
---------------------*/
#Smp #Main .section .name{
	margin:10px 10px 15px 10px;
	padding:0 0 0 18px;
	background:url("../images/common/side_ico_name.gif") no-repeat 0 2px;
}
/* menu
---------------------*/
#Smp #Main .section .menu{
	width:100%;
	overflow:hidden;
}
#Smp #Main .section .menu ul{
	width:100%;
	border-top:1px solid #bcbdbf;
}
#Smp #Main .section .menu ul li{
	width:100%;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #a4b4c4;
	background:-moz-linear-gradient(top,#f0f7ff,#e4edfd);
	background:-webkit-gradient(linear,left top,left bottom,from(#f0f7ff),to(#e4edfd));
	-pie-background:linear-gradient(top,#f0f7ff,#e4edfd);
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f0f7ff),to(#e4edfd));
	background-image:-webkit-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-moz-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-ms-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-o-linear-gradient(top,#f0f7ff,#e4edfd);
}
#Smp #Main .section .menu ul li a{
	display:block;
	padding:10px 0 10px 0;
	cursor:pointer;
	text-decoration:none;
	background-size:9px 13px;
	background-repeat:no-repeat;
	background-position:97% 50%;
	background-image:url("../images/smp/nav_ico_arrow.gif");
}
#Smp #Main .section .menu ul li a span{
	display:block;
	padding:0 0 0 35px;
	background-size:17px 15px;
	background-repeat:no-repeat;
	background-position:10px 50%;
}
#Smp #Main .section .menu ul li.list a span{background-image:url("../images/smp/side_ico_list.png");}
#Smp #Main .section .menu ul li.news a span{background-image:url("../images/smp/side_ico_news.png");}
#Smp #Main .section .menu ul li.category a span{background-image:url("../images/smp/side_ico_category.png");}
#Smp #Main .section .menu ul li.account a span{background-image:url("../images/smp/side_ico_account.png");}
#Smp #Main .section .menu ul li.media a span{background-image:url("../images/smp/side_ico_media.png");}


/* list
---------------------*/
/* list-haed */
#Smp #Main .list-haed{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:108%;
	background:url("../images/index/main_list_bg.gif") repeat-x 0 0;
}
#Smp #Main .list-haed h2{
	float:left;
	display:inline;
	margin:0 0 0 10px;
	font-weight:block;
	color:#FFFFFF;
	text-shadow:0 2px 2px #1b1c24;
}
#Smp #Main .list-haed p{
	width:60px;
	height:30px;
	float:right;
	display:inline;
	margin:4px 10px 0 0;
	border:1px solid #3e4553;
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	
	box-shadow:0 0 1px #4a515b;
	-moz-box-shadow:0 0 1px #4a515b;
	-webkit-box-shadow:0 0 1px #4a515b;
	-o-box-shadow:0 0 1px #4a515b;
	-ms-box-shadow:0 0 1px #4a515b;
	
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#474f5d),color-stop(49%,#434a58),color-stop(51%,#333545),color-stop(100%,#2a2939));
	background-image:-webkit-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-moz-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-ms-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-o-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	-pie-background-image:linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
}
#Smp #Main .list-haed p a{
	width:100%;
	height:30px;
	display:block;
	line-height:30px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
}
/* list-type01 */
#Smp #Main .list-type01{
	width:100%;
}
#Smp #Main .list-type01 li{
	padding:10px;
	border-bottom:1px solid #a4b4c4;
	background:url("../images/index/list_ico_arrow.gif") no-repeat 97% 50%;
	background-size:9px 13px;
}
#Smp #Main .list-type01 li.last{
	border:none;
}
#Smp #Main .list-type01 li a{
	display:block;
	margin:0 15px 0 0;
}
#Smp #Main .list-type01 li time{
	padding:0 15px 0 20px;
	background:url(../images/smp/ico_date.png) no-repeat 0 50%;
	background-size:17px 15px;
}
#Smp #Main .list-type01 li span{
	padding:0 15px 0 20px;
	background:url(../images/smp/side_ico_category.png) no-repeat 0 50%;
	background-size:17px 15px;
}
#Smp #Main .list-type01 li.no-data{
        background:none !important;
}