<div id="page-top">
  <img src="/assets/img/common/page_top.png" alt="page-top">
</div>

<div class="l-inner">
  <div class="footer-menulist pc clearfix">
    <ul>
      <li class="list"><a href="/service/">サービス・事業紹介</a></li>
      <li><a href="/service/chintai.html">不動産賃貸</a></li>
      <li><a href="/service/baibai.html">不動産売買</a></li>
      <li><a href="/service/chumon.html">注文住宅</a></li>
      <li><a href="/service/reform.html">リフォーム</a></li>
      <li><a href="/service/kanri.html">資産運用</a></li>
      <li><a href="/service/hoken.html">保険事業</a></li>
      <li><a href="/service/shokunin.html">職人事業</a></li>
    </ul>
    <ul>
      <li class="list"><a href="/gaiyo/">会社概要</a></li>
      <li><a href="/gaiyo/message.html">トップメッセージ</a></li>
      <li><a href="/gaiyo/philosophy.html">企業理念</a></li>
      <li><a href="/gaiyo/info.html">企業情報</a></li>
      <li><a href="/gaiyo/history.html">沿革</a></li>
      <li><a href="/gaiyo/office.html">事業所一覧</a></li>
    </ul>
    <ul>
      <li class="list"><a href="/advantage/">オールハウスの強み</a></li>
      <li class="list"><a href="/news/">お知らせ・イベント</a></li>
      <li class="list"><a href="/gallery/">MOVIEギャラリー</a></li>
      <li class="list">
        <a href="https://www.allhouse.co.jp/recruit/" target="_blank" class="link-list" id="F_RECRUIT">採用情報<img src="/assets/img/common/ico_link.png" alt="ico_link">
        </a></li>
    </ul>
    <ul>
      <li class="list"><a href="/contact/" id="F_CONTACT">お問い合わせ</a></li>
      <li class="list"><a href="/sitemap/">サイトマップ</a></li>
      <li class="list"><a href="/policy/">プライバシーポリシー</a></li>
    </ul>
  </div>
  <div class="footer-menulist sp clearfix">
    <ul>
      <li class="list acd-parent"><a href="javascript:void(0);" class="link">サービス・事業紹介</a>
        <ul class="acd-child">
          <li><a href="/service/">サービス・事業紹介</a></li>
          <li><a href="/service/chintai.html">不動産賃貸</a></li>
          <li><a href="/service/baibai.html">不動産売買</a></li>
          <li><a href="/service/chumon.html">注文住宅</a></li>
          <li><a href="/service/reform.html">リフォーム</a></li>
          <li><a href="/service/kanri.html">資産運用</a></li>
          <li><a href="/service/hoken.html">保険事業</a></li>
          <li><a href="/service/shokunin.html">職人事業</a></li>
        </ul>
      </li>

    </ul>
    <ul>
      <li class="list acd-parent"><a href="javascript:void(0);" class="link">会社概要</a>
        <ul class="acd-child">
          <li><a href="/gaiyo/">会社概要</a></li>
          <li><a href="/gaiyo/message.html">トップメッセージ</a></li>
          <li><a href="/gaiyo/philosophy.html">企業理念</a></li>
          <li><a href="/gaiyo/info.html">企業情報</a></li>
          <li><a href="/gaiyo/history.html">沿革</a></li>
          <li><a href="/gaiyo/office.html">事業所一覧</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li class="list list-02"><a href="/advantage/" class="link">オールハウスの強み</a></li>
      <li class="list list-02"><a href="/news/" class="link">お知らせ</a></li>
      <li class="list list-02"><a href="/gallery/" class="link">MOVIEギャラリー</a></li>
      <li class="list list-02"><a href="https://www.allhouse.co.jp/recruit/" target="_blank" class="link link-list" id="F_RECRUIT_SP">採用情報<img src="/assets/img/common/ico_link.png" alt="ico_link" class="pc"></a></li>
    </ul>
    <ul>
      <li class="list list-02"><a href="/contact/" class="link" id="F_CONTACT_SP">お問い合わせ</a></li>
      <li class="list-03"><a href="/sitemap/">サイトマップ</a></li>
      <li class="list-03"><a href="/policy/">プライバシーポリシー</a></li>
    </ul>
  </div>
</div>

  <div class="l-social">
    <div class="l-inner">
      <div class="social-content clearfix">
        <div class="social-item">
          <p class="social-ttl">本社</p>
          <div class="social-no">
            <p>〒735-0012</p>
            <p>広島県安芸郡府中町八幡1-4-23</p>
            <p>[TEL] 082-890-1002(代)</p>
          </div>
          <p class="social-ico">
            <a href="https://www.facebook.com/allhouse.official/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_facebook.png" alt="facebook" class="facebook"></a>
            <a href="https://twitter.com/allhouse_068" class="ico-01" target="_blank"><img src="/assets/img/common/ico_x.png" alt="X" class="twitter"></a>
            <a href="https://www.google.com/maps/place/〒735-0012+広島県安芸郡府中町八幡１丁目４−２３" target="_blank"><img src="/assets/img/common/ico_map.png" alt="map" class="map"></a>
          </p>
        </div>
        <div class="social-item">
          <p class="social-ttl">売買事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-3596</p>
            <p>[FAX] 082-890-1003</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/and_rees_allhouse/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
            <a href="https://www.facebook.com/allhouse068/" target="_blank"><img src="/assets/img/common/ico_facebook.png" alt="facebook" class="facebook"></a>
          </p>
        </div>
        <div class="social-item social-item-02">
          <p class="social-ttl">D'S STYLE事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-3596</p>
            <p>[FAX] 082-890-1003</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/dsstyle.hiroshima/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
          </p>
        </div>
        <div class="social-item social-item-01">
          <p class="social-ttl">建築事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-3597</p>
            <p>[FAX] 082-890-1003</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/utsuwa_architects/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
          </p>
        </div>
        <div class="social-item social-item-02">
          <p class="social-ttl">リフォーム事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-3598</p>
            <p>[FAX] 082-890-1003</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/renovation_allhouse/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
            <a href="https://www.facebook.com/allhouse.reform/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_facebook.png" alt="facebook" class="facebook"></a>
            <a href="https://twitter.com/renovation_all" target="_blank"><img src="/assets/img/common/ico_x.png" alt="x" class="twitter"></a>
          </p>
        </div>
        <div class="social-item">
          <p class="social-ttl management">プロパティマネジメント<br class="sp">事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-7771</p>
            <p>[FAX] 082-890-1003</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/allhouse_PM/" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
          </p>
        </div>
        <div class="social-item">
          <p class="social-ttl">賃貸事業部</p>
          <div class="social-no">
            <p>[TEL] 082-236-8948</p>
            <p>[FAX] 082-546-9077</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/and_room_allhouse/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
            <!-- <a href="https://www.facebook.com/allhouse.chintai/" class="ico-01"  target="_blank"><img src="/assets/img/common/ico_facebook.png" alt="facebook" class="facebook"></a> -->
            <a href="https://www.tiktok.com/@dousei.monthly" target="_blank"><img src="/assets/img/common/icon_tiktok.png" alt="tiktok" class="tiktok"></a>
          </p>
        </div>
        <div class="social-item">
          <p class="social-ttl">福岡支店</p>
          <div class="social-no">
            <p>〒814-0104</p>
            <p>福岡県福岡市城南区別府7丁目4-34エクセルコートゼンショウ1階2号室</p>
            <p>[TEL] 092-400-0717</p>
          </div>
          <p class="social-ico">
            <a href="https://www.instagram.com/5dhouse_allhouse/" class="ico-01" target="_blank"><img src="/assets/img/common/ico_instragram.png" alt="instragram" class="instragram"></a>
            <a href="https://www.google.com/maps/place/%E3%82%AA%E3%83%BC%E3%83%AB%E3%83%8F%E3%82%A6%E3%82%B9%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE+%E7%A6%8F%E5%B2%A1%E6%94%AF%E5%BA%97/@33.5697825,130.3678223,20.75z/data=!4m15!1m8!3m7!1s0x35419394fc44660d:0xd5eaf15c647242f5!2z44CSODE0LTAxMDQg56aP5bKh55yM56aP5bKh5biC5Z-O5Y2X5Yy65Yil5bqc77yX5LiB55uu77yU4oiS77yT77yU!3b1!8m2!3d33.5698977!4d130.3679965!16s%2Fg%2F11cnkq5n2x!3m5!1s0x35419394fc4468a5:0xc00f58fca6413941!8m2!3d33.569762!4d130.367968!16s%2Fg%2F11tnmxnsh9?entry=ttu" target="_blank"><img src="/assets/img/common/ico_map.png" alt="map" class="map"></a>
          </p>
        </div>
      </div>
    </div>
    <div class="copyright clearfix">
      <div class="l-inner">
        <div class="footer-logo">
          <a href="/" class="logo"><img src="/assets/img/common/footer_logo.png" alt="logo"></a>
        </div>
        <div class="footer-phno">
          <p><span>いいパパオールハウス</span>0120-188-068</p>
        </div>
        <p class="footer-copyright pc">Copyright © allhouse. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  <p class="footer-copyright sp">Copyright © allhouse. All Rights Reserved.</p>

<!-- sec-footer // -->
</footer>

<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/heightLine.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/animation.js"></script>
<script>
  $(window).on('load',function(){
    if ($(window).width() > 767) {
      $(".service-wrap ul li .service-txt").heightLine({ fontSizeCheck: true});
      $(".sec-site .site-item p").heightLine({ fontSizeCheck: true });
      $(".social-item").heightLine({ fontSizeCheck: true });
      $(".sec-footer .footer-menulist.pc ul").heightLine({ fontSizeCheck: true });
      $(".service-store-list .address").heightLine({ fontSizeCheck: true });
      $(".pagination li").heightLine({ fontSizeCheck: true });
      $(".service-top .service-list li").heightLine({ fontSizeCheck: true });

      $(".vision-left,.vision-right").heightLine({ fontSizeCheck: true });
      $(".brandlogo-sec ul li .bg-gray").heightLine({ fontSizeCheck: true });
    } else {
      $(".service-wrap ul li .service-txt").heightLine("destroy");
      $(".social-item").heightLine("destroy");
      $(".sec-footer .footer-menulist.pc ul").heightLine("destroy");
      $(".service-store-list .address").heightLine({fontSizeCheck: true});
      $(".pagination li").heightLine({fontSizeCheck: true});
      $(".service-top .service-list li").heightLine("destroy");

      $(".vision-left,.vision-right").heightLine("destroy");
      $(".brandlogo-sec ul li .bg-gray").heightLine("destroy");
    }
  });
</script>
