<div class="header-sec">
    <div class="wrap clearfix">
        <div class="header-logo">
            <h1>
                <a href="/"><img src="/assets/img/common/logo.png" alt="オールハウス株式会社" class="pc">
                    <img src="/assets/img/common/logo_sp.png" alt="オールハウス株式会社" class="sp"></a>
            </h1>
        </div>
        <div class="header-contact sp clearfix">
            <a href="/contact/" class="btn-contact" id="H_CONTACT_SP_01">お問い合わせ</a>
        </div>
        <div class="header-content pc">
            <nav id="gnav">
                <ul class="headermenu clearfix">
                    <li id="strength-menu"><a href="/advantage/">オールハウスの強み</a></li>
                    <li id="service-menu" class="mega-menu"><a href="/service/" class="service-top">サービス・事業紹介</a>
                        <div class="service-dropdown">
                            <div class="mega-menu-content">
                                <div class="list">
                                <ul class="l-inner clearfix service-submenu">
                                    <li>
                                        <a href="/service/chintai.html">
                                            <img src="/assets/img/service/img_service_01.jpg" alt="不動産賃貸">
                                            <h2 class="txt-gradient01">不動産賃貸</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service/baibai.html">
                                            <img src="/assets/img/service/img_service_02.jpg" alt="不動産売買">
                                            <h2 class="txt-gradient02">不動産売買</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service/chumon.html">
                                            <img src="/assets/img/service/img_service_03.jpg" alt="注文住宅">
                                            <h2 class="txt-gradient03">注文住宅</h2>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service/reform.html">
                                            <img src="/assets/img/service/img_service_04.jpg" alt="リフォーム">
                                            <h2 class="txt-gradient04">リフォーム</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service/kanri.html">
                                            <img src="/assets/img/service/img_service_05.jpg" alt="資産運用">
                                            <h2 class="txt-gradient05">資産運用</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/service/hoken.html">
                                            <img src="/assets/img/service/img_service_06.jpg" alt="保険事業">
                                            <h2 class="txt-gradient06">保険事業</h2>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="gaiyo-menu"><a href="/gaiyo/">会社概要</a></li>
                    <li id="news-menu"><a href="/news/">お知らせ・イベント</a></li>
                    <li id="sdgs-menu"><a href="/sdgs/" id="H_SDGS">SDGsへの取り組み</a></li>
                    <li id="recruit-menu"><a href="https://www.allhouse.co.jp/recruit/" target="_blank" id="H_RECRUIT">採用情報</a></li>
                    <li class="contact-btn"><a href="/contact/" id="H_CONTACT">お問い合わせ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="menu-icon">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav class="gnav-sp sp">
    <div class="l-inner">
        <ul class="gnav-sp-list clearfix">
            <li><a href="/advantage/">オールハウスの強み</a></li>
            <li><a id="show">サービス・事業紹介</a></li>
            <li><a href="/gaiyo/">会社概要</a></li>
            <li><a href="/news/">お知らせ・イベント</a></li>
            <li><a href="/sdgs/">SDGsへの取り組み</a></li>
            <li><a href="https://www.allhouse.co.jp/recruit/" target="_blank" id="H_RECRUIT_SP">採用情報</a></li>
            <li><a href="/contact/" id="H_CONTACT_SP_02">お問い合わせ</a></li>
        </ul>
    </div>
</nav>

<nav class="service-nav sp">
    <div class="service-nav-inner clearfix">
        <div id="close">
            <div class="close-bar1"></div>
            <div class="close-bar2"></div>
        </div>
        <div class="mega-menu-content">
            <ul class="clearfix">
                <li>
                    <a href="/service/">
                        <img src="/assets/img/service/img_service.jpg" alt="サービス・事業紹介">
                        <h2>サービス・事業紹介</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/chintai.html">
                        <img src="/assets/img/service/img_service_01.jpg" alt="不動産賃貸">
                        <h2 class="txt-gradient01">不動産賃貸</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/baibai.html">
                        <img src="/assets/img/service/img_service_02.jpg" alt="不動産売買">
                        <h2 class="txt-gradient02">不動産売買</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/chumon.html">
                        <img src="/assets/img/service/img_service_03.jpg" alt="注文住宅">
                        <h2 class="txt-gradient03">注文住宅</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/reform.html">
                        <img src="/assets/img/service/img_service_04.jpg" alt="リフォーム">
                        <h2 class="txt-gradient04">リフォーム</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/kanri.html">
                        <img src="/assets/img/service/img_service_05.jpg" alt="資産運用">
                        <h2 class="txt-gradient05">資産運用</h2>
                    </a>
                </li>
                <li>
                    <a href="/service/hoken.html">
                        <img src="/assets/img/service/img_service_06.jpg" alt="保険事業">
                        <h2 class="txt-gradient06">保険事業</h2>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- #header // -->