@charset "utf-8";

/* drop-upload
---------------------*/
#drop-upload #image-drop {
  border: #ea8c09 solid 1em;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  margin-bottom: 20px;
}
#drop-upload #image-drop.active{
  background: #fff9e5;
}
#drop-upload #image-preview{
	margin-bottom:20px;
}
#drop-upload #image-preview th,
#drop-upload #image-preview td{
  vertical-align: middle;
  text-align: center;
}
#drop-upload #image-preview {
	width:100%;
}
#drop-upload #image-preview td.image img{
  max-width: 100px;
  max-height: 100px;
}
#drop-upload #image-preview-tpl{
  display: none;
}
#drop-upload #image-select {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
}